doctype html
html 
  head
    title #{BrandName1} AC Service Center | #{NumValue}
    meta(name='Title' content=`${BrandName1} AC Service Center | ${NumValue}`)
    meta(name='description' content=`97844-67343 | Get the best, ${BrandName1} AC - ✓Service, ✓Repair, ✓Installation, ✓Uninstallation, ✓Gas filling etc. We provide services for all types of ${BrandName1} ACs.`)
    meta(name='keywords' content=`${BrandName1} Air Conditioner Repair, ${BrandName1} Air Conditioning Repair, ${BrandName1} Air Conditioner Service, ${BrandName1} Air Conditioning Service, ${BrandName1} AC Service Repair, ${BrandName1} AC Repair, ${BrandName1} Split AC Repair, ${BrandName1} Window AC Repair, ${BrandName1} AC Service Center, ${BrandName1} AC Service, ${BrandName1} Split AC Service Center, ${BrandName1} Window AC Service Center, ${BrandName1} AC gas filling, ${BrandName1} Split AC gas filling, ${BrandName1} Window AC gas filling, ${BrandName1} AC installation, ${BrandName1} AC uninstallation, ${BrandName1} Window AC Service, ${BrandName1} Window AC installation, ${BrandName1} Window AC uninstallation, ${BrandName1} Split AC Service, ${BrandName1} Split AC installation, ${BrandName1} Split AC uninstallation, ${BrandName1} AC repair service, ${BrandName1} Air Conditioning repair service, ${BrandName1} AC Repair Shops, best ${BrandName1} AC repair service, ${BrandName1} AC repair service reviews, ${BrandName1} AC repair center, ${BrandName1} AC repair charges, best ${BrandName1} AC repair, ${BrandName1} Air Conditioner Repair near me, ${BrandName1} Air Conditioning Repair near me, ${BrandName1} Air Conditioner Service near me, ${BrandName1} Air Conditioning Service near me, ${BrandName1} AC Repair near me, ${BrandName1} Split AC Repair near me, ${BrandName1} Window AC Repair near me, ${BrandName1} AC Service Center near me, ${BrandName1} AC Service near me, ${BrandName1} Split AC Service Center near me, ${BrandName1} Window AC Service Center near me, ${BrandName1} AC gas filling near me, ${BrandName1} Split AC gas filling near me, ${BrandName1} Window AC gas filling near me, ${BrandName1} AC installation near me, ${BrandName1} AC uninstallation near me, ${BrandName1} Window AC repair near me, ${BrandName1} Window AC Service near me, ${BrandName1} Window AC installation near me, ${BrandName1} Window AC uninstallation near me, ${BrandName1} Split AC repair near me, ${BrandName1} Split AC Service near me, ${BrandName1} Split AC installation near me, ${BrandName1} Split AC uninstallation near me, ${BrandName1} AC repair service near me, ${BrandName1} Air Conditioning repair service near me, ${BrandName1} AC Service Repair near me, best ${BrandName1} AC repair service near me, ${BrandName1} AC repair service reviews near me, ${BrandName1} AC Repair Shops near me, ${BrandName1} AC repair center near me, ${BrandName1} AC repair charges near me, best ${BrandName1} AC repair near me, ${BrandName1} AC customer care number, ${BrandName1} AC maintenance service, ${BrandName1} AC cleaning, ${BrandName1} AC customer care number near me, ${BrandName1} AC maintenance service near me, ${BrandName1} AC cleaning near me`)
    link(rel='canonical' href=`https://www.Servicerepairindia.com/${BrandName2}-AC-Service-Center`)
    meta(property='og:image' content='https://www.servicerepairindia.com/static/img/AC.webp')
    meta(property='og:title' content=`${BrandName1} AC Service Center | ${NumValue}`)
    meta(property='og:description' content=`97844-67343 | Get the best, ${BrandName1} AC - ✓Service, ✓Repair, ✓Installation, ✓Uninstallation, ✓Gas filling etc. We provide services for all types of ${BrandName1} ACs.`)
    meta(property='og:url' content=`https://www.Servicerepairindia.com/${BrandName2}-AC-Service-Center`)
    meta(property='al:ios:url' content=`https://www.Servicerepairindia.com/${BrandName2}-AC-Service-Center`)
    meta(name='twitter:card' content='summary')
    meta(name='twitter:site' content='@Service Repair India')
    meta(name='twitter:title' content=`${BrandName1} AC Service Center | ${NumValue}`)
    meta(name='twitter:description' content=`97844-67343 | Get the best, ${BrandName1} AC - ✓Service, ✓Repair, ✓Installation, ✓Uninstallation, ✓Gas filling etc. We provide services for all types of ${BrandName1} ACs.`)
    meta(name='twitter:image' content='https://www.servicerepairindia.com/static/img/AC.webp')
    meta(charset='UTF-8')
    meta(http-equiv='content-language' content='en-gb')
    meta(name='distribution' content='global')
    meta(name='copyright' content='Servicerepairindia.com')
    meta(property='og:type' content='website')
    meta(property='og:sitename' content='Servicerepairindia.com')
    meta(property='og:locale' content='en_GB')
    meta(name='format-detection' content='telephone=yes')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=5')
    meta(name='robots' content='INDEX, FOLLOW')
    meta(name='robots' content='noodp, noydir')
    meta(name='geo.region' content='IN')
    meta(name='googlebot' content='index, follow')
    link(rel='icon' href='/static/img/icon.webp')
    link(rel='stylesheet' href='/static/style.css')
    link(rel='stylesheet' href='/static/responsive.css' media='screen and (max-width:650px)')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css' integrity='sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==' crossorigin='anonymous' referrerpolicy='no-referrer')
    

  body 
  
    header.hdr
      .mainHeading Service Repair India
   

    nav.navbar.h-nav-Resp
        ul.navList.v-class-Resp
          li.listItem.A1
            a(href='/') Home
          li.listItem.A2
            a.active(href='/AC-Service-Center') AC
          li.listItem.A3
            a(href='/Refrigerator-Service-Center') Refrigerator
          li.listItem.A4
            a(href='/WashingMachine-Service-Center') Washing Machine
          li.listItem.A5
            a(href='/MicrowaveOven-Service-Center') Microwave
          li.listItem.A6
            a(href='/TV-Service-Center') TV
        .burger
          .line
          .line
          .line


    .fixed-call-Now
      a.call-A(href=`tel:${NumValue}`)
        img(src='/static/img/call.webp' loading='lazy' decoding='async' alt='Call Now')
        .call-Now  Call Now 





    section.numberSection
      .call Call Now -:
      .numbers
        #number1.number
          a(href='tel:9784467344') 97844-67344
        #number2.number
          a(href='tel:9784467343') 97844-67343
        #number3.number
          a(href='tel:8306511294') 83065-11294
        #number4.number
          a(href='tel:9875711293') 98757-11293
        #number5.number
          a(href='tel:9928622128') 99286-22128



   
    main 


      section.imgg
        img(src=`/static/img/${BrandName2}.webp` loading='lazy' decoding='async' alt=`${BrandName1}`)


      section.heading-Section
        h1.mainHeading2.mainHeading2Brand #{BrandName1} AC Service Center




      section.intro
          p.info-weDo
            | We understand the importance of a well-functioning AC and are committed to providing you with top-notch services. We provide a wide range of services for all types of #{BrandName1} ACs including Split, Window, Central, Cube, Hybrid, Cassette, Ductable, Commercial, Inverter, Non-inverter, Portable and Tower ACs. Our team of #{BrandName1} AC experts is dedicated to providing you the best service experience. We specialize in #{BrandName1} AC service, repair, installation, uninstallation, gas filling, and other related services. Our team can help you with all the issues such as cooling problems, gas and water leakages, relocation, and many more. We provide home services and cater to all brands of ACs. Trust us to keep your #{BrandName1} AC running smoothly all year round.







      section.services-Available
        .heading-weDo.marginTB.mbo
          | We provide a wide range of #{BrandName1} AC services.
          br
          | The major ones include:
     
 
        
        article#ac1
          .imgb
            img(src='/static/img/AC-2.webp' loading='lazy' decoding='async' alt=`${BrandName1} AC Service Repair`)
          .contentb  
            .dabba  
              ul
                li  
                  h2.ACcontent #{BrandName1} AC Service
                li  
                  h2.ACcontent #{BrandName1} AC Repair
                li  
                  h2.ACcontent #{BrandName1} AC Installation
                li  
                  h2.ACcontent #{BrandName1} AC Uninstallation
                li  
                  h2.ACcontent #{BrandName1} AC Gas Filling etc.
        
        article#ac2
          .imgb
            img(src='/static/img/AC-3.webp' loading='lazy' decoding='async' alt=`${BrandName1} Split AC Service Repair`)
          .contentb
            .dabba
              ul
                li  
                  h2.ACcontent #{BrandName1} Split AC Service
                li  
                  h2.ACcontent #{BrandName1} Split AC Repair
                li  
                  h2.ACcontent #{BrandName1} Split AC Installation
                li  
                  h2.ACcontent #{BrandName1} Split AC Uninstallation
                li  
                  h2.ACcontent #{BrandName1} Split AC Gas Filling etc.
              
        
        article#ac1
          .imgb
            img(src='/static/img/AC-4.webp' loading='lazy' decoding='async' alt=`${BrandName1} Window AC Service Repair`)
          .contentb  
            .dabba
              ul
                li  
                  h2.ACcontent #{BrandName1} Window AC Service
                li  
                  h2.ACcontent #{BrandName1} Window AC Repair
                li  
                  h2.ACcontent #{BrandName1} Window AC Installation
                li  
                  h2.ACcontent #{BrandName1} Window AC Uninstallation
                li  
                  h2.ACcontent #{BrandName1} Window AC Gas Filling etc.
              





      article
        .heading-all-about #{BrandName1} Air Conditioners
        .content-all-about
          p
            | #{BrandContent}






      article     
        .heading-all-about All About #{BrandName1} AC Service and Repair
        .content-all-about
          p        
            | Proper maintenance and care of your equipment is vital for its optimal functioning and longevity. This is especially true for your #{BrandName1} AC, which requires annual servicing before the season starts. Timely repairs are also crucial to prevent damage to the unit's parts. However, finding a reliable #{BrandName1} service professional can be a hassle. That's where Service Repair India comes in. With just one call, you can book a skilled #{BrandName1} AC professional for service and repairs from the comfort of your home. We offer flexible time slots to fit your schedule and provide 100% customer satisfaction. Plus, we stand behind our work with a 30-day service warranty so you can have peace of mind.





      article     
        .heading-all-about Our #{BrandName1} AC Services
        .content-all-about
          p
            | Since established in 2004, our #{BrandName1} AC services have consistently surpassed expectations and improved year after year. At Service Repair India, we are committed to ensuring your comfort and coolness all year round with our unmatched reliability and efficiency in #{BrandName1} air conditioning services. From installations and repairs to routine maintenance, we specialize in keeping your #{BrandName1} AC system running smoothly and effectively. Our certified #{BrandName1} technicians are proficient at quickly diagnosing and resolving issues using latest technology and high-quality genuine parts. We are dedicated to providing exceptional #{BrandName1} customer service with flexible scheduling, transparent pricing, and a satisfaction guarantee to ensure that every job is completed to your highest standards. With our extensive experience and a proven track record of excellence, we are the best choice for all your #{BrandName1} air conditioning needs. Trust us to get the best #{BrandName1} AC service and maintain your indoor climate perfectly balanced throughout the year.







      section.all-about
        .how-it-works How it works?
        .content-all-about
          p  
            | Looking for a quick and reliable way to find the best #{BrandName1} professionals near you? Look no further than us! Just give us a call, and tell us what type of service you need - whether it's #{BrandName1} Split AC, Window AC, or anything in between. We'll need some basic information from you, such as the problem with your #{BrandName1} AC, your location, and your preferred time. With this information, we'll send a skilled #{BrandName1} AC professional right to your doorstep at your requested time and place. Experience hassle-free #{BrandName1} service and get your #{BrandName1} AC up and running in no time!
        .reason-why-Us
          .Sub-reason-why-Us.padding-Left.padding-left-
            .reason
              .reason-Img.br58
                img(src='/static/img/call-us.webp' loading='lazy' id="call-heading" decoding='async' alt='Call us')
              .reason-content.normal-font Call us
            .reason.padding-Left
              .reason-Img.br58
                img(src='/static/img/service.webp' loading='lazy' decoding='async' alt='Tell us the service you require')
              .reason-content.normal-font Tell us the service you require
          .Sub-reason-why-Us
            .reason
              .reason-Img.br58
                img(src='/static/img/time-slot.webp' loading='lazy' decoding='async' alt='Select your desirable time-slot')
              .reason-content.normal-font Select your desirable time-slot
            .reason.hassle-free
              .reason-Img.large-Img.br58
                img(src='/static/img/hassle-free.webp' loading='lazy' decoding='async' alt='Hassle free service')
              .reason-content.normal-font Hassle free service


      article     
        .content-all-about
          p.extra-content-heading
            | Servicing and repairing your #{BrandName1} Air Conditioner (AC) system provides several benefits:
          ul.extra-content-ul
            li.extra-content-li
              strong.grey
               |Enhanced Cooling Efficiency: 
              |Do you ever feel like you're constantly fiddling with your #{BrandName1} AC system to get the temperature just right? If so, you're not alone. The harsh reality is that without regular maintenance, your #{BrandName1} AC won't run as effectively or efficiently as it could. But why settle for mediocrity when you can experience the full potential of your #{BrandName1} AC system? Our innovative solution can take your #{BrandName1} AC's cooling performance to new heights, maximizing its efficiency and elevating its performance. Say goodbye to the hassle of constant adjustments and hello to a cool and comfortable home. Schedule an appointment with us today and take the first step towards experiencing the full potential of your #{BrandName1} AC system!
            li.extra-content-li
              strong.grey 
                |Lower Energy Costs: 
              |Maintaining your #{BrandName1} AC system can help you save money and contribute towards a cleaner environment. A well-maintained #{BrandName1} AC system consumes less energy, which means lower utility bills. Moreover, it's not just your wallet that benefits, but also the planet that we call home. By scheduling regular maintenance check-ups for your #{BrandName1} AC system, you can prevent it from draining your bank account and harming the environment. Don't wait for your #{BrandName1} AC system to break down - take charge today and schedule a maintenance check-up. Invest in the proper maintenance of your #{BrandName1} AC system and be a responsible citizen by doing your part to mitigate climate change.
            li.extra-content-li
              strong.grey 
                |Extended Lifespan: 
              |Your #{BrandName1} air conditioning unit is a valuable investment that requires proper care and maintenance to work effectively and last longer. Neglect and delay can lead to costly consequences, including premature breakdowns and expensive replacements. That's why it's crucial to take action today and invest in regular maintenance and prompt repairs. By doing this, you ensure that your #{BrandName1} unit remains in top condition and saves you money in the long run. Taking care of your #{BrandName1} air conditioning unit is not just a smart decision, it is a necessary one. So, don't wait until it's too late to act. Take control of your #{BrandName1} air conditioning unit's performance and make sure it's properly maintained. Remember, a little investment today can save you from costly expenses tomorrow!
            li.extra-content-li
              strong.grey 
                |Improved Air Quality: 
              |Ensuring regular maintenance of your #{BrandName1} air conditioner is crucial for a healthier and more comfortable environment. By taking the simple step of inspecting your #{BrandName1} AC's ductwork and replacing or cleaning filters, you can eliminate the dust, allergens, and pollutants that can pose serious health risks. Not only that, but it also ensures better indoor air quality, which we all deserve. Don't wait until it's too late to take action. Make the change today for a healthier tomorrow!
            li.extra-content-li
              strong.grey 
                |Prevent Breakdowns: 
              |Did you know that performing routine maintenance is crucial in preventing major issues during hot weather? Regular maintenance can help you detect and address minor problems before they turn into costly and inconvenient breakdowns. Don't wait until it's too late. Take action now and prioritize routine maintenance to keep your #{BrandName1} AC running smoothly all summer long. This will not only save you money but also give you peace of mind knowing that your #{BrandName1} equipment is in good condition. Remember, prevention is better than cure.
            li.extra-content-li
              strong.grey 
                |Enhanced Comfort: 
              |Are you aware of the significant impact that a well-functioning #{BrandName1} AC system can have on your indoor environment? It not only controls the temperature but also maintains the humidity levels, creating a more comfortable and pleasant place to live or work. Investing in the maintenance of your #{BrandName1} AC system can be a game-changer, enhancing your quality of life. Don't settle for a mediocre indoor environment when you can upgrade to a perfect one. You deserve to experience the comfort and luxury of a well-functioning #{BrandName1} air conditioning system. Take the first step towards a better life today and schedule an appointment with the best #{BrandName1} AC professionals!
            li.extra-content-li
              strong.grey 
                |Warranty Compliance: 
              |Don't risk losing out on valuable manufacturer guarantees that comes with your #{BrandName1} AC unit. Ensure you maintain the warranty coverage by scheduling regular maintenance and repairs. This simple step will keep your #{BrandName1} AC running effectively and efficiently for years to come, saving you money on energy bills and costly repairs. Don't wait any longer, take action now and schedule your #{BrandName1} AC unit's maintenance today.
            li.extra-content-li
              strong.grey 
                |Safety: 
              |Investing in regular servicing is essential to ensure your #{BrandName1} AC runs efficiently and safely. It not only identifies and resolves any safety concerns but also addresses issues such as refrigerant leaks and electrical faults early on. By doing so, you minimize the risk of accidents or malfunctions, giving you peace of mind and saving you money in the long run. So, don't wait until it's too late - schedule a service today and protect your #{BrandName1} equipment, your investment, and your safety.




      article     
        .content-all-about-2
          p.heading-about-Us
            | About Us
          ul.extra-content-ul
            li.extra-content-li
              |Service Repair India is the ultimate solution for all your electronic home appliance repair and service needs. We are a prominent service provider company, catering to customers all over India. We specialize in repairing and servicing all kinds of air conditioners. For example - Split AC, Window AC, Cube AC, Cassette AC, Ductable AC, Commercial AC, Portable AC, Tower AC etc. Our services are available for all the top brands, including Onida, White Westinghouse, Godrej, Philips, Electrolux, Sanyo, Carrier, Haier, Hitachi, Daikin, Sony, Sharp, IFB, Sansui, Samsung, and many more.
            li.extra-content-li
              |Our team comprises of highly qualified and experienced field engineers, who are backed by efficient coordination executives. They are always ready to serve you promptly. Our mobile unit of service technicians is equipped with the latest diagnostic and repair tools, and well-trained to provide the best on-site services. They are always well-dressed and adhere to the highest professional standards. In addition, our service centers and customer service representatives provide reliable support, ensuring that your service requests are responded to within 24 hours.
            li.extra-content-li
              |We take pride in providing prompt and reliable services to our customers. Our technicians are well-trained to service all brands of electric home appliances, irrespective of their age or condition. They are equipped with the appropriate tools, skills, and expertise to give you the best possible service every time. Our ultimate goal is to exceed our customers' expectations in the appliance repair industry.
            li.extra-content-li
              |In these tough economic times, we understand the value of your time and money. Therefore, we work with you to schedule a service that is quick and convenient for you. Once your service is scheduled, we ensure that our technicians arrive at your doorstep on time and ready to work. You can count on us to provide you with an unparalleled service experience that you will never forget.
            li.extra-content-li
              |At our company, we value your feedback and take it seriously. We conduct customer satisfaction surveys to ensure that we continuously improve our services. We believe in our responsibility to not only repair your appliance but also educate you on how to maximize its performance while keeping our planet in mind. By doing this, we help you save on power and repair costs while also reducing the environmental impact.      



      section.cities-Available
        .heading-cities-Available Cities We Serve -:
        .container
          a.yy(href=`/${BrandName2}-Ac-Service-Center/Agra`) Agra
          a.yy(href=`/${BrandName2}-Ac-Service-Center/Ahmedabad`) Ahmedabad
          a.yy(href=`/${BrandName2}-Ac-Service-Center/Ahmednagar`) Ahmednagar
          a.yy(href=`/${BrandName2}-Ac-Service-Center/Ajmer`) Ajmer
          a.yy(href=`/${BrandName2}-Ac-Service-Center/Akola`) Akola
          a.yy(href=`/${BrandName2}-Ac-Service-Center/Allahabad`) Allahabad
          a.yy(href=`/${BrandName2}-Ac-Service-Center/Alwar`) Alwar
          a.yy(href=`/${BrandName2}-Ac-Service-Center/Amritsar`) Amritsar
          a.yy(href=`/${BrandName2}-Ac-Service-Center/Asansol`) Asansol
          a.yy(href=`/${BrandName2}-Ac-Service-Center/Bangalore`) Bangalore
          a.yy(href=`/${BrandName2}-Ac-Service-Center/Belgaum`) Belgaum
          a.yy(href=`/${BrandName2}-Ac-Service-Center/Bengaluru`) Bengaluru
          a.yy(href=`/${BrandName2}-Ac-Service-Center/Bharuch`) Bharuch
          a.yy(href=`/${BrandName2}-Ac-Service-Center/Bhilai`) Bhilai
          a.yy(href=`/${BrandName2}-Ac-Service-Center/Bhopal`) Bhopal
          a.yy(href=`/${BrandName2}-Ac-Service-Center/Bhubaneswar`) Bhubaneswar
          a.yy(href=`/${BrandName2}-Ac-Service-Center/Bikaner`) Bikaner
          a.yy(href=`/${BrandName2}-Ac-Service-Center/Bilaspur`) Bilaspur
          a.yy(href=`/${BrandName2}-Ac-Service-Center/Calicut`) Calicut
          a.yy(href=`/${BrandName2}-Ac-Service-Center/Chandigarh`) Chandigarh
          a.yy(href=`/${BrandName2}-Ac-Service-Center/Chhattisgarh`) Chhattisgarh
          a.yy(href=`/${BrandName2}-AC-Service-Center/Chennai`) Chennai
          a.yy(href=`/${BrandName2}-AC-Service-Center/Coimbatore`) Coimbatore
          a.yy(href=`/${BrandName2}-AC-Service-Center/Cuttack`) Cuttack
          a.yy(href=`/${BrandName2}-AC-Service-Center/Darjeeling`) Darjeeling
          a.yy(href=`/${BrandName2}-AC-Service-Center/Dehradun`) Dehradun
          a.yy(href=`/${BrandName2}-AC-Service-Center/Delhi`) Delhi
          a.yy(href=`/${BrandName2}-AC-Service-Center/Dhanbad`) Dhanbad
          a.yy(href=`/${BrandName2}-AC-Service-Center/Ernakulam`) Ernakulam
          a.yy(href=`/${BrandName2}-AC-Service-Center/Faridabad`) Faridabad
          a.yy(href=`/${BrandName2}-AC-Service-Center/Gandhinagar`) Gandhinagar
          a.yy(href=`/${BrandName2}-AC-Service-Center/Ghaziabad`) Ghaziabad
          a.yy(href=`/${BrandName2}-AC-Service-Center/Goa`) Goa
          a.yy(href=`/${BrandName2}-AC-Service-Center/Gurgaon`) Gurgaon
          a.yy(href=`/${BrandName2}-AC-Service-Center/Gurugram`) Gurugram
          a.yy(href=`/${BrandName2}-AC-Service-Center/Guwahati`) Guwahati
          a.yy(href=`/${BrandName2}-AC-Service-Center/Gwalior`) Gwalior
          a.yy(href=`/${BrandName2}-AC-Service-Center/Hisar`) Hisar
          a.yy(href=`/${BrandName2}-AC-Service-Center/Hubli`) Hubli
          a.yy(href=`/${BrandName2}-AC-Service-Center/Hyderabad`) Hyderabad
          a.yy(href=`/${BrandName2}-AC-Service-Center/Indore`) Indore
          a.yy(href=`/${BrandName2}-AC-Service-Center/Jabalpur`) Jabalpur
          a.yy(href=`/${BrandName2}-AC-Service-Center/Jaipur`) Jaipur
          a.yy(href=`/${BrandName2}-AC-Service-Center/Jalandhar`) Jalandhar
          a.yy(href=`/${BrandName2}-AC-Service-Center/Jammu`) Jammu
          a.yy(href=`/${BrandName2}-AC-Service-Center/Jamnagar`) Jamnagar
          a.yy(href=`/${BrandName2}-AC-Service-Center/Jamshedpur`) Jamshedpur
          a.yy(href=`/${BrandName2}-AC-Service-Center/Jhansi`) Jhansi
          a.yy(href=`/${BrandName2}-AC-Service-Center/Jodhpur`) Jodhpur
          a.yy(href=`/${BrandName2}-AC-Service-Center/Kanpur`) Kanpur
          a.yy(href=`/${BrandName2}-AC-Service-Center/Kharagpur`) Kharagpur
          a.yy(href=`/${BrandName2}-AC-Service-Center/Kochi`) Kochi
          a.yy(href=`/${BrandName2}-AC-Service-Center/Kolhapur`) Kolhapur
          a.yy(href=`/${BrandName2}-AC-Service-Center/Kolkata`) Kolkata
          a.yy(href=`/${BrandName2}-AC-Service-Center/Kota`) Kota
          a.yy(href=`/${BrandName2}-AC-Service-Center/Kottayam`) Kottayam
          a.yy(href=`/${BrandName2}-AC-Service-Center/Kozhikode`) Kozhikode
          a.yy(href=`/${BrandName2}-AC-Service-Center/Lucknow`) Lucknow
          a.yy(href=`/${BrandName2}-AC-Service-Center/Ludhiana`) Ludhiana
          a.yy(href=`/${BrandName2}-AC-Service-Center/Madurai`) Madurai
          a.yy(href=`/${BrandName2}-AC-Service-Center/Manali`) Manali
          a.yy(href=`/${BrandName2}-AC-Service-Center/Mangalore`) Mangalore
          a.yy(href=`/${BrandName2}-AC-Service-Center/Mathura`) Mathura
          a.yy(href=`/${BrandName2}-AC-Service-Center/Meerut`) Meerut
          a.yy(href=`/${BrandName2}-AC-Service-Center/Mohali`) Mohali
          a.yy(href=`/${BrandName2}-AC-Service-Center/Moradabad`) Moradabad
          a.yy(href=`/${BrandName2}-AC-Service-Center/Mumbai`) Mumbai
          a.yy(href=`/${BrandName2}-AC-Service-Center/Mysore`) Mysore
          a.yy(href=`/${BrandName2}-AC-Service-Center/Nagpur`) Nagpur
          a.yy(href=`/${BrandName2}-AC-Service-Center/Nainital`) Nainital
          a.yy(href=`/${BrandName2}-AC-Service-Center/Nashik`) Nashik
          a.yy(href=`/${BrandName2}-AC-Service-Center/NaviMumbai`) Navi Mumbai
          a.yy(href=`/${BrandName2}-AC-Service-Center/Noida`) Noida
          a.yy(href=`/${BrandName2}-AC-Service-Center/Patna`) Patna
          a.yy(href=`/${BrandName2}-AC-Service-Center/Pondicherry`) Pondicherry
          a.yy(href=`/${BrandName2}-AC-Service-Center/Prayagraj`) Prayagraj
          a.yy(href=`/${BrandName2}-AC-Service-Center/Pune`) Pune
          a.yy(href=`/${BrandName2}-AC-Service-Center/Raigarh`) Raigarh
          a.yy(href=`/${BrandName2}-AC-Service-Center/Raipur`) Raipur
          a.yy(href=`/${BrandName2}-AC-Service-Center/Rajkot`) Rajkot
          a.yy(href=`/${BrandName2}-AC-Service-Center/Ranchi`) Ranchi
          a.yy(href=`/${BrandName2}-AC-Service-Center/Ratlam`) Ratlam
          a.yy(href=`/${BrandName2}-AC-Service-Center/Satara`) Satara
          a.yy(href=`/${BrandName2}-AC-Service-Center/Secunderabad`) Secunderabad
          a.yy(href=`/${BrandName2}-AC-Service-Center/Shimla`) Shimla
          a.yy(href=`/${BrandName2}-AC-Service-Center/Srinagar`) Srinagar
          a.yy(href=`/${BrandName2}-AC-Service-Center/Surat`) Surat
          a(href=`/${BrandName2}-AC-Service-Center/Thiruvananthapuram`) Thiruvanan-thapuram
          a.yy(href=`/${BrandName2}-AC-Service-Center/Thrissur`) Thrissur
          a(href=`/${BrandName2}-AC-Service-Center/Tiruchirappalli`) Tiruchirappalli
          a.yy(href=`/${BrandName2}-AC-Service-Center/Trichy`) Trichy
          a.yy(href=`/${BrandName2}-AC-Service-Center/Trivandrum`) Trivandrum
          a.yy(href=`/${BrandName2}-AC-Service-Center/Udaipur`) Udaipur
          a.yy(href=`/${BrandName2}-AC-Service-Center/Ujjain`) Ujjain
          a.yy(href=`/${BrandName2}-AC-Service-Center/Vadodara`) Vadodara
          a.yy(href=`/${BrandName2}-AC-Service-Center/Varanasi`) Varanasi
          a.yy(href=`/${BrandName2}-AC-Service-Center/Vellore`) Vellore
          a.yy(href=`/${BrandName2}-AC-Service-Center/Vijayawada`) Vijayawada
          a.yy(href=`/${BrandName2}-AC-Service-Center/Visakhapatnam`) Visakhapatnam







    
    
    section.why-Us
      .heading-why-Us  Why Choose Us? 
      .reason-why-Us
        .Sub-reason-why-Us.padding-Left
          .reason
            .reason-Img
              img(src='/static/img/why-Us-1.webp' loading='lazy' decoding='async' alt='Cost-Effective')
            .reason-content Cost-Effective
          .reason.padding-Left
            .reason-Img
              img(src='/static/img/why-Us-2.webp' loading='lazy' decoding='async' alt='Experienced Technicians')
            .reason-content Experienced Technicians
        .Sub-reason-why-Us
          .reason
            .reason-Img
              img(src='/static/img/why-Us-3.webp' loading='lazy' decoding='async' alt='Punctuality')
            .reason-content Punctuality
          .reason
            .reason-Img.large-Img
              img(src='/static/img/why-Us-4.webp' loading='lazy' decoding='async' alt='Quality Work')
            .reason-content Quality Work



    section.review
      .reviews-overview 
        .heading-reviews 
         | Reviews and Ratings
        .bar-reviews 
          .bar-left
            p.five 
              |5  
            p.stars
              i.fas.fa-star(aria-hidden='true')
              i.fas.fa-star(aria-hidden='true')
              i.fas.fa-star(aria-hidden='true')
              i.fas.fa-star(aria-hidden='true')
              i.fas.fa-star(aria-hidden='true')
            p.rating-count
             | 17688 Customer Ratings
          .bar-right
            .progress 
              span.rating-review 
                |5
              i.fas.fa-star.stars2(aria-hidden='true')
              .barr
                .yellow-bar#ninety
                .grey-bar#ten
              span.percent 
                |90%
            .progress 
              span.rating-review 
                |4
              i.fas.fa-star.stars2(aria-hidden='true')
              .barr
                .yellow-bar#six 
                .grey-bar#ninetyfour
              span.percent 
                |6%
            .progress 
              span.rating-review 
                |3
              i.fas.fa-star.stars2(aria-hidden='true')
              .barr
                .yellow-bar#three
                .grey-bar#ninetyseven
              span.percent 
                |3%
            .progress 
              span.rating-review 
                |2
              i.fas.fa-star.stars2(aria-hidden='true')
              .barr
                .yellow-bar#one
                .grey-bar#ninetynine
              span.percent 
                |1%
            .progress 
              span.rating-review#one-review 
                |1
              i.fas.fa-star.stars2(aria-hidden='true')
              .barr
                .yellow-bar 
                .grey-bar#zero
              span.percent 
                |0%
        .given-rating
          .ratingbox
            .ratingstar 
              .bio-text
                p.rating-name 
                  |  Dhanya Laxmi
                p.rating-product 
                  | Air Conditioner 
              .star-count 
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
            .ratingreview
              |For the first time, I booked a service online and I was quite worried about the outcome. Thanks to Service Repair India, I was pleasantly surprised by their #{BrandName1} AC services. Their technicians did an excellent job and my #{BrandName1} AC is now working perfectly fine.
            span.testimonial
              i.fa-solid.fa-quote-right           
          .ratingbox
            .ratingstar 
              .bio-text
                p.rating-name 
                  | Augustus D'Souza
                p.rating-product 
                  | Air Conditioner 
              .star-count 
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
            .ratingreview
              |When I was away from home, my mom was worried about getting our #{BrandName1} AC repaired. But with Service Repair India, I was able to book a service online. Their skilled #{BrandName1} AC professionals fixed the AC and brought peace of mind to my family. I highly recommend their #{BrandName1} AC services, as they are reliable and truly the best in the business.
            span.testimonial
              i.fa-solid.fa-quote-right
        .given-rating
          .ratingbox
            .ratingstar 
              .bio-text
                p.rating-name 
                  | Aman Sharma 
                p.rating-product 
                  | Air Conditioner 
              .star-count 
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
            .ratingreview
              |I just had to share how smooth my #{BrandName1} AC relocation went with Service Repair India. They handled everything seamlessly, leaving me worry-free. If you're ever in need of #{BrandName1} AC relocation services, they're definitely the ones to call!
            span.testimonial
              i.fa-solid.fa-quote-right           
          .ratingbox
            .ratingstar 
              .bio-text
                p.rating-name 
                  | Mohini Das 
                p.rating-product 
                  | Air Conditioner 
              .star-count 
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
            .ratingreview
              |I had a hard time finding the right service for fixing my #{BrandName1} AC. I tried a couple of places but none of them seemed to work. However, I came across Service Repair India and their #{BrandName1} AC technicians were extremely knowledgeable and well-trained. They fixed my #{BrandName1} AC in just one visit and now it's working perfectly. I am truly satisfied with their prompt and efficient #{BrandName1} services.
            span.testimonial
              i.fa-solid.fa-quote-right
        .given-rating
          .ratingbox
            .ratingstar 
              .bio-text
                p.rating-name 
                  | Roshini Iyer 
                p.rating-product 
                  | Air Conditioner 
              .star-count 
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
            .ratingreview
              |I recently faced a frustrating #{BrandName1} AC leakage issue and tried calling a local service provider but to no avail. Feeling helpless, I turned to Service Repair India and it was the best decision I could have made. Their #{BrandName1} AC professionals were able to fix the problem with ease and it made me regret not choosing them as my first option. If you ever face any issues with your #{BrandName1} appliances, trust me, they are the best choice to go for.
            span.testimonial
              i.fa-solid.fa-quote-right           
          .ratingbox
            .ratingstar 
              .bio-text
                p.rating-name 
                  | Subhash Mittal 
                p.rating-product 
                  | Air Conditioner 
              .star-count 
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
            .ratingreview
              |I was thoroughly impressed with the experience I had. Everything was taken care of so smoothly that I didn't have to follow up even once. They provided prompt #{BrandName1} service and it exceeded my expectations.
            span.testimonial
              i.fa-solid.fa-quote-right






    section.faq
      .heading-reviews.heading-faq 
          |Frequently Asked Questions
      ul.accordian
        li 
          input#14(type='radio' name='accordian')
          label(for='14') 
            h3 Is it necessary to do maintenance of my #{BrandName1} AC?
          .content
            p 
              | Regular maintenance is essential to ensure your #{BrandName1} AC operates efficiently and lasts longer. It optimizes performance, leading to lower energy bills and fewer breakdowns. Plus, it improves indoor air quality by eliminating the dust, allergens, and pollutants that can pose serious health risks. It catches minor issues before they turn into major problems, saving you from costly repairs or replacements. Neglecting maintenance can even void warranties. Invest in regular AC maintenance for comfort and cost-effectiveness.
        li 
          input#15(type='radio' name='accordian')
          label(for='15') 
            h3 How often should my #{BrandName1} AC be serviced?
          .content
            p 
              | Regular AC servicing is essential for efficiency and longevity. It's generally recommended to service your #{BrandName1} system at least once a year, and bi-annual servicing may be necessary for older or heavily used systems. Promptly address any signs of trouble to prevent costly repairs. Don't wait until it's too late, schedule your #{BrandName1} AC servicing today to ensure the comfort and reliability of your home.
        li 
          input#16(type='radio' name='accordian')
          label(for='16') 
            h3 Should I have my #{BrandName1} AC maintained yearly and why?
          .content
            p 
              | Yes, regular maintenance of your #{BrandName1} AC system is highly recommended for several compelling reasons. It helps ensure peak efficiency, extends the lifespan of your unit, improves indoor air quality, and protects your investment. Don't wait any longer, schedule your #{BrandName1} AC's maintenance today!
        li 
          input#17(type='radio' name='accordian')
          label(for='17') 
            h3 Why do I need to change the AC filter regularly?
          .content
            p 
              | Changing the AC filter every one to three months is essential for maintaining your #{BrandName1} AC system's efficiency, energy savings, and indoor air quality. The filter captures dust, dirt, pollen, and other airborne particles, preventing them from circulating throughout your home. A clogged filter restricts airflow, reducing the system's efficiency and increasing energy consumption. Don't let a dirty filter compromise the efficiency of your #{BrandName1} AC system. Change your #{BrandName1} AC's filter regularly to enjoy a comfortable and healthy indoor environment.
        li 
          input#19(type='radio' name='accordian')
          label(for='19') 
            h3 Can I service my #{BrandName1} AC myself?
          .content
            p 
              | #{BrandName1} Air conditioning systems are complex and require specialized knowledge to maintain them properly. Attempting to perform AC related tasks without the necessary expertise can be dangerous and void warranties. Professional technicians undergo training to diagnose issues, perform maintenance, and make safe repairs. Service Repair India ensures that your #{BrandName1} AC is in capable hands, maintaining efficiency and extending its lifespan for your comfort and safety.
        li 
          input#18(type='radio' name='accordian')
          label(for='18') 
            h3 What does an #{BrandName1} AC service include?
          .content
            p 
              | Service Repair India's #{BrandName1} AC service includes inspecting and maintaining your air conditioning system. Tasks such as checking refrigerant levels, cleaning coils, tightening electrical connections, lubricating moving parts, calibrating thermostat settings, and replacing air filters are included. By having your system serviced, you can identify potential issues and keep your home comfortable and safe. Trust us to provide you with a comprehensive #{BrandName1} AC service.
        li 
          input#20(type='radio' name='accordian')
          label(for='20') 
            h3 What could be the reason that my #{BrandName1} AC is running but not cooling?
          .content
            p 
              | There are several potential reasons why your #{BrandName1} AC is running but not cooling your space effectively. A dirty air filter, low refrigerant levels, dirty evaporator or condenser coils, electrical issues, a malfunctioning compressor, condensate drain line, inadequate insulation, improper sizing of the unit, or obstructions blocking airflow could be the culprit. To accurately diagnose and resolve the issue, call us and get your #{BrandName1} AC repaired by the best technicians who will identify the underlying cause and perform the necessary repairs or maintenance to restore proper cooling.
        li 
          input#21(type='radio' name='accordian')
          label(for='21') 
            h3 What are the common signs that my #{BrandName1} AC needs repair?
          .content
            p 
              | Signs that your #{BrandName1} AC needs repair include reduced cooling, strange noises, bad smells, frequent cycling, leaks, wear and tear, and high energy bills. Get it checked by our skilled #{BrandName1} AC technicians to prevent damage and ensure efficiency. Addressing issues promptly can prevent them from escalating into bigger problems later on.
        li 
          input#22(type='radio' name='accordian')
          label(for='22') 
            h3 Which is the best #{BrandName1} AC repair service center near me?
          .content
            p 
              | When it comes to #{BrandName1} AC repair, there is no better option than Service Repair India. Our highly skilled #{BrandName1} AC technicians have years of experience in this field, making it easy for them to fix any problem with confidence and accuracy. Choose us for the best #{BrandName1} service you deserve.
        li 
          input#23(type='radio' name='accordian')
          label(for='23') 
            h3 Will an AC service fix my #{BrandName1} AC?
          .content
            p 
              | If your #{BrandName1} AC is experiencing issues, an AC service can definitely help. Through cleaning, inspecting, and repairing components like filters, coils, and refrigerant levels, AC services can effectively resolve minor issues. However, for major mechanical or electrical issues, additional repairs or replacement may be required. It is important to have your #{BrandName1} AC evaluated by a professional technician to determine the extent of the problem and the necessary service or repairs. Don't wait until it's too late! Contact us today to get the best #{BrandName1} AC service.
        li 
          input#24(type='radio' name='accordian')
          label(for='24') 
            h3 What types of #{BrandName1} AC services does Service Repair India provide?
          .content
            p 
              | Service Repair India provides a comprehensive range of #{BrandName1} AC services for both residential and commercial units. We specialize in #{BrandName1} AC service, repair, installation, uninstallation, gas filling, and other related services, which include diagnosing and fixing various #{BrandName1} AC issues and providing routine maintenance services to extend its lifespan. Trust us for all your #{BrandName1} AC needs.
        li 
          input#25(type='radio' name='accordian')
          label(for='25') 
            h3 Does Service Repair India also provide #{BrandName1} AC installation and maintenance services?
          .content
            p 
              | Yes, we provide comprehensive #{BrandName1} AC services, including installation and maintenance. Our skilled #{BrandName1} AC technicians ensure proper setup for residential and commercial units and provide routine maintenance services to keep your #{BrandName1} AC system running smoothly. Call us now to avail the best service!
        li 
          input#27(type='radio' name='accordian')
          label(for='27') 
            h3 What type of #{BrandName1} AC can be repaired by Service Repair India?
          .content
            p 
              | Our team of highly skilled #{BrandName1} professionals can handle any type of #{BrandName1} AC including Split, Window, Central, Cube, Hybrid, Cassette, Ductable, Commercial, Inverter, Non-inverter, Portable and Tower ACs. With years of training and experience, we guarantee reliable and efficient service for all your #{BrandName1} AC needs. Choose us for unmatched expertise and quality service.
        li 
          input#28(type='radio' name='accordian')
          label(for='28') 
            h3 Why should I buy an Annual Maintenance Contract (AMC) for my #{BrandName1} AC?
          .content
            p 
              | An Annual Maintenance Contract (AMC) for your #{BrandName1} AC guarantees regular scheduled maintenance by professionals, which prevents breakdowns and costly repairs. It offers priority service during emergencies, improves energy efficiency, and extends the lifespan of your #{BrandName1} AC unit. Invest in AMC for peace of mind, convenience, and cost savings.
        li 
          input#29(type='radio' name='accordian')
          label(for='29') 
            h3 What are the charges for #{BrandName1} AC repair?
          .content
            p 
              | We provide a comprehensive visit to check and repair service at Rs 
              sup
                s.prices
                  | 800
              |  600 (
              span.color-green
                |save 25%
              | ). Our skilled #{BrandName1} technicians will thoroughly inspect your AC for any common issues and provide the necessary repairs. In case any parts or gas are required, additional charges will apply. Trust us to keep your #{BrandName1} AC running smoothly and efficiently.
        li 
          input#30(type='radio' name='accordian')
          label(for='30') 
            h3 If my #{BrandName1} AC requires spare parts during repair, are they charged extra?
          .content
            p 
              | At Service Repair India, we believe in transparent pricing. If your #{BrandName1} AC needs spare parts during repair, we'll inform you of any additional charges before proceeding. Our goal is to provide quality service at fair prices, ensuring your satisfaction with the repair process.
        li 
          input#31(type='radio' name='accordian')
          label(for='31') 
            h3 How much does an #{BrandName1} AC gas refill cost?
          .content
            p 
              | It's important to note that the cost of refilling the refrigerant in your #{BrandName1} AC is determined by the size of the compressor installed in the appliance. The larger the compressor, the more cooling gas it requires, which can significantly increase the refill cost. Therefore, it's essential to be aware of your #{BrandName1} AC's compressor size to better understand the price for gas refill.
        li 
          input#26(type='radio' name='accordian')
          label(for='26') 
            h3 Will Service Repair India fix #{BrandName1} AC gas leakage before refilling the coolant gas?
          .content
            p 
              | Yes, Service Repair India prioritizes fixing #{BrandName1} AC gas leakage before refilling the coolant gas. Our technicians inspect the AC system, locate and repair any leaks, and refill the refrigerant gas to restore the AC's cooling capability. This comprehensive approach ensures optimal performance and longevity of your #{BrandName1} AC unit.
        li 
          input#1(type='radio' name='accordian')
          label(for='1') 
            h3 Does Service Repair India provide #{BrandName1} AC home repair services?
          .content
            p 
              | Yes, Service Repair India provides doorstep #{BrandName1} AC repair services by experienced technicians. Get fast and effective solutions from our skilled #{BrandName1} team at your convenience.
        li 
          input#3(type='radio' name='accordian')
          label(for='3') 
            h3 After placing the request, when can I expect to receive #{BrandName1} AC service?
          .content
            p 
              | We aim to provide you with prompt and efficient #{BrandName1} AC service. After receiving your request, our #{BrandName1} professional will contact you within 10 to 20 minutes or ASAP to schedule a convenient time for the service.
        li 
          input#4(type='radio' name='accordian')
          label(for='4') 
            h3 Is there any warranty provided on #{BrandName1} AC repairs done by Service Repair India?
          .content
            p 
              | At Service Repair India, we provide warranty on all the repairs completed by our skilled #{BrandName1} technicians. The warranty period may vary based on the type of repair and spare parts used, but for general repairs, we offer a 30-day warranty. If any issues arise within the warranty period, we will make it right at no additional cost to you. We take pride in our work and are committed to providing reliable and high quality #{BrandName1} AC service to our customers. Trust us for reliable repairs that last.
        li 
          input#5(type='radio' name='accordian')
          label(for='5') 
            h3 What if Service Repair India's engineer cannot fix the problem with my #{BrandName1} AC?
          .content
            p 
              | Our skilled #{BrandName1} technicians at Service Repair India have successfully completed hundreds of repair jobs and are highly proficient in their work. In the rare case that the repair is not completed during the first visit, we will schedule another visit at no extra cost to you, to ensure your complete satisfaction with our #{BrandName1} AC services.
        li 
          input#6(type='radio' name='accordian')
          label(for='6') 
            h3 Do you use genuine spare parts for replacement?
          .content
            p 
              | Rest assured that our skilled #{BrandName1} AC professionals use only genuine spare parts for replacements, and if the need arises to use an alternative, they will seek your approval before proceeding. Your satisfaction is our top priority.
        li 
          input#7(type='radio' name='accordian')
          label(for='7') 
            h3 Who is responsible for obtaining the necessary parts if needed?
          .content
            p 
              | Our technician will take care of getting replacement parts to repair your #{BrandName1} AC. You can choose to buy the parts yourself if you prefer. Our top priority is to ensure that you receive a seamless #{BrandName1} AC repair experience that exceeds your expectations.
        li 
          input#8(type='radio' name='accordian')
          label(for='8') 
            h3 Do you provide warranty on spare parts?
          .content
            p 
              | Yes, we provide warranty on spare parts. The warranty period may vary depending on the type of spare parts used.
        li 
          input#2(type='radio' name='accordian')
          label(for='2') 
            h3 What are the working hours of Service Repair India?
          .content
            p 
              | Our opening hours are 7:00 AM to 11:00 PM, 7 days a week.
        li 
          input#9(type='radio' name='accordian')
          label(for='9') 
            h3 Does Service Repair India have #{BrandName1} AC customer support helpline?
          .content
            p 
              | Yes! We understand that customers may need assistance even outside of regular business hours. That's why we've made our #{BrandName1} AC customer support available every day from 7 AM to 11 PM. You can reach us by dialing 9928622128. Our team is always ready to help you with any concerns or inquiries you may have.
        li 
          input#10(type='radio' name='accordian')
          label(for='10') 
            h3 If necessary, does Service Repair India provide pick-up services to take my #{BrandName1} AC or damaged part of the AC to their workshop?
          .content
            p 
              | Yes, Service Repair India provides convenient pick-up and drop-off services for your #{BrandName1} AC when needed. Once the repair work is completed, they will promptly return your #{BrandName1} AC to your doorstep. Schedule a repair today for the ultimate convenience!
        li 
          input#11(type='radio' name='accordian')
          label(for='11') 
            h3 Can I purchase an #{BrandName1} AC AMC from Service Repair India?
          .content
            p 
              | Yes, you can buy an Annual Maintenance Contract (AMC) from Service Repair India to ensure regular maintenance and timely repairs of your #{BrandName1} AC. This will help keep your #{BrandName1} AC in good working condition and prevent unexpected breakdowns. Contact us now to learn more about the available plans and how to get started.
        li 
          input#12(type='radio' name='accordian')
          label(for='12') 
            h3 How is Service Repair India's #{BrandName1} AC service different from other service providers?
          .content
            p 
              | Service Repair India provides a consistent and reliable #{BrandName1} AC service experience, unlike other service providers who rely on a network of freelance technicians. Our in-house #{BrandName1} AC service engineers have over a decade of experience in this field, ensuring expert and reliable services. Choose Service Repair India for a seamless #{BrandName1} AC service experience with transparent pricing and quick response time.
        li 
          input#13(type='radio' name='accordian')
          label(for='13') 
            h3 What guarantees the reliability of Service Repair India's #{BrandName1} AC professionals?
          .content
            p 
              | At Service Repair India, we ensure reliability and professionalism by thoroughly screening our #{BrandName1} AC professionals based on qualifications, experience, and expertise. We conduct background checks, provide ongoing training programs, and prioritize accountability along with customer satisfaction. This fosters a culture of trust and confidence in the reliability of our #{BrandName1} AC professionals and the services we provide.




    section.about-Us
      .heading-about-Us More About Us,
      p.info-weDo.padding-X
        | We are honored to serve you and provide top-notch services. Our home services span across India and cater to all product types and brands that are out of warranty, including ACs, refrigerators, washing machines, microwave ovens, TVs, and many more. As a privately owned center, we offer chargeable services and have a dedicated team of service professionals who are committed to providing the highest quality service with utmost consumer satisfaction. Our technicians are rigorously trained to deliver prompt and efficient service, ensuring that your job is completed to perfection. Plus, we stand behind our work with a 30-day service warranty so you can have peace of mind. When you choose us, you can rest assured that your appliances are in good hands!
      .call-Us-now
        | Call Us Now at -: 
        a(href=`tel:${NumValue}`)
          .inline-Block  #{NumValue} 
  


    footer
      script(type='application/ld+json').
        {
        "@context": "https://schema.org",
        "@type": "LocalBusiness",
        `description`: `97844-67343 | Get the best, #{BrandName1} AC - ✓Service, ✓Repair, ✓Installation, ✓Uninstallation, ✓Gas filling etc. We provide services for all types of #{BrandName1} ACs.`,
        `name`: `#{BrandName1} AC Service Repair`,
        `alternateName`: `#{BrandName1} AC Service Center`,
        "image": "https://www.servicerepairindia.com/static/img/AC.webp",
        "@id": "",
        `url`: `https://www.servicerepairindia.com/#{BrandName2}-AC-Service-Center`,
        `telephone`: `#{NumValue}`,
        "priceRange": "According to service",
        "address": {
        "@type": "PostalAddress",
        "streetAddress": "",
        "addressLocality": "",
        "postalCode": "",
        "addressCountry": "IN"
        },
        "openingHoursSpecification": {
        "@type": "OpeningHoursSpecification",
        "dayOfWeek": [
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday",
        "Saturday",
        "Sunday"
        ],
        "opens": "00:00",
        "closes": "23:59"
        }
        }
      .footer-black 
        .our-services 
          span.our-services-heading 
            | Our Services
          ul.our-services-ul 
           li.our-services-li 
             a(href='/AC-Service-Center') AC
           li.our-services-li
             a(href='/Refrigerator-Service-Center') Refrigerator
           li.our-services-li
             a(href='/WashingMachine-Service-Center') Washing Machine
           li.our-services-li
             a(href='/MicrowaveOven-Service-Center') Microwave
           li.our-services-li
             a(href='/TV-Service-Center') TV
        .our-services.services2
          span.our-services-heading 
            | Contact Us     
          ul.our-services-ul 
           li.our-services-li 
             span.fa.fa-mobile(aria-hidden='true')
             a.footer-a(href=`tel:${NumValue}`)
               | #{NumValue}
           li.our-services-li
             span.fa.fa-clock
             span.footer-hrs
               | Opening Hours: 7:00 AM to 11:00 PM, 7 days a week
      .footer
        a(href='/' target='_blank')  Service Repair India 
        |  | All Rights Reserved.
  
  
    script(src='/static/index.js' defer='')
