doctype html
html 
  head
    title Microwave Oven Service Center | #{NumValue}
    meta(name='Title' content=`Microwave Oven Service Center | ${NumValue}`)
    meta(name='description' content=`97844-67343 | Get the best, Microwave Oven - ✓Service, ✓Repair, ✓Installation, ✓Uninstallation etc. We provide services for all types of Microwave Ovens and all brands.`)
    meta(name='keywords' content=`Microwave Oven Service Center, Microwave Oven Service Repair, Microwave Oven Repair, Microwave Oven Service, Solo Microwave Oven Service, Grill Microwave Oven Service, Convection Microwave Oven Service, Solo Microwave Oven Repair, Grill Microwave Oven Repair, Convection Microwave Oven Repair, Solo Microwave Oven Service Center, Grill Microwave Oven Service Center, Convection Microwave Oven Service Center, Microwave Oven installation, Microwave Oven uninstallation, Solo Microwave Oven installation, Solo Microwave Oven uninstallation, Grill Microwave Oven installation, Grill Microwave Oven uninstallation, Convection Microwave Oven installation, Convection Microwave Oven uninstallation, Best Microwave Oven Repair Service, Microwave Oven Repair Service Reviews, Microwave Oven Repair Center, Microwave Oven Repair Charges, Microwave Oven Repair Shops, Microwave Oven Service Center near me, Microwave Oven Repair near me, Solo Microwave Oven Repair near me, Grill Microwave Oven Repair near me, Convection Microwave Oven Repair near me, Microwave Oven Service near me, Solo Microwave Oven Service near me, Grill Microwave Oven Service near me, Convection Microwave Oven Service near me, Solo Microwave Oven Service Center near me, Grill Microwave Oven Service Center near me, Convection Microwave Oven Service Center near me, Microwave Oven installation near me, Microwave Oven uninstallation near me, Solo Microwave Oven installation near me, Solo Microwave Oven uninstallation near me, Grill Microwave Oven installation near me, Grill Microwave Oven uninstallation near me, Convection Microwave Oven installation near me, Convection Microwave Oven uninstallation near me, Best Microwave Oven Repair Service near me, Microwave Oven Repair Service Reviews near me, Microwave Oven Repair Shops near me, Microwave Oven Repair Center near me, Microwave Oven Repair Charges near me, Microwave Oven Service Repair near me, Microwave Oven customer care number, Microwave Oven customer care number near me`)
    link(rel='canonical' href=`https://www.Servicerepairindia.com/MicrowaveOven-Service-Center`)
    meta(property='og:image' content='https://www.servicerepairindia.com/static/img/Microwave.webp')
    meta(property='og:title' content=`Microwave Oven Service Center | ${NumValue}`)
    meta(property='og:description' content=`97844-67343 | Get the best, Microwave Oven - ✓Service, ✓Repair, ✓Installation, ✓Uninstallation etc. We provide services for all types of Microwave Ovens and all brands.`)
    meta(property='og:url' content=`https://www.Servicerepairindia.com/MicrowaveOven-Service-Center`)
    meta(property='al:ios:url' content=`https://www.Servicerepairindia.com/MicrowaveOven-Service-Center`)
    meta(name='twitter:card' content='summary')
    meta(name='twitter:site' content='@Service Repair India')
    meta(name='twitter:title' content=`Microwave Oven Service Center | ${NumValue}`)
    meta(name='twitter:description' content=`97844-67343 | Get the best, Microwave Oven - ✓Service, ✓Repair, ✓Installation, ✓Uninstallation etc. We provide services for all types of Microwave Ovens and all brands.`)
    meta(name='twitter:image' content='https://www.servicerepairindia.com/static/img/Microwave.webp')
    meta(charset='UTF-8')
    meta(http-equiv='content-language' content='en-gb')
    meta(name='distribution' content='global')
    meta(name='copyright' content='Servicerepairindia.com')
    meta(property='og:type' content='website')
    meta(property='og:sitename' content='Servicerepairindia.com')
    meta(property='og:locale' content='en_GB')
    meta(name='format-detection' content='telephone=yes')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=5')
    meta(name='robots' content='INDEX, FOLLOW')
    meta(name='robots' content='noodp, noydir')
    meta(name='geo.region' content='IN')
    meta(name='googlebot' content='index, follow')
    link(rel='icon' href='/static/img/icon.webp')
    link(rel='stylesheet' href='/static/style.css')
    link(rel='stylesheet' href='/static/responsive.css' media='screen and (max-width:650px)')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css' integrity='sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==' crossorigin='anonymous' referrerpolicy='no-referrer')
    


  body 
  
    header.hdr
      .mainHeading Service Repair India
   
    nav.navbar.h-nav-Resp
      ul.navList.v-class-Resp
        li.listItem.A1
          a(href='/') Home
        li.listItem.A2
          a(href='/AC-Service-Center') AC
        li.listItem.A3
          a(href='/Refrigerator-Service-Center') Refrigerator
        li.listItem.A4
          a(href='/WashingMachine-Service-Center') Washing Machine
        li.listItem.A5
          a.active(href='/MicrowaveOven-Service-Center') Microwave
        li.listItem.A6
          a(href='/TV-Service-Center') TV
      .burger
        .line
        .line
        .line



    .fixed-call-Now
      a.call-A(href=`tel:9928622128`)
        img(src='/static/img/call.webp' loading='lazy' decoding='async' alt='Call Now')
        .call-Now  Call Now 




    //- section.numberSection
    //-   .call Call Now -:
    //-   .numbers
    //-     #number1.number
    //-       a(href='tel:9784467344') 97844-67344
    //-     #number2.number
    //-       a(href='tel:9784467343') 97844-67343
    //-     #number3.number
    //-       a(href='tel:8306511294') 83065-11294
    //-     #number4.number
    //-       a(href='tel:9875711293') 98757-11293
    //-     #number5.number
    //-       a(href='tel:9928622128') 99286-22128




    section.numberSection
      .call Call Now -:
      .numbers
        #number1.number
          a(href='tel:9928622128') 99286-22128



    main 
 
    

      section.heading-Section
        h1.mainHeading2 Microwave Oven Service Center




      section.intro
        .weDo
          .heading-weDo Your Products are in safe hands.
          p.info-weDo
            | We understand the essential role of microwave oven in your household, and that's why our commitment lies in providing you with the best quality service. We have expertise in all types of microwave ovens, including solo, grill, countertop, over-the-range, built-in, convection, and microwave drawers. Our services include everything from repair and installation to uninstallation and ongoing support. Whatever the issue - be it with the glass plate, plate rotation, touch panel, spark, heating, or any other component - our technicians are well-equipped to address it and ensure your satisfaction. We provide home services and cater to all brands of microwave ovens. Choose us for expert and trustworthy services you can always rely on.
        .intro-img.img-Border
          img(src='/static/img/Microwave.webp' loading='lazy' decoding='async' alt=`Microwave Oven Service Repair`)







      section.services-Available
        .heading-weDo.marginTB.mbo
          | We provide a wide range of microwave oven services.
          br
          | The major ones are listed below -:   

        
        article#ac1
          .imgb
            img(src='/static/img/Microwave2.webp' loading='lazy' decoding='async' alt=`Microwave Oven Service Repair`)
          .contentb  
            .dabba  
              ul
                li  
                  h2.ACcontent Microwave Oven Service
                li  
                  h2.ACcontent Microwave Oven Repair
                li  
                  h2.ACcontent Microwave Oven Installation
                li  
                  h2.ACcontent Microwave Oven Uninstallation etc.
            
        
        article#ac2
          .imgb
            img(src='/static/img/Microwave3.webp' loading='lazy' decoding='async' alt=`Solo Microwave Oven Service Repair`)
          .contentb
            .dabba
              ul
                li  
                  h2.ACcontent Solo Microwave Oven Service
                li  
                  h2.ACcontent Solo Microwave Oven Repair
                li  
                  h2.ACcontent Solo Microwave Oven Installation
                li  
                  h2.ACcontent Solo Microwave Oven Uninstallation etc.
         
                
        article#ac1
          .imgb
            img(src='/static/img/Microwave4.webp' loading='lazy' decoding='async' alt=`Grill Microwave Oven Service Repair`)
          .contentb  
            .dabba  
              ul
                li  
                  h2.ACcontent Grill Microwave Oven Service
                li  
                  h2.ACcontent Grill Microwave Oven Repair
                li  
                  h2.ACcontent Grill Microwave Oven Installation
                li  
                  h2.ACcontent Grill Microwave Oven Uninstallation etc.
               
        

        article#ac2
          .imgb
            img(src='/static/img/Microwave5.webp' loading='lazy' decoding='async' alt=`Convection Microwave Oven Service Repair`)
          .contentb
            .dabba
              ul
                li  
                  h2.ACcontent Convection Microwave Oven Service
                li  
                  h2.ACcontent Convection Microwave Oven Repair
                li  
                  h2.ACcontent Convection Microwave Oven Installation
                li  
                  h2.ACcontent Convection Microwave Oven Uninstallation etc.




      article     
        .heading-all-about All About Microwave Oven Service and Repair
        .content-all-about
          p        
            | Are you tired of being troubled by microwave oven malfunctions? Do you want to make sure that your device is well-maintained and functioning properly? Look no further, Service Repair India is here to help! We understand the importance of proper maintenance and care for your equipment. Our experts have years of experience and are the best at servicing and repairing brand-specific machines like microwave ovens. Don't waste your time and money on local professionals without experience! With Service Repair India, you can get your microwave oven repaired at your home and at your desired time slot. Our well-trained professionals ensure best service and satisfaction to our customers. Say goodbye to the hassle of visiting the service center and avail our services today!



      article     
        .heading-all-about Our Microwave Oven Services
        .content-all-about
          p
            | Since established in 2004, Service Repair India has continuously raised the bar for exceptional microwave oven services. Our team is committed to fulfilling all your microwave oven needs with precision and care, whether it's for repairs, maintenance, or installation. With our skilled technicians and expertise, we can handle all the models to ensure top-notch service. We take pride in delivering swift, efficient service using only the highest quality parts and advanced diagnostic tools, guaranteeing optimal performance for your microwave oven. What truly sets us apart is our dedication to exceptional customer service. We offer flexible appointment scheduling, transparent pricing, and a steadfast commitment to getting the job done right the first time. When you choose us, you're choosing reliable, top-notch microwave oven services backed by our extensive expertise and a relentless focus on customer satisfaction.





      section.all-about
        .how-it-works How it works?
        .content-all-about
          p
            | Looking for the best professionals to fix your microwave oven? Look no further! Our skilled experts are just a phone call away. Whether you need help with a Solo Microwave Oven, Grill Microwave Oven, or any other type of service, we can provide you with a solution that fits your needs. All you have to do is tell us the issue you are facing, your location, and your preferred time. Then, sit back and relax. Let our skilled professional arrive at your doorstep, fully equipped to resolve your issue. Enjoy peace of mind knowing that your equipment is in good hands. Don't wait any longer - Call us today to get started!
        .reason-why-Us
          .Sub-reason-why-Us.padding-Left.padding-left-
            .reason
              .reason-Img.br58
                img(src='/static/img/call-us.webp' loading='lazy' id="call-heading" decoding='async' alt='Call us')
              .reason-content.normal-font Call us
            .reason.padding-Left
              .reason-Img.br58
                img(src='/static/img/service.webp' loading='lazy' decoding='async' alt='Tell us the service you require')
              .reason-content.normal-font Tell us the service you require
          .Sub-reason-why-Us
            .reason
              .reason-Img.br58
                img(src='/static/img/time-slot.webp' loading='lazy' decoding='async' alt='Select your desirable time-slot')
              .reason-content.normal-font Select your desirable time-slot
            .reason.hassle-free
              .reason-Img.large-Img.br58
                img(src='/static/img/hassle-free.webp' loading='lazy' decoding='async' alt='Hassle free service')
              .reason-content.normal-font Hassle free service


      article     
        .content-all-about
          p.extra-content-heading
            | Servicing and repairing your Microwave Oven provides several benefits:
          ul.extra-content-ul
            li.extra-content-li
              strong.grey
               |Improved Performance: 
              |Taking care of your microwave oven through regular maintenance is essential to ensure its efficiency, leading to faster cooking times and even heating. Don't underestimate the importance of maintenance to keep your microwave oven functioning at its best!
            li.extra-content-li
              strong.grey 
                |Safety: 
              |Regular servicing of electrical systems is crucial for ensuring a safe and secure environment. By identifying and addressing any potential safety concerns, such as faulty wiring or damaged components, you can significantly reduce the risk of electrical hazards or accidents. So, don't wait until it's too late. Schedule an service today and enjoy the peace of mind that comes with knowing your electrical systems are in top-notch condition.
            li.extra-content-li
              strong.grey 
                |Extended Lifespan: 
              |Regular maintenance and prompt repairs are crucial for extending the lifespan of your microwave oven. By addressing issues as they arise, you can avoid premature replacement and save money in the long run. Never underestimate the significance of proactive maintenance and timely repairs!
            li.extra-content-li
              strong.grey 
                |Energy Efficiency: 
              |Are you looking for ways to save money on your monthly electricity bills while also reducing your environmental impact? It's time to start with your microwave oven. By keeping it well-maintained, you can consume less energy, which translates into lower electricity bills and a healthier planet. So, make sure you take good care of your microwave oven and enjoy the benefits of a more sustainable lifestyle. Remember, every small action counts!
            li.extra-content-li
              strong.grey 
                |Food Quality: 
              |By having a properly functioning microwave oven, you can ensure that your food is evenly cooked and reheated to perfection, while maintaining its delicious taste, perfect texture, and essential nutritional value. Take the smart step today and invest in regular maintenance of your microwave oven that will make your life in the kitchen much easier!
            li.extra-content-li
              strong.grey 
                |Prevent Breakdowns: 
              |Regular maintenance is crucial to keep your equipment running smoothly. By identifying and addressing minor issues early on, you can prevent them from turning into major problems that can cost you time and money. Regular servicing can not only prevent unexpected breakdowns, but it can also extend the lifespan of your equipment. Don't let neglected maintenance cause disruption to your workflow. Invest in routine microwave oven servicing today.
            li.extra-content-li
              strong.grey 
                |Warranty Compliance: 
              |Proper maintenance and repair of your microwave oven can provide you with valuable benefits such as warranty protection. By following the manufacturer's recommended maintenance schedule and addressing any issues quickly, you can ensure that your equipment's warranty remains valid. This will save you from unexpected repair costs and give you peace of mind, knowing that your appliance is covered in case of any malfunctions.




      article     
        .content-all-about-2
          p.heading-about-Us
            | About Us
          ul.extra-content-ul
            li.extra-content-li
              |Service Repair India is the ultimate solution for all your electronic home appliance repair and service needs. We are a prominent service provider company, catering to customers all over India. We specialize in repairing and servicing all kinds of microwave ovens. For example - Solo Microwave Oven, Grill Microwave Oven, Convection Microwave Oven etc. Our services are available for all the top brands, including Onida, White Westinghouse, Godrej, Philips, Electrolux, Sanyo, Carrier, Haier, Hitachi, Daikin, Sony, Sharp, IFB, Sansui, Samsung, and many more.
            li.extra-content-li
              |Our team comprises of highly qualified and experienced field engineers, who are backed by efficient coordination executives. They are always ready to serve you promptly. Our mobile unit of service technicians is equipped with the latest diagnostic and repair tools, and well-trained to provide the best on-site services. They are always well-dressed and adhere to the highest professional standards. In addition, our service centers and customer service representatives provide reliable support, ensuring that your service requests are responded to within 24 hours.
            li.extra-content-li
              |We take pride in providing prompt and reliable services to our customers. Our technicians are well-trained to service all brands of electric home appliances, irrespective of their age or condition. They are equipped with the appropriate tools, skills, and expertise to give you the best possible service every time. Our ultimate goal is to exceed our customers' expectations in the appliance repair industry.
            li.extra-content-li
              |In these tough economic times, we understand the value of your time and money. Therefore, we work with you to schedule a service that is quick and convenient for you. Once your service is scheduled, we ensure that our technicians arrive at your doorstep on time and ready to work. You can count on us to provide you with an unparalleled service experience that you will never forget.
            li.extra-content-li
              |At our company, we value your feedback and take it seriously. We conduct customer satisfaction surveys to ensure that we continuously improve our services. We believe in our responsibility to not only repair your appliance but also educate you on how to maximize its performance while keeping our planet in mind. By doing this, we help you save on power and repair costs while also reducing the environmental impact.      





      section.cities-Available
        .heading-cities-Available Cities We Serve -:
        table.tbl
          tr.tblr
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Agra') Microwave Oven Service Center in Agra
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Ahmedabad') Microwave Oven Service Center in Ahmedabad
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Ahmednagar') Microwave Oven Service Center in Ahmednagar
          tr.tblr
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Ajmer') Microwave Oven Service Center in Ajmer
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Akola') Microwave Oven Service Center in Akola
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Allahabad') Microwave Oven Service Center in Allahabad
          tr.tblr
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Alwar') Microwave Oven Service Center in Alwar
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Amritsar') Microwave Oven Service Center in Amritsar
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Asansol') Microwave Oven Service Center in Asansol
          tr.tblr
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Banaras') Microwave Oven Service Center in Banaras
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Bangalore') Microwave Oven Service Center in Bangalore
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Belgaum') Microwave Oven Service Center in Belgaum
          tr.tblr
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Bengaluru') Microwave Oven Service Center in Bengaluru
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Bharuch') Microwave Oven Service Center in Bharuch
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Bhilai') Microwave Oven Service Center in Bhilai
          tr.tblr
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Bhopal') Microwave Oven Service Center in Bhopal
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Bhubaneswar') Microwave Oven Service Center in Bhubaneswar
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Bikaner') Microwave Oven Service Center in Bikaner
          tr.tblr
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Bilaspur') Microwave Oven Service Center in Bilaspur
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Calicut') Microwave Oven Service Center in Calicut
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Chandigarh') Microwave Oven Service Center in Chandigarh
          tr.tblr
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Chhattisgarh') Microwave Oven Service Center in Chhattisgarh
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Chennai') Microwave Oven Service Center in Chennai
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Coimbatore') Microwave Oven Service Center in Coimbatore
          tr.tblr
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Cuttack') Microwave Oven Service Center in Cuttack
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Darjeeling') Microwave Oven Service Center in Darjeeling
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Dehradun') Microwave Oven Service Center in Dehradun
          tr.tblr
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Delhi') Microwave Oven Service Center in Delhi
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Dhanbad') Microwave Oven Service Center in Dhanbad
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Ernakulam') Microwave Oven Service Center in Ernakulam
          tr.tblr
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Faridabad') Microwave Oven Service Center in Faridabad
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Gandhinagar') Microwave Oven Service Center in Gandhinagar
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Ghaziabad') Microwave Oven Service Center in Ghaziabad
          tr.tblr
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Goa') Microwave Oven Service Center in Goa
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/GreaterNoida') Microwave Oven Service Center in Greater Noida
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Gurgaon') Microwave Oven Service Center in Gurgaon
          tr.tblr
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Gurugram') Microwave Oven Service Center in Gurugram
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Guwahati') Microwave Oven Service Center in Guwahati
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Gwalior') Microwave Oven Service Center in Gwalior
          tr.tblr
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Hisar') Microwave Oven Service Center in Hisar
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Hubli') Microwave Oven Service Center in Hubli
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Hyderabad') Microwave Oven Service Center in Hyderabad
          tr.tblr
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Indore') Microwave Oven Service Center in Indore
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Jabalpur') Microwave Oven Service Center in Jabalpur
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Jaipur') Microwave Oven Service Center in Jaipur
          tr.tblr
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Jalandhar') Microwave Oven Service Center in Jalandhar
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Jammu') Microwave Oven Service Center in Jammu
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Jamnagar') Microwave Oven Service Center in Jamnagar
          tr.tblr
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Jamshedpur') Microwave Oven Service Center in Jamshedpur
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Jhansi') Microwave Oven Service Center in Jhansi
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Jodhpur') Microwave Oven Service Center in Jodhpur
          tr.tblr
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Kanpur') Microwave Oven Service Center in Kanpur
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Kharagpur') Microwave Oven Service Center in Kharagpur
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Kochi') Microwave Oven Service Center in Kochi
          tr.tblr
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Kolhapur') Microwave Oven Service Center in Kolhapur
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Kolkata') Microwave Oven Service Center in Kolkata
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Kota') Microwave Oven Service Center in Kota
          tr.tblr
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Kottayam') Microwave Oven Service Center in Kottayam
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Kozhikode') Microwave Oven Service Center in Kozhikode
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Lucknow') Microwave Oven Service Center in Lucknow
          tr.tblr
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Ludhiana') Microwave Oven Service Center in Ludhiana
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Madurai') Microwave Oven Service Center in Madurai
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Manali') Microwave Oven Service Center in Manali
          tr.tblr
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Mangalore') Microwave Oven Service Center in Mangalore
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Mathura') Microwave Oven Service Center in Mathura
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Meerut') Microwave Oven Service Center in Meerut
          tr.tblr
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Mohali') Microwave Oven Service Center in Mohali
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Moradabad') Microwave Oven Service Center in Moradabad
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Mumbai') Microwave Oven Service Center in Mumbai
          tr.tblr
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Mysore') Microwave Oven Service Center in Mysore
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Nagpur') Microwave Oven Service Center in Nagpur
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Nainital') Microwave Oven Service Center in Nainital
          tr.tblr
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Nashik') Microwave Oven Service Center in Nashik
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/NaviMumbai') Microwave Oven Service Center in Navi Mumbai
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Noida') Microwave Oven Service Center in Noida
          tr.tblr
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Patna') Microwave Oven Service Center in Patna
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Pondicherry') Microwave Oven Service Center in Pondicherry
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Prayagraj') Microwave Oven Service Center in Prayagraj
          tr.tblr
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Pune') Microwave Oven Service Center in Pune
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Raigarh') Microwave Oven Service Center in Raigarh
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Raipur') Microwave Oven Service Center in Raipur
          tr.tblr
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Rajkot') Microwave Oven Service Center in Rajkot
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Ranchi') Microwave Oven Service Center in Ranchi
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Ratlam') Microwave Oven Service Center in Ratlam
          tr.tblr
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Satara') Microwave Oven Service Center in Satara
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Secunderabad') Microwave Oven Service Center in Secunderabad
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Shimla') Microwave Oven Service Center in Shimla
          tr.tblr
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Srinagar') Microwave Oven Service Center in Srinagar
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Surat') Microwave Oven Service Center in Surat
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Thiruvananthapuram') Microwave Oven Service Center in Thiruvananthapuram
          tr.tblr
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Thrissur') Microwave Oven Service Center in Thrissur
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Tiruchirappalli') Microwave Oven Service Center in Tiruchirappalli
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Trichy') Microwave Oven Service Center in Trichy
          tr.tblr
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Trivandrum') Microwave Oven Service Center in Trivandrum
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Udaipur') Microwave Oven Service Center in Udaipur
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Ujjain') Microwave Oven Service Center in Ujjain
          tr.tblr
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Vadodara') Microwave Oven Service Center in Vadodara
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Varanasi') Microwave Oven Service Center in Varanasi
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Vellore') Microwave Oven Service Center in Vellore
          tr.tblr
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Vijayawada') Microwave Oven Service Center in Vijayawada
            td.tbltd
              a(href='/MicrowaveOven-Service-Center/Visakhapatnam') Microwave Oven Service Center in Visakhapatnam
            



      //- section.cities-Available
      //-   .heading-cities-Available Cities We Serve -:
      //-   .container
      //-     a.yy(href='/MicrowaveOven-Service-Center/Agra') Agra
      //-     a.yy(href='/MicrowaveOven-Service-Center/Ahmedabad') Ahmedabad
      //-     a.yy(href='/MicrowaveOven-Service-Center/Ahmednagar') Ahmednagar
      //-     a.yy(href='/MicrowaveOven-Service-Center/Ajmer') Ajmer
      //-     a.yy(href='/MicrowaveOven-Service-Center/Akola') Akola
      //-     a.yy(href='/MicrowaveOven-Service-Center/Allahabad') Allahabad
      //-     a.yy(href='/MicrowaveOven-Service-Center/Alwar') Alwar
      //-     a.yy(href='/MicrowaveOven-Service-Center/Amritsar') Amritsar
      //-     a.yy(href='/MicrowaveOven-Service-Center/Asansol') Asansol
      //-     a.yy(href='/MicrowaveOven-Service-Center/Banaras') Banaras
      //-     a.yy(href='/MicrowaveOven-Service-Center/Bangalore') Bangalore
      //-     a.yy(href='/MicrowaveOven-Service-Center/Belgaum') Belgaum
      //-     a.yy(href='/MicrowaveOven-Service-Center/Bengaluru') Bengaluru
      //-     a.yy(href='/MicrowaveOven-Service-Center/Bharuch') Bharuch
      //-     a.yy(href='/MicrowaveOven-Service-Center/Bhilai') Bhilai
      //-     a.yy(href='/MicrowaveOven-Service-Center/Bhopal') Bhopal
      //-     a.yy(href='/MicrowaveOven-Service-Center/Bhubaneswar') Bhubaneswar
      //-     a.yy(href='/MicrowaveOven-Service-Center/Bikaner') Bikaner
      //-     a.yy(href='/MicrowaveOven-Service-Center/Bilaspur') Bilaspur
      //-     a.yy(href='/MicrowaveOven-Service-Center/Calicut') Calicut
      //-     a.yy(href='/MicrowaveOven-Service-Center/Chandigarh') Chandigarh
      //-     a.yy(href='/MicrowaveOven-Service-Center/Chhattisgarh') Chhattisgarh
      //-     a.yy(href='/MicrowaveOven-Service-Center/Chennai') Chennai
      //-     a.yy(href='/MicrowaveOven-Service-Center/Coimbatore') Coimbatore
      //-     a.yy(href='/MicrowaveOven-Service-Center/Cuttack') Cuttack
      //-     a.yy(href='/MicrowaveOven-Service-Center/Darjeeling') Darjeeling
      //-     a.yy(href='/MicrowaveOven-Service-Center/Dehradun') Dehradun
      //-     a.yy(href='/MicrowaveOven-Service-Center/Delhi') Delhi
      //-     a.yy(href='/MicrowaveOven-Service-Center/Dhanbad') Dhanbad
      //-     a.yy(href='/MicrowaveOven-Service-Center/Ernakulam') Ernakulam
      //-     a.yy(href='/MicrowaveOven-Service-Center/Faridabad') Faridabad
      //-     a.yy(href='/MicrowaveOven-Service-Center/Gandhinagar') Gandhinagar
      //-     a.yy(href='/MicrowaveOven-Service-Center/Ghaziabad') Ghaziabad
      //-     a.yy(href='/MicrowaveOven-Service-Center/Goa') Goa
      //-     a.yy(href='/MicrowaveOven-Service-Center/GreaterNoida') Greater Noida
      //-     a.yy(href='/MicrowaveOven-Service-Center/Gurgaon') Gurgaon
      //-     a.yy(href='/MicrowaveOven-Service-Center/Gurugram') Gurugram
      //-     a.yy(href='/MicrowaveOven-Service-Center/Guwahati') Guwahati
      //-     a.yy(href='/MicrowaveOven-Service-Center/Gwalior') Gwalior
      //-     a.yy(href='/MicrowaveOven-Service-Center/Hisar') Hisar
      //-     a.yy(href='/MicrowaveOven-Service-Center/Hubli') Hubli
      //-     a.yy(href='/MicrowaveOven-Service-Center/Hyderabad') Hyderabad
      //-     a.yy(href='/MicrowaveOven-Service-Center/Indore') Indore
      //-     a.yy(href='/MicrowaveOven-Service-Center/Jabalpur') Jabalpur
      //-     a.yy(href='/MicrowaveOven-Service-Center/Jaipur') Jaipur
      //-     a.yy(href='/MicrowaveOven-Service-Center/Jalandhar') Jalandhar
      //-     a.yy(href='/MicrowaveOven-Service-Center/Jammu') Jammu
      //-     a.yy(href='/MicrowaveOven-Service-Center/Jamnagar') Jamnagar
      //-     a.yy(href='/MicrowaveOven-Service-Center/Jamshedpur') Jamshedpur
      //-     a.yy(href='/MicrowaveOven-Service-Center/Jhansi') Jhansi
      //-     a.yy(href='/MicrowaveOven-Service-Center/Jodhpur') Jodhpur
      //-     a.yy(href='/MicrowaveOven-Service-Center/Kanpur') Kanpur
      //-     a.yy(href='/MicrowaveOven-Service-Center/Kharagpur') Kharagpur
      //-     a.yy(href='/MicrowaveOven-Service-Center/Kochi') Kochi
      //-     a.yy(href='/MicrowaveOven-Service-Center/Kolhapur') Kolhapur
      //-     a.yy(href='/MicrowaveOven-Service-Center/Kolkata') Kolkata
      //-     a.yy(href='/MicrowaveOven-Service-Center/Kota') Kota
      //-     a.yy(href='/MicrowaveOven-Service-Center/Kottayam') Kottayam
      //-     a.yy(href='/MicrowaveOven-Service-Center/Kozhikode') Kozhikode
      //-     a.yy(href='/MicrowaveOven-Service-Center/Lucknow') Lucknow
      //-     a.yy(href='/MicrowaveOven-Service-Center/Ludhiana') Ludhiana
      //-     a.yy(href='/MicrowaveOven-Service-Center/Madurai') Madurai
      //-     a.yy(href='/MicrowaveOven-Service-Center/Manali') Manali
      //-     a.yy(href='/MicrowaveOven-Service-Center/Mangalore') Mangalore
      //-     a.yy(href='/MicrowaveOven-Service-Center/Mathura') Mathura
      //-     a.yy(href='/MicrowaveOven-Service-Center/Meerut') Meerut
      //-     a.yy(href='/MicrowaveOven-Service-Center/Mohali') Mohali
      //-     a.yy(href='/MicrowaveOven-Service-Center/Moradabad') Moradabad
      //-     a.yy(href='/MicrowaveOven-Service-Center/Mumbai') Mumbai
      //-     a.yy(href='/MicrowaveOven-Service-Center/Mysore') Mysore
      //-     a.yy(href='/MicrowaveOven-Service-Center/Nagpur') Nagpur
      //-     a.yy(href='/MicrowaveOven-Service-Center/Nainital') Nainital
      //-     a.yy(href='/MicrowaveOven-Service-Center/Nashik') Nashik
      //-     a.yy(href='/MicrowaveOven-Service-Center/NaviMumbai') Navi Mumbai
      //-     a.yy(href='/MicrowaveOven-Service-Center/Noida') Noida
      //-     a.yy(href='/MicrowaveOven-Service-Center/Patna') Patna
      //-     a.yy(href='/MicrowaveOven-Service-Center/Pondicherry') Pondicherry
      //-     a.yy(href='/MicrowaveOven-Service-Center/Prayagraj') Prayagraj
      //-     a.yy(href='/MicrowaveOven-Service-Center/Pune') Pune
      //-     a.yy(href='/MicrowaveOven-Service-Center/Raigarh') Raigarh
      //-     a.yy(href='/MicrowaveOven-Service-Center/Raipur') Raipur
      //-     a.yy(href='/MicrowaveOven-Service-Center/Rajkot') Rajkot
      //-     a.yy(href='/MicrowaveOven-Service-Center/Ranchi') Ranchi
      //-     a.yy(href='/MicrowaveOven-Service-Center/Ratlam') Ratlam
      //-     a.yy(href='/MicrowaveOven-Service-Center/Satara') Satara
      //-     a.yy(href='/MicrowaveOven-Service-Center/Secunderabad') Secunderabad
      //-     a.yy(href='/MicrowaveOven-Service-Center/Shimla') Shimla
      //-     a.yy(href='/MicrowaveOven-Service-Center/Srinagar') Srinagar
      //-     a.yy(href='/MicrowaveOven-Service-Center/Surat') Surat
      //-     a(href='/MicrowaveOven-Service-Center/Thiruvananthapuram') Thiruvanan-thapuram
      //-     a.yy(href='/MicrowaveOven-Service-Center/Thrissur') Thrissur
      //-     a(href='/MicrowaveOven-Service-Center/Tiruchirappalli') Tiruchirappalli
      //-     a.yy(href='/MicrowaveOven-Service-Center/Trichy') Trichy
      //-     a.yy(href='/MicrowaveOven-Service-Center/Trivandrum') Trivandrum
      //-     a.yy(href='/MicrowaveOven-Service-Center/Udaipur') Udaipur
      //-     a.yy(href='/MicrowaveOven-Service-Center/Ujjain') Ujjain
      //-     a.yy(href='/MicrowaveOven-Service-Center/Vadodara') Vadodara
      //-     a.yy(href='/MicrowaveOven-Service-Center/Varanasi') Varanasi
      //-     a.yy(href='/MicrowaveOven-Service-Center/Vellore') Vellore
      //-     a.yy(href='/MicrowaveOven-Service-Center/Vijayawada') Vijayawada
      //-     a.yy(href='/MicrowaveOven-Service-Center/Visakhapatnam') Visakhapatnam






      section.cities-Available.brands-Available
        .heading-cities-Available Brands We Support -:
        table.tbl
          tr.tblr
            td.tbltd
              a(href=`/Actron-MicrowaveOven-Service-Center`) Actron Microwave Oven Service Center
            td.tbltd
              a(href=`/BlueStar-MicrowaveOven-Service-Center`) Blue Star Microwave Oven Service Center
            td.tbltd
              a(href=`/Bosch-MicrowaveOven-Service-Center`) Bosch Microwave Oven Service Center
            
          tr.tblr
            td.tbltd
              a(href=`/BPL-MicrowaveOven-Service-Center`) BPL Microwave Oven Service Center
            td.tbltd
              a(href=`/Carrier-MicrowaveOven-Service-Center`) Carrier Microwave Oven Service Center
            td.tbltd
              a(href=`/Croma-MicrowaveOven-Service-Center`) Croma Microwave Oven Service Center
          tr.tblr
            td.tbltd
              a(href=`/Daikin-MicrowaveOven-Service-Center`) Daikin Microwave Oven Service Center
            td.tbltd
              a(href=`/Electrolux-MicrowaveOven-Service-Center`) Electrolux Microwave Oven Service Center
            td.tbltd
              a(href=`/Fujitsu-MicrowaveOven-Service-Center`) Fujitsu Microwave Oven Service Center
          tr.tblr
            td.tbltd
              a(href=`/GE-MicrowaveOven-Service-Center`) GE Microwave Oven Service Center
            td.tbltd
              a(href=`/GEM-MicrowaveOven-Service-Center`) GEM Microwave Oven Service Center
            td.tbltd
              a(href=`/Godrej-MicrowaveOven-Service-Center`) Godrej Microwave Oven Service Center
          tr.tblr
            td.tbltd
              a(href=`/Haier-MicrowaveOven-Service-Center`) Haier Microwave Oven Service Center
            td.tbltd
              a(href=`/Hitachi-MicrowaveOven-Service-Center`) Hitachi Microwave Oven Service Center
            td.tbltd
              a(href=`/Hyundai-MicrowaveOven-Service-Center`) Hyundai Microwave Oven Service Center
          tr.tblr
            td.tbltd
              a(href=`/IFB-MicrowaveOven-Service-Center`) IFB Microwave Oven Service Center
            td.tbltd
              a(href=`/Kelvinator-MicrowaveOven-Service-Center`) Kelvinator Microwave Oven Service Center
            td.tbltd
              a(href=`/Kenstar-MicrowaveOven-Service-Center`) Kenstar Microwave Oven Service Center
          tr.tblr
            td.tbltd
              a(href=`/Koryo-MicrowaveOven-Service-Center`) Koryo Microwave Oven Service Center
            td.tbltd
              a(href=`/LG-MicrowaveOven-Service-Center`) LG Microwave Oven Service Center
            td.tbltd
              a(href=`/Lloyd-MicrowaveOven-Service-Center`) Lloyd Microwave Oven Service Center
          tr.tblr
            td.tbltd
              a(href=`/Midea-MicrowaveOven-Service-Center`) Midea Microwave Oven Service Center
            td.tbltd
              a(href=`/Mitashi-MicrowaveOven-Service-Center`) Mitashi Microwave Oven Service Center
            td.tbltd
              a(href=`/Mitsubishi-MicrowaveOven-Service-Center`) Mitsubishi Microwave Oven Service Center
          tr.tblr
            td.tbltd
              a(href=`/Napoleon-MicrowaveOven-Service-Center`) Napoleon Microwave Oven Service Center
            td.tbltd
              a(href=`/OGeneral-MicrowaveOven-Service-Center`) O General Microwave Oven Service Center
            td.tbltd
              a(href=`/Onida-MicrowaveOven-Service-Center`) Onida Microwave Oven Service Center
          tr.tblr
            td.tbltd
              a(href=`/Panasonic-MicrowaveOven-Service-Center`) Panasonic Microwave Oven Service Center
            td.tbltd
              a(href=`/Philips-MicrowaveOven-Service-Center`) Philips Microwave Oven Service Center
            td.tbltd
              a(href=`/Samsung-MicrowaveOven-Service-Center`) Samsung Microwave Oven Service Center
          tr.tblr
            td.tbltd
              a(href=`/Sansui-MicrowaveOven-Service-Center`) Sansui Microwave Oven Service Center
            td.tbltd
              a(href=`/Sanyo-MicrowaveOven-Service-Center`) Sanyo Microwave Oven Service Center
            td.tbltd
              a(href=`/Sharp-MicrowaveOven-Service-Center`) Sharp Microwave Oven Service Center
          tr.tblr
            td.tbltd
              a(href=`/Siemens-MicrowaveOven-Service-Center`) Siemens Microwave Oven Service Center
            td.tbltd
              a(href=`/Sony-MicrowaveOven-Service-Center`) Sony Microwave Oven Service Center
            td.tbltd
              a(href=`/TCL-MicrowaveOven-Service-Center`) TCL Microwave Oven Service Center
          tr.tblr
            td.tbltd
              a(href=`/Thomson-MicrowaveOven-Service-Center`) Thomson Microwave Oven Service Center
            td.tbltd
              a(href=`/Toshiba-MicrowaveOven-Service-Center`) Toshiba Microwave Oven Service Center
            td.tbltd
              a(href=`/Vestar-MicrowaveOven-Service-Center`) Vestar Microwave Oven Service Center
          tr.tblr
            td.tbltd
              a(href=`/Videocon-MicrowaveOven-Service-Center`) Videocon Microwave Oven Service Center
            td.tbltd
              a(href=`/Voltas-MicrowaveOven-Service-Center`) Voltas Microwave Oven Service Center
            td.tbltd
              a(href=`/Weston-MicrowaveOven-Service-Center`) Weston Microwave Oven Service Center
          tr.tblr
            td.tbltd
              a(href=`/Whirlpool-MicrowaveOven-Service-Center`) Whirlpool Microwave Oven Service Center
            td.tbltd
              a(href=`/WhiteWestinghouse-MicrowaveOven-Service-Center`) White Westinghouse Microwave Oven Service Center





      //- section.cities-Available.brands-Available
      //-   .heading-cities-Available Brands We Support -:
      //-   .container.brand-Container
      //-     a.yy(href=`/Actron-MicrowaveOven-Service-Center`) Actron
      //-     a.yy(href=`/BlueStar-MicrowaveOven-Service-Center`) Blue Star
      //-     a.yy(href=`/Bosch-MicrowaveOven-Service-Center`) Bosch
      //-     a.yy(href=`/BPL-MicrowaveOven-Service-Center`) BPL
      //-     a.yy(href=`/Carrier-MicrowaveOven-Service-Center`) Carrier
      //-     a.yy(href=`/Croma-MicrowaveOven-Service-Center`) Croma
      //-     a.yy(href=`/Daikin-MicrowaveOven-Service-Center`) Daikin
      //-     a.yy(href=`/Electrolux-MicrowaveOven-Service-Center`) Electrolux
      //-     a.yy(href=`/Fujitsu-MicrowaveOven-Service-Center`) Fujitsu
      //-     a.yy(href=`/GE-MicrowaveOven-Service-Center`) GE
      //-     a.yy(href=`/GEM-MicrowaveOven-Service-Center`) GEM
      //-     a.yy(href=`/Godrej-MicrowaveOven-Service-Center`) Godrej
      //-     a.yy(href=`/Haier-MicrowaveOven-Service-Center`) Haier
      //-     a.yy(href=`/Hitachi-MicrowaveOven-Service-Center`) Hitachi
      //-     a.yy(href=`/Hyundai-MicrowaveOven-Service-Center`) Hyundai
      //-     a.yy(href=`/IFB-MicrowaveOven-Service-Center`) IFB
      //-     a.yy(href=`/Kelvinator-MicrowaveOven-Service-Center`) Kelvinator
      //-     a.yy(href=`/Kenstar-MicrowaveOven-Service-Center`) Kenstar
      //-     a.yy(href=`/Koryo-MicrowaveOven-Service-Center`) Koryo
      //-     a.yy(href=`/LG-MicrowaveOven-Service-Center`) LG
      //-     a.yy(href=`/Lloyd-MicrowaveOven-Service-Center`) Lloyd
      //-     a.yy(href=`/Midea-MicrowaveOven-Service-Center`) Midea
      //-     a.yy(href=`/Mitashi-MicrowaveOven-Service-Center`) Mitashi
      //-     a.yy(href=`/Mitsubishi-MicrowaveOven-Service-Center`) Mitsubishi
      //-     a.yy(href=`/Napoleon-MicrowaveOven-Service-Center`) Napoleon
      //-     a.yy(href=`/OGeneral-MicrowaveOven-Service-Center`) O General
      //-     a.yy(href=`/Onida-MicrowaveOven-Service-Center`) Onida
      //-     a.yy(href=`/Panasonic-MicrowaveOven-Service-Center`) Panasonic
      //-     a.yy(href=`/Philips-MicrowaveOven-Service-Center`) Philips
      //-     a.yy(href=`/Samsung-MicrowaveOven-Service-Center`) Samsung
      //-     a.yy(href=`/Sansui-MicrowaveOven-Service-Center`) Sansui
      //-     a.yy(href=`/Sanyo-MicrowaveOven-Service-Center`) Sanyo
      //-     a.yy(href=`/Sharp-MicrowaveOven-Service-Center`) Sharp
      //-     a.yy(href=`/Siemens-MicrowaveOven-Service-Center`) Siemens
      //-     a.yy(href=`/Sony-MicrowaveOven-Service-Center`) Sony
      //-     a.yy(href=`/TCL-MicrowaveOven-Service-Center`) TCL
      //-     a.yy(href=`/Thomson-MicrowaveOven-Service-Center`) Thomson
      //-     a.yy(href=`/Toshiba-MicrowaveOven-Service-Center`) Toshiba
      //-     a.yy(href=`/Vestar-MicrowaveOven-Service-Center`) Vestar
      //-     a.yy(href=`/Videocon-MicrowaveOven-Service-Center`) Videocon
      //-     a.yy(href=`/Voltas-MicrowaveOven-Service-Center`) Voltas
      //-     a.yy(href=`/Weston-MicrowaveOven-Service-Center`) Weston
      //-     a.yy(href=`/Whirlpool-MicrowaveOven-Service-Center`) Whirlpool
      //-     a(href=`/WhiteWestinghouse-MicrowaveOven-Service-Center`) White Westinghouse





    
    section.why-Us
      .heading-why-Us  Why Choose Us? 
      .reason-why-Us
        .Sub-reason-why-Us.padding-Left
          .reason
            .reason-Img
              img(src='/static/img/why-Us-1.webp' loading='lazy' decoding='async' alt='Cost-Effective')
            .reason-content Cost-Effective
          .reason.padding-Left
            .reason-Img
              img(src='/static/img/why-Us-2.webp' loading='lazy' decoding='async' alt='Experienced Technicians')
            .reason-content Experienced Technicians
        .Sub-reason-why-Us
          .reason
            .reason-Img
              img(src='/static/img/why-Us-3.webp' loading='lazy' decoding='async' alt='Punctuality')
            .reason-content Punctuality
          .reason
            .reason-Img.large-Img
              img(src='/static/img/why-Us-4.webp' loading='lazy' decoding='async' alt='Quality Work')
            .reason-content Quality Work
 

    section.review
      .reviews-overview 
        .heading-reviews 
         | Reviews and Ratings
        .bar-reviews 
          .bar-left
            p.five 
              |5  
            p.stars
              i.fas.fa-star(aria-hidden='true')
              i.fas.fa-star(aria-hidden='true')
              i.fas.fa-star(aria-hidden='true')
              i.fas.fa-star(aria-hidden='true')
              i.fas.fa-star(aria-hidden='true')
            p.rating-count
             | 17688 Customer Ratings
          .bar-right
            .progress 
              span.rating-review 
                |5
              i.fas.fa-star.stars2(aria-hidden='true')
              .barr
                .yellow-bar#ninety
                .grey-bar#ten
              span.percent 
                |90%
            .progress 
              span.rating-review 
                |4
              i.fas.fa-star.stars2(aria-hidden='true')
              .barr
                .yellow-bar#six 
                .grey-bar#ninetyfour
              span.percent 
                |6%
            .progress 
              span.rating-review 
                |3
              i.fas.fa-star.stars2(aria-hidden='true')
              .barr
                .yellow-bar#three
                .grey-bar#ninetyseven
              span.percent 
                |3%
            .progress 
              span.rating-review 
                |2
              i.fas.fa-star.stars2(aria-hidden='true')
              .barr
                .yellow-bar#one
                .grey-bar#ninetynine
              span.percent 
                |1%
            .progress 
              span.rating-review#one-review 
                |1
              i.fas.fa-star.stars2(aria-hidden='true')
              .barr
                .yellow-bar 
                .grey-bar#zero
              span.percent 
                |0%
        .given-rating
          .ratingbox
            .ratingstar 
              .bio-text
                p.rating-name 
                  |  Jagannath Murthy
                p.rating-product 
                  | Microwave Oven 
              .star-count 
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
            .ratingreview
              | I am really pleased with the service provided by your entire team. The engineer who came to fix our problem was well-spoken, skilled, and professional. He arrived the same day I booked the service and completed the job quickly.
            span.testimonial
              i.fa-solid.fa-quote-right           
          .ratingbox
            .ratingstar 
              .bio-text
                p.rating-name 
                  | Mahendra Rathore
                p.rating-product 
                  | Microwave Oven 
              .star-count 
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
            .ratingreview
              |I booked a service from Service Repair India to fix my malfunctioning microwave oven. The service provided was excellent, and I am satisfied with my choice.
            span.testimonial
              i.fa-solid.fa-quote-right
        .given-rating
          .ratingbox
            .ratingstar 
              .bio-text
                p.rating-name 
                  | Archana Malhotra 
                p.rating-product 
                  | Microwave Oven 
              .star-count 
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
            .ratingreview
              |Your team provided excellent service. The technician arrived on time, was well-trained, and repaired the microwave oven efficiently.
            span.testimonial
              i.fa-solid.fa-quote-right           
          .ratingbox
            .ratingstar 
              .bio-text
                p.rating-name 
                  | Dhruvan Iyer 
                p.rating-product 
                  | Microwave Oven 
              .star-count 
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
            .ratingreview
              |I had a tough time finding the right service to fix my microwave oven. I tried a few places, but none of them were able to fix the problem. However, I came across Service Repair India and their technicians were highly knowledgeable and well-trained. They were able to fix my microwave oven in just one visit, and now it's working perfectly. I'm truly satisfied with their prompt and efficient service.
            span.testimonial
              i.fa-solid.fa-quote-right
        .given-rating
          .ratingbox
            .ratingstar 
              .bio-text
                p.rating-name 
                  | Krishna Thakur 
                p.rating-product 
                  | Microwave Oven 
              .star-count 
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
            .ratingreview
              |I am really satisfied with the service I received - It is top-class! I didn't have to worry about anything and my microwave oven was fixed within a few hours of booking the service.
            span.testimonial
              i.fa-solid.fa-quote-right           
          .ratingbox
            .ratingstar 
              .bio-text
                p.rating-name 
                  | Shrestha Vasudevan 
                p.rating-product 
                  | Microwave Oven 
              .star-count 
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
            .ratingreview
              |I just had to share my fantastic experience with Service Repair India. Their team was prompt, efficient, and fixed my microwave oven in no time. Now, it works like a charm! Thank you for providing such excellent service.
            span.testimonial
              i.fa-solid.fa-quote-right






    section.faq
      .heading-reviews.heading-faq 
          |Frequently Asked Questions
      ul.accordian
        li 
          input#14(type='radio' name='accordian')
          label(for='14') 
            h3 What kind of microwave oven services does Service Repair India provide?
          .content
            p 
              | Our microwave oven services include everything from repair and installation to uninstallation and ongoing support. We're well-equipped to handle any issue you may be facing, be it a problem with the glass plate, plate rotation, touch panel, spark, heating, or anything else. Contact us to get the best solution for all your microwave oven related issues.
        li 
          input#15(type='radio' name='accordian')
          label(for='15') 
            h3 Is it worth repairing an microwave oven?
          .content
            p 
              | Consider the severity of the issue, the appliance's age, and the cost of repairs before deciding whether to repair or replace your microwave oven. Our professional repair services ensure safety, accurate diagnosis, and effective solutions, enhancing the appliance's longevity and performance. Choose our qualified technicians for an informed decision on restoring your microwave oven.
        li 
          input#17(type='radio' name='accordian')
          label(for='17') 
            h3 Which is the best microwave oven repair service center near me?
          .content
            p 
              | When it comes to microwave oven repair, there is no better option than Service Repair India. Our highly skilled microwave oven technicians have years of experience in this field, making it easy for them to fix any problem with confidence and accuracy. Choose us for the best quality service you deserve.
        li 
          input#18(type='radio' name='accordian')
          label(for='18') 
            h3 What types of microwave ovens can be repaired by Service Repair India?
          .content
            p 
              | We provide comprehensive professional repair and maintenance services for various types of microwave ovens, including solo, grill, countertop, over-the-range, built-in, convection, and microwave drawers. Our team of experts is equipped to troubleshoot, perform routine maintenance, or replace parts to ensure optimal performance and customer satisfaction. Contact us today for all your microwave oven needs.
        li 
          input#16(type='radio' name='accordian')
          label(for='16') 
            h3 What are the risks of repairing a microwave oven myself?
          .content
            p 
              | Due to high voltage electricity and electromagnetic radiation, microwave oven repairs should only be performed by trained professionals. Disassembling the appliance can cause further damage, malfunction, and even fires. Hazardous materials are present and can be dangerous even after unplugging. Entrusting repairs to trained professionals is crucial for safety, compliance, and proper functioning.
        li 
          input#19(type='radio' name='accordian')
          label(for='19') 
            h3  What are the charges for microwave oven repair?
          .content
            p 
              | We provide a comprehensive visit to check and repair service at Rs 
              sup
                s.prices
                  | 700
              |  500 (
              span.color-green
                |save 30%
              | ). Our skilled technicians will thoroughly inspect your microwave oven for any common issues and provide the necessary repairs. In case any parts are required, additional charges will apply. Trust us to keep your microwave oven running smoothly and efficiently.
        li 
          input#20(type='radio' name='accordian')
          label(for='20') 
            h3 If my microwave oven requires spare parts during repair, are they charged extra?
          .content
            p 
              | At Service Repair India, we believe in transparent pricing. If your microwave oven needs spare parts during repair, we'll inform you of any additional charges before proceeding. Our goal is to provide quality service at fair prices, ensuring your satisfaction with the repair process.
        li 
          input#1(type='radio' name='accordian')
          label(for='1') 
            h3 Does Service Repair India provide microwave oven home repair services?
          .content
            p 
              | Yes, Service Repair India provides doorstep microwave oven repair services by experienced technicians. Get fast and effective solutions from our skilled team at your convenience.
        li 
          input#3(type='radio' name='accordian')
          label(for='3') 
            h3 After placing the request, when can I expect to receive microwave oven service?
          .content
            p 
              | We aim to provide you with prompt and efficient microwave oven service. After receiving your request, our professional will contact you within 10 to 20 minutes or ASAP to schedule a convenient time for the service.
        li 
          input#4(type='radio' name='accordian')
          label(for='4') 
            h3 Is there any warranty provided on microwave oven repairs done by Service Repair India?
          .content
            p 
              | At Service Repair India, we provide warranty on all the repairs completed by our skilled technicians. The warranty period may vary based on the type of repair and spare parts used, but for general repairs, we offer a 30-day warranty. If any issues arise within the warranty period, we will make it right at no additional cost to you. We take pride in our work and are committed to providing reliable and high quality microwave oven service to our customers. Trust us for reliable repairs that last.
        li 
          input#5(type='radio' name='accordian')
          label(for='5') 
            h3 What if Service Repair India's engineer cannot fix the problem with my microwave oven?
          .content
            p 
              | Our skilled technicians at Service Repair India have successfully completed hundreds of repair jobs and are highly proficient in their work. In the rare case that the repair is not completed during the first visit, we will schedule another visit at no extra cost to you, to ensure your complete satisfaction with our microwave oven services.
        li 
          input#6(type='radio' name='accordian')
          label(for='6') 
            h3 Do you use genuine spare parts for replacement?
          .content
            p 
              | Rest assured that our skilled microwave oven professionals use only genuine spare parts for replacements, and if the need arises to use an alternative, they will seek your approval before proceeding. Your satisfaction is our top priority.
        li 
          input#7(type='radio' name='accordian')
          label(for='7') 
            h3 Who is responsible for obtaining the necessary parts if needed?
          .content
            p 
              | Our technician will take care of getting replacement parts to repair your microwave oven. You can choose to buy the parts yourself if you prefer. Our top priority is to ensure that you receive a seamless microwave oven repair experience that exceeds your expectations.
        li 
          input#8(type='radio' name='accordian')
          label(for='8') 
            h3 Do you provide warranty on spare parts?
          .content
            p 
              | Yes, we provide warranty on spare parts. The warranty period may vary depending on the type of spare parts used.
        li 
          input#2(type='radio' name='accordian')
          label(for='2') 
            h3 What are the working hours of Service Repair India?
          .content
            p 
              | Our opening hours are 7:00 AM to 11:00 PM, 7 days a week.
        li 
          input#9(type='radio' name='accordian')
          label(for='9') 
            h3 Does Service Repair India have microwave oven customer support helpline?
          .content
            p 
              | Yes! We understand that customers may need assistance even outside of regular business hours. That's why we've made our microwave oven customer support available every day from 7 AM to 11 PM. You can reach us by dialing 9928622128. Our team is always ready to help you with any concerns or inquiries you may have.
        li 
          input#10(type='radio' name='accordian')
          label(for='10') 
            h3 If necessary, does Service Repair India provide pick-up services to take my microwave oven or damaged part of the microwave oven to their workshop?
          .content
            p 
              | Yes, Service Repair India provides convenient pick-up and drop-off services for your microwave oven when needed. Once the repair work is completed, they will promptly return your microwave oven to your doorstep. Schedule a repair today for the ultimate convenience!
        li 
          input#11(type='radio' name='accordian')
          label(for='11') 
            h3 Can I purchase an microwave oven AMC from Service Repair India?
          .content
            p 
              | Yes, you can buy an Annual Maintenance Contract (AMC) from Service Repair India to ensure regular maintenance and timely repairs of your microwave oven. This will help keep your microwave oven in good working condition and prevent unexpected breakdowns. Contact us now to learn more about the available plans and how to get started.
        li 
          input#12(type='radio' name='accordian')
          label(for='12') 
            h3 How is Service Repair India's microwave oven service different from other service providers?
          .content
            p 
              | Service Repair India provides a consistent and reliable microwave oven service experience, unlike other service providers who rely on a network of freelance technicians. Our in-house microwave oven service engineers have over a decade of experience in this field, ensuring expert and reliable services. Choose Service Repair India for a seamless microwave oven service experience with transparent pricing and quick response time.
        li 
          input#13(type='radio' name='accordian')
          label(for='13') 
            h3 What guarantees the reliability of Service Repair India's microwave oven professionals?
          .content
            p 
              | At Service Repair India, we ensure reliability and professionalism by thoroughly screening our microwave oven professionals based on qualifications, experience, and expertise. We conduct background checks, provide ongoing training programs, and prioritize accountability along with customer satisfaction. This fosters a culture of trust and confidence in the reliability of our microwave oven professionals and the services we provide.





    
    section.about-Us
      .heading-about-Us More About Us,
      p.info-weDo.padding-X
        | We are honored to serve you and provide top-notch services. Our home services span across India and cater to all product types and brands that are out of warranty, including ACs, refrigerators, washing machines, microwave ovens, TVs, and many more. As a privately owned center, we offer chargeable services and have a dedicated team of service professionals who are committed to providing the highest quality service with utmost consumer satisfaction. Our technicians are rigorously trained to deliver prompt and efficient service, ensuring that your job is completed to perfection. Plus, we stand behind our work with a 30-day service warranty so you can have peace of mind. When you choose us, you can rest assured that your appliances are in good hands!
      .call-Us-now
        | Call Us Now at -: 
        a(href=`tel:${NumValue}`)
          .inline-Block  #{NumValue} 



    footer
      script(type='application/ld+json').
        {
        "@context": "https://schema.org",
        "@type": "LocalBusiness",
        "description": "97844-67343 | Get the best, Microwave Oven - ✓Service, ✓Repair, ✓Installation, ✓Uninstallation etc. We provide services for all types of Microwave Ovens and all brands.",
        "name": "Microwave Oven Service Repair",
        "alternateName": "Microwave Oven Service Center",
        "image": "https://www.servicerepairindia.com/static/img/Microwave.webp",
        "@id": "",
        "url": "https://www.servicerepairindia.com/MicrowaveOven-Service-Center",
        "telephone": "#{NumValue}",
        "priceRange": "According to service",
        "address": {
        "@type": "PostalAddress",
        "streetAddress": "",
        "addressLocality": "",
        "postalCode": "",
        "addressCountry": "IN"
        },
        "openingHoursSpecification": {
        "@type": "OpeningHoursSpecification",
        "dayOfWeek": [
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday",
        "Saturday",
        "Sunday"
        ],
        "opens": "00:00",
        "closes": "23:59"
        }
        }
      .footer-black 
        .our-services 
          span.our-services-heading 
            | Our Services
          ul.our-services-ul 
           li.our-services-li 
             a(href='/AC-Service-Center') AC
           li.our-services-li
             a(href='/Refrigerator-Service-Center') Refrigerator
           li.our-services-li
             a(href='/WashingMachine-Service-Center') Washing Machine
           li.our-services-li
             a(href='/MicrowaveOven-Service-Center') Microwave
           li.our-services-li
             a(href='/TV-Service-Center') TV
        .our-services.services2
          span.our-services-heading 
            | Contact Us     
          ul.our-services-ul 
           li.our-services-li 
             span.fa.fa-mobile(aria-hidden='true')
             a.footer-a(href=`tel:${NumValue}`)
               | #{NumValue}
           li.our-services-li
             span.fa.fa-clock
             span.footer-hrs
               | Opening Hours: 7:00 AM to 11:00 PM, 7 days a week
      .footer
        a(href='/' target='_blank')  Service Repair India 
        |  | All Rights Reserved.
  
  
    script(src='/static/index.js' defer='')
  
