doctype html
html
  head
    title #{BrandName1} Refrigerator Service Center in #{AreaName1}, #{CityName1} | #{NumValue}
    meta(name='Title' content=`${BrandName1} Refrigerator Service Center in ${AreaName1}, ${CityName1} | ${NumValue}`)
    meta(name='description' content=`99286-22128 | Get the best, ${BrandName1} Refrigerator - ✓Service, ✓Repair, ✓Installation, ✓Uninstallation, ✓Gas filling in ${AreaName1}, ${CityName1}. We provide services for all types of ${BrandName1} Refrigerators.`)
    meta(name='keywords' content=`${BrandName1} Refrigerator Service Center in ${AreaName1} ${CityName1}, ${BrandName1} Refrigerator Service Repair in ${AreaName1} ${CityName1}, ${BrandName1} Refrigerator Repair in ${AreaName1} ${CityName1}, ${BrandName1} Single Door Refrigerator Repair in ${AreaName1} ${CityName1}, ${BrandName1} Double Door Refrigerator Repair in ${AreaName1} ${CityName1}, ${BrandName1} Fridge Service Repair in ${AreaName1} ${CityName1}, ${BrandName1} Fridge Repair in ${AreaName1} ${CityName1}, ${BrandName1} Fridge Service Center in ${AreaName1} ${CityName1}, ${BrandName1} Refrigerator Service in ${AreaName1} ${CityName1}, ${BrandName1} Fridge Service in ${AreaName1} ${CityName1}, ${BrandName1} Single Door Refrigerator Service Center in ${AreaName1} ${CityName1}, ${BrandName1} Double Door Refrigerator Service Center in ${AreaName1} ${CityName1}, ${BrandName1} Single Door Refrigerator Service in ${AreaName1} ${CityName1}, ${BrandName1} Double Door Refrigerator Service in ${AreaName1} ${CityName1}, ${BrandName1} Deep Freezer Repair in ${AreaName1} ${CityName1}, ${BrandName1} Refrigerator gas filling in ${AreaName1} ${CityName1}, ${BrandName1} Single Door Refrigerator gas filling in ${AreaName1} ${CityName1}, ${BrandName1} Double Door Refrigerator gas filling in ${AreaName1} ${CityName1}, ${BrandName1} Refrigerator Repair Shops in ${AreaName1} ${CityName1}, ${BrandName1} Fridge Repair Shops in ${AreaName1} ${CityName1}, ${BrandName1} Deep Freezer gas filling in ${AreaName1} ${CityName1}, ${BrandName1} Deep Freezer Service Center in ${AreaName1} ${CityName1}, ${BrandName1} Deep Freezer Service in ${AreaName1} ${CityName1}, ${BrandName1} Refrigerator installation in ${AreaName1} ${CityName1}, ${BrandName1} Single Door Refrigerator installation in ${AreaName1} ${CityName1}, ${BrandName1} Double Door Refrigerator installation in ${AreaName1} ${CityName1}, ${BrandName1} Triple Door Refrigerator Repair in ${AreaName1} ${CityName1}, ${BrandName1} Triple Door Refrigerator Service in ${AreaName1} ${CityName1}, ${BrandName1} Triple Door Refrigerator Service Center in ${AreaName1} ${CityName1}, ${BrandName1} Triple Door Refrigerator gas filling in ${AreaName1} ${CityName1}, ${BrandName1} Side by Side Door Refrigerator Repair in ${AreaName1} ${CityName1}, ${BrandName1} Side by Side Door Refrigerator Service in ${AreaName1} ${CityName1}, ${BrandName1} Side by Side Door Refrigerator Service Center in ${AreaName1} ${CityName1}, ${BrandName1} Side by Side Door Refrigerator gas filling in ${AreaName1} ${CityName1}, ${BrandName1} Triple Door Refrigerator installation in ${AreaName1} ${CityName1}, ${BrandName1} Side by Side Door Refrigerator installation in ${AreaName1} ${CityName1}, ${BrandName1} Refrigerator uninstallation in ${AreaName1} ${CityName1}, ${BrandName1} Single Door Refrigerator uninstallation in ${AreaName1} ${CityName1}, ${BrandName1} Double Door Refrigerator uninstallation in ${AreaName1} ${CityName1}, ${BrandName1} Triple Door Refrigerator uninstallation in ${AreaName1} ${CityName1}, ${BrandName1} Side by Side Door Refrigerator uninstallation in ${AreaName1} ${CityName1}, Best ${BrandName1} Refrigerator Repair Service in ${AreaName1} ${CityName1}, ${BrandName1} Refrigerator Repair Service Reviews in ${AreaName1} ${CityName1}, ${BrandName1} Refrigerator Repair Center in ${AreaName1} ${CityName1}, ${BrandName1} Refrigerator Repair Charges in ${AreaName1} ${CityName1}, ${BrandName1} Refrigerator Service Center near me in ${AreaName1} ${CityName1}, ${BrandName1} Refrigerator Repair near me in ${AreaName1} ${CityName1}, ${BrandName1} Single Door Refrigerator Repair near me in ${AreaName1} ${CityName1}, ${BrandName1} Double Door Refrigerator Repair near me in ${AreaName1} ${CityName1}, ${BrandName1} Fridge Repair near me in ${AreaName1} ${CityName1}, ${BrandName1} Fridge Service Repair near me in ${AreaName1} ${CityName1}, ${BrandName1} Fridge Service Center near me in ${AreaName1} ${CityName1}, ${BrandName1} Refrigerator Service near me in ${AreaName1} ${CityName1}, ${BrandName1} Single Door Refrigerator Service near me in ${AreaName1} ${CityName1}, ${BrandName1} Double Door Refrigerator Service near me in ${AreaName1} ${CityName1}, ${BrandName1} Fridge Service near me in ${AreaName1} ${CityName1}, ${BrandName1} Single Door Refrigerator Service Center near me in ${AreaName1} ${CityName1}, ${BrandName1} Double Door Refrigerator Service Center near me in ${AreaName1} ${CityName1}, ${BrandName1} Refrigerator gas filling near me in ${AreaName1} ${CityName1}, ${BrandName1} Single Door Refrigerator gas filling near me in ${AreaName1} ${CityName1}, ${BrandName1} Double Door Refrigerator gas filling near me in ${AreaName1} ${CityName1}, Best ${BrandName1} Refrigerator Repair Service near me in ${AreaName1} ${CityName1}, ${BrandName1} Refrigerator Repair Service Reviews near me in ${AreaName1} ${CityName1}, ${BrandName1} Refrigerator Repair Center near me in ${AreaName1} ${CityName1}, ${BrandName1} Refrigerator Service Repair near me in ${AreaName1} ${CityName1}, ${BrandName1} Refrigerator Repair Shops near me in ${AreaName1} ${CityName1}, ${BrandName1} Fridge Repair Shops near me in ${AreaName1} ${CityName1}, ${BrandName1} Refrigerator Repair Charges near me in ${AreaName1} ${CityName1}, ${BrandName1} Deep Freezer Repair near me in ${AreaName1} ${CityName1}, ${BrandName1} Deep Freezer gas filling near me in ${AreaName1} ${CityName1}, ${BrandName1} Deep Freezer Service Center near me in ${AreaName1} ${CityName1}, ${BrandName1} Deep Freezer Service near me in ${AreaName1} ${CityName1}, ${BrandName1} Triple Door Refrigerator Repair near me in ${AreaName1} ${CityName1}, ${BrandName1} Triple Door Refrigerator Service near me in ${AreaName1} ${CityName1}, ${BrandName1} Triple Door Refrigerator Service Center near me in ${AreaName1} ${CityName1}, ${BrandName1} Triple Door Refrigerator gas filling near me in ${AreaName1} ${CityName1}, ${BrandName1} Side by Side Door Refrigerator Repair near me in ${AreaName1} ${CityName1}, ${BrandName1} Side by Side Door Refrigerator Service near me in ${AreaName1} ${CityName1}, ${BrandName1} Side by Side Door Refrigerator Service Center near me in ${AreaName1} ${CityName1}, ${BrandName1} Side by Side Door Refrigerator gas filling near me in ${AreaName1} ${CityName1}, ${BrandName1} Refrigerator installation near me in ${AreaName1} ${CityName1}, ${BrandName1} Single Door Refrigerator installation near me in ${AreaName1} ${CityName1}, ${BrandName1} Double Door Refrigerator installation near me in ${AreaName1} ${CityName1}, ${BrandName1} Triple Door Refrigerator installation near me in ${AreaName1} ${CityName1}, ${BrandName1} Side by Side Door Refrigerator installation near me in ${AreaName1} ${CityName1}, ${BrandName1} Refrigerator uninstallation near me in ${AreaName1} ${CityName1}, ${BrandName1} Single Door Refrigerator uninstallation near me in ${AreaName1} ${CityName1}, ${BrandName1} Double Door Refrigerator uninstallation near me in ${AreaName1} ${CityName1}, ${BrandName1} Triple Door Refrigerator uninstallation near me in ${AreaName1} ${CityName1}, ${BrandName1} Side by Side Door Refrigerator uninstallation near me in ${AreaName1} ${CityName1}, Best ${BrandName1} fridge repair in ${AreaName1} ${CityName1}, ${BrandName1} Refrigerator customer care number in ${AreaName1} ${CityName1}, Best ${BrandName1} fridge repair near me in ${AreaName1} ${CityName1}, ${BrandName1} Refrigerator customer care number near me in ${AreaName1} ${CityName1}`)
    link(rel='canonical' href=`https://www.Servicerepairindia.com/${BrandName2}-Refrigerator-Service-Center/${CityName2}-${AreaName2}`)
    meta(property='og:image' content='https://www.servicerepairindia.com/static/img/Refrigerator.webp')
    meta(property='og:title' content=`${BrandName1} Refrigerator Service Center in ${AreaName1}, ${CityName1} | ${NumValue}`)
    meta(property='og:description' content=`99286-22128 | Get the best, ${BrandName1} Refrigerator - ✓Service, ✓Repair, ✓Installation, ✓Uninstallation, ✓Gas filling in ${AreaName1}, ${CityName1}. We provide services for all types of ${BrandName1} Refrigerators.`)
    meta(property='og:url' content=`https://www.Servicerepairindia.com/${BrandName2}-Refrigerator-Service-Center/${CityName2}-${AreaName2}`)
    meta(property='al:ios:url' content=`https://www.Servicerepairindia.com/${BrandName2}-Refrigerator-Service-Center/${CityName2}-${AreaName2}`)
    meta(name='twitter:card' content='summary')
    meta(name='twitter:site' content='@Service Repair India')
    meta(name='twitter:title' content=`${BrandName1} Refrigerator Service Center in ${AreaName1}, ${CityName1} | ${NumValue}`)
    meta(name='twitter:description' content=`99286-22128 | Get the best, ${BrandName1} Refrigerator - ✓Service, ✓Repair, ✓Installation, ✓Uninstallation, ✓Gas filling in ${AreaName1}, ${CityName1}. We provide services for all types of ${BrandName1} Refrigerators.`)
    meta(name='twitter:image' content='https://www.servicerepairindia.com/static/img/Refrigerator.webp')
    meta(charset='UTF-8')
    meta(http-equiv='content-language' content='en-gb')
    meta(name='distribution' content='global')
    meta(name='copyright' content='Servicerepairindia.com')
    meta(property='og:type' content='website')
    meta(property='og:sitename' content='Servicerepairindia.com')
    meta(property='og:locale' content='en_GB')
    meta(name='format-detection' content='telephone=yes')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=5')
    meta(name='robots' content='INDEX, FOLLOW')
    meta(name='robots' content='noodp, noydir')
    meta(name='geo.region' content='IN')
    meta(name='googlebot' content='index, follow')
    link(rel='icon' href='/static/img/icon.webp')
    link(rel='stylesheet' href='/static/style.css')
    link(rel='stylesheet' href='/static/responsive.css' media='screen and (max-width:650px)')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css' integrity='sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==' crossorigin='anonymous' referrerpolicy='no-referrer')
    

  body 
  
    header.hdr
      .mainHeading Service Repair India
   
    nav.navbar.h-nav-Resp
      ul.navList.v-class-Resp
        li.listItem.A1
          a(href='/') Home
        li.listItem.A2
          a(href='/AC-Service-Center') AC
        li.listItem.A3
          a.active(href='/Refrigerator-Service-Center') Refrigerator
        li.listItem.A4
          a(href='/WashingMachine-Service-Center') Washing Machine
        li.listItem.A5
          a(href='/MicrowaveOven-Service-Center') Microwave
        li.listItem.A6
          a(href='/TV-Service-Center') TV
      .burger
        .line
        .line
        .line


    .fixed-call-Now
      a.call-A(href=`tel:${NumValue}`)
        img(src='/static/img/call.webp' loading='lazy' decoding='async' alt='Call Now')
        .call-Now  Call Now 




    //- section.numberSection
    //-   .call Call Now -:
    //-   .numbers
    //-     #number1.number
    //-       a(href='tel:9784467344') 97844-67344
    //-     #number2.number
    //-       a(href='tel:9784467343') 97844-67343
    //-     #number3.number
    //-       a(href='tel:8306511294') 83065-11294
    //-     #number4.number
    //-       a(href='tel:9875711293') 98757-11293
    //-     #number5.number
    //-       a(href='tel:9928622128') 99286-22128





    section.numberSection
      .call Call Now -:
      .numbers
        #number1.number
          a(href='tel:9928622128') 99286-22128



  
    main  


      section.imgg
        img(src=`/static/img/${BrandName2}.webp` loading='lazy' decoding='async' alt=`${BrandName1}`)



      section.heading-Section
        h1.mainHeading2.mainHeading2Brand #{BrandName1} Refrigerator Service Center in #{AreaName1}, #{CityName1}





      section.intro
          p.info-weDo
            | At our company, we understand the fundamental role that a well-functioning refrigerator plays in your home. That's why we take pride in providing the best #{BrandName1} refrigerator services in #{AreaName1}, #{CityName1}. Our team of skilled #{BrandName1} professionals in #{AreaName1}, #{CityName1} is highly trained to handle any type of #{BrandName1} refrigerator, including Single Door, Double Door, Triple Door, Side by Side, French Door, Top Freezer, Bottom Freezer, Deep Freezer, and many more. We provide a wide range of services in #{AreaName1}, #{CityName1}, including repairs, gas filling, and general maintenance. No matter what issues you are facing with your #{BrandName1} refrigerator, such as problems with power, light, doors, or cooling, we have got you covered. We provide home services in #{AreaName1}, #{CityName1} and cater to all brands of refrigerators. Trust us to keep your #{BrandName1} refrigerator running smoothly and efficiently all year round.





      section.city-image-container
        img(src=`/static/img/${CityName2}.webp` loading='lazy' decoding='async' alt=`${CityName1}`)




      section.services-Available
        .heading-weDo.marginTB.mbo
          | We provide a wide range of #{BrandName1} refrigerator services in #{AreaName1}, #{CityName1}.
          br
          | The major ones include:        


        article#ac1
          .imgb
            img(src='/static/img/Refrigerator2.webp' loading='lazy' decoding='async' alt=`${BrandName1} Refrigerator Service Repair in ${AreaName1}, ${CityName1}`)
          .contentb  
            .dabba  
              ul
                li  
                  h2.ACcontent #{BrandName1} Refrigerator Service in #{AreaName1}, #{CityName1}
                li  
                  h2.ACcontent #{BrandName1} Refrigerator Repair in #{AreaName1}, #{CityName1}
                li  
                  h2.ACcontent #{BrandName1} Refrigerator Installation in #{AreaName1}, #{CityName1}
                li  
                  h2.ACcontent #{BrandName1} Refrigerator Uninstallation in #{AreaName1}, #{CityName1}
                li  
                  h2.ACcontent #{BrandName1} Refrigerator Gas Filling in #{AreaName1}, #{CityName1} etc.
            
        
        article#ac2
          .imgb
            img(src='/static/img/Refrigerator3.webp' loading='lazy' decoding='async' alt=`${BrandName1} Single Door Refrigerator Service Repair in ${AreaName1}, ${CityName1}`)
          .contentb
            .dabba
              ul
                li  
                  h2.ACcontent #{BrandName1} Single Door Refrigerator Service in #{AreaName1}, #{CityName1}
                li  
                  h2.ACcontent #{BrandName1} Single Door Refrigerator Repair in #{AreaName1}, #{CityName1}
                li  
                  h2.ACcontent #{BrandName1} Single Door Refrigerator Installation in #{AreaName1}, #{CityName1}
                li  
                  h2.ACcontent #{BrandName1} Single Door Refrigerator Uninstallation in #{AreaName1}, #{CityName1}
                li  
                  h2.ACcontent #{BrandName1} Single Door Refrigerator Gas Filling in #{AreaName1}, #{CityName1} etc.
         
              
        
        article#ac1
          .imgb
            img(src='/static/img/Refrigerator4.webp' loading='lazy' decoding='async' alt=`${BrandName1} Double Door Refrigerator Service Repair in ${AreaName1}, ${CityName1}`)
          .contentb  
            .dabba
              ul
                li  
                  h2.ACcontent #{BrandName1} Double Door Refrigerator Service in #{AreaName1}, #{CityName1}
                li  
                  h2.ACcontent #{BrandName1} Double Door Refrigerator Repair in #{AreaName1}, #{CityName1}
                li  
                  h2.ACcontent #{BrandName1} Double Door Refrigerator Installation in #{AreaName1}, #{CityName1}
                li  
                  h2.ACcontent #{BrandName1} Double Door Refrigerator Uninstallation in #{AreaName1}, #{CityName1}
                li  
                  h2.ACcontent #{BrandName1} Double Door Refrigerator Gas Filling in #{AreaName1}, #{CityName1} etc.
    
              
        
        article#ac2
          .imgb
            img(src='/static/img/Refrigerator5.webp' loading='lazy' decoding='async' alt=`${BrandName1} Triple Door Refrigerator Service Repair in ${AreaName1}, ${CityName1}`)
          .contentb
            .dabba
              ul
                li  
                  h2.ACcontent #{BrandName1} Triple Door Refrigerator Service in #{AreaName1}, #{CityName1}
                li  
                  h2.ACcontent #{BrandName1} Triple Door Refrigerator Repair in #{AreaName1}, #{CityName1}
                li  
                  h2.ACcontent #{BrandName1} Triple Door Refrigerator Installation in #{AreaName1}, #{CityName1}
                li  
                  h2.ACcontent #{BrandName1} Triple Door Refrigerator Uninstallation in #{AreaName1}, #{CityName1}
                li  
                  h2.ACcontent #{BrandName1} Triple Door Refrigerator Gas Filling in #{AreaName1}, #{CityName1} etc.
         
              
        
        article#ac1
          .imgb
            img(src='/static/img/Refrigerator6.webp' loading='lazy' decoding='async' alt=`${BrandName1} Side by Side Door Refrigerator Service Repair in ${AreaName1}, ${CityName1}`)
          .contentb  
            .dabba
              ul
                li  
                  h2.ACcontent #{BrandName1} Side by Side Door Refrigerator Service in #{AreaName1}, #{CityName1}
                li  
                  h2.ACcontent #{BrandName1} Side by Side Door Refrigerator Repair in #{AreaName1}, #{CityName1}
                li  
                  h2.ACcontent #{BrandName1} Side by Side Door Refrigerator Installation in #{AreaName1}, #{CityName1}
                li  
                  h2.ACcontent #{BrandName1} Side by Side Door Refrigerator Uninstallation in #{AreaName1}, #{CityName1}
                li  
                  h2.ACcontent #{BrandName1} Side by Side Door Refrigerator Gas Filling in #{AreaName1}, #{CityName1} etc.



      article
        .heading-all-about #{BrandName1} Refrigerators
        .content-all-about
          p
            | #{BrandContent}






      article     
        .heading-all-about All About #{BrandName1} Refrigerator Service and Repair
        .content-all-about
          p        
            | Maintenance and care of your #{BrandName1} equipment is important for its healthy functioning and longevity. But nowadays, with such busy schedules, finding the right #{BrandName1} experts in #{AreaName1}, #{CityName1} can be both difficult and expensive. Look no further! Service Repair India is here to provide you with the best #{BrandName1} service professionals in #{AreaName1}, #{CityName1} who are well-trained and have years of experience. Say goodbye to the hassle of visiting the refrigerator service center. We provide #{BrandName1} refrigerator service repairs in #{AreaName1}, #{CityName1} at your home and at your desired time slot. Our #{BrandName1} experts in #{AreaName1}, #{CityName1} will take care of everything, whether it's servicing, repairing, or any other kind of assistance. With Service Repair India, you can now get the best service possible for your #{BrandName1} refrigerator, without any hassle and at the comfort of your home. So why wait? Avail our services in #{AreaName1}, #{CityName1} today and enjoy a hassle-free experience!




      article     
        .heading-all-about Our #{BrandName1} Refrigerator Services in #{AreaName1}, #{CityName1}
        .content-all-about
          p
            | Since established in 2004, our exceptional #{BrandName1} refrigerator services in #{AreaName1}, #{CityName1} have only gotten better with time. At Service Repair India, we take great pride in providing exceptional #{BrandName1} refrigerator services in #{AreaName1}, #{CityName1} that truly stand out. Our team of skilled #{BrandName1} technicians in #{AreaName1}, #{CityName1} is dedicated to ensuring that your #{BrandName1} appliance operates at its peak efficiency, whether through regular maintenance, timely repairs, or comprehensive installations. We use the latest diagnostic tools and top-quality replacement parts to address any issues swiftly and effectively. What truly sets us apart is our unwavering commitment to your satisfaction. We offer flexible scheduling, transparent pricing, and a satisfaction guarantee to ensure that every job is completed to your highest standards. With years of experience and a proven track record of excellence, we are your go-to #{BrandName1} professionals for reliable, efficient, and customer-focused #{BrandName1} refrigerator services in #{AreaName1}, #{CityName1}.






      section.all-about
        .how-it-works How it works?
        .content-all-about
          p
            | Looking to get your refrigerator fixed by the best #{BrandName1} professionals near you in #{AreaName1}, #{CityName1}? Look no further than us! Just give us a call and let us know what type of #{BrandName1} refrigerator you have, the issue you're facing, your location, and your preferred time. That's all we need to send a skilled #{BrandName1} professional in #{AreaName1}, #{CityName1} right to your doorstep. Don't wait any longer to restore your #{BrandName1} refrigerator's functionality - Contact us today!
        .reason-why-Us
          .Sub-reason-why-Us.padding-Left.padding-left-
            .reason
              .reason-Img.br58
                img(src='/static/img/call-us.webp' loading='lazy' id="call-heading" decoding='async' alt='Call us')
              .reason-content.normal-font Call us
            .reason.padding-Left
              .reason-Img.br58
                img(src='/static/img/service.webp' loading='lazy' decoding='async' alt='Tell us the service you require')
              .reason-content.normal-font Tell us the service you require
          .Sub-reason-why-Us
            .reason
              .reason-Img.br58
                img(src='/static/img/time-slot.webp' loading='lazy' decoding='async' alt='Select your desirable time-slot')
              .reason-content.normal-font Select your desirable time-slot
            .reason.hassle-free
              .reason-Img.large-Img.br58
                img(src='/static/img/hassle-free.webp' loading='lazy' decoding='async' alt='Hassle free service')
              .reason-content.normal-font Hassle free service
      


      article     
        .content-all-about
          p.extra-content-heading
            | Servicing and repairing your #{BrandName1} Refrigerator provides several benefits:
          ul.extra-content-ul
            li.extra-content-li
              strong.grey
               |Improved Efficiency: 
              |Don't let your energy bills skyrocket! Keep your #{BrandName1} refrigerator running efficiently with regular maintenance. By taking care of your #{BrandName1} fridge, you can save money and reduce your carbon footprint. Remember, a little maintenance goes a long way!
            li.extra-content-li
              strong.grey 
                |Extended Lifespan: 
              |By taking good care of your #{BrandName1} refrigerator and addressing repairs promptly, you can significantly increase its lifespan, saving you from the hassle and expense of replacing it prematurely. Don't let neglect or procrastination cost you in the long run - make your #{BrandName1} equipment's maintenance and repairs a priority today.
            li.extra-content-li
              strong.grey 
                |Food Safety: 
              |Did you know that regular servicing can help you maintain the optimal temperature and humidity levels in your #{BrandName1} fridge? This not only helps in preserving the freshness of your food, but also prevents any bacteria growth or food spoilage. So, if you want to keep your food fresh and healthy for a longer period of time, make sure you get your #{BrandName1} fridge serviced regularly.
            li.extra-content-li
              strong.grey 
                |Reduced Repairs: 
              |Regular maintenance is vital in preventing small issues from turning into major problems. Investing in regular maintenance of your #{BrandName1} refrigerator can result in substantial savings by preventing costly repairs in the future. Don't wait until it's too late - take action now and keep your #{BrandName1} equipment in top-notch condition for a long time.
            li.extra-content-li
              strong.grey 
                |Environmental Impact: 
              |By keeping your #{BrandName1} refrigerator well-maintained, you can significantly decrease its energy consumption, which not only leads to lower carbon emissions but also helps to reduce your overall environmental impact. So, take a step towards a greener future today by looking after your #{BrandName1} refrigerator!
            li.extra-content-li
              strong.grey 
                |Warranty Compliance: 
              |By keeping up with the regular servicing and repairs of your #{BrandName1} refrigerator, you can ensure that its warranty coverage remains valid. This will not only give you peace of mind but also enable you to take advantage of any manufacturer guarantees that comes with your #{BrandName1} refrigerator. Remember, preventative maintenance can save you from costly repairs later on, so don't hesitate to prioritize the well-being of your #{BrandName1} appliance today!
            li.extra-content-li
              strong.grey 
                |Safety: 
              |Regular servicing is crucial for the safety of your #{BrandName1} appliances. By identifying and resolving any potential safety concerns, such as faulty wiring or compressor issues, you can minimize the risk of accidents or malfunctions. Don't wait until it's too late - book a service today to ensure your #{BrandName1} appliances are always in top condition!



      article     
        .content-all-about-2
          p.heading-about-Us
            | About Us
          ul.extra-content-ul
            li.extra-content-li
              |Service Repair India is the ultimate solution for all your electronic home appliance repair and service needs. We are a prominent service provider company, catering to customers all over India. We specialize in repairing and servicing all kinds of refrigerators. For example - Single Door, Double Door, Triple Door, Side by Side, French Door, Top Freezer, Bottom Freezer, Deep Freezer etc. Our services are available for all the top brands, including Onida, White Westinghouse, Godrej, Philips, Electrolux, Sanyo, Carrier, Haier, Hitachi, Daikin, Sony, Sharp, IFB, Sansui, Samsung, and many more.
            li.extra-content-li
              |Our team comprises of highly qualified and experienced field engineers, who are backed by efficient coordination executives. They are always ready to serve you promptly. Our mobile unit of service technicians is equipped with the latest diagnostic and repair tools, and well-trained to provide the best on-site services. They are always well-dressed and adhere to the highest professional standards. In addition, our service centers and customer service representatives provide reliable support, ensuring that your service requests are responded to within 24 hours.
            li.extra-content-li
              |We take pride in providing prompt and reliable services to our customers. Our technicians are well-trained to service all brands of electric home appliances, irrespective of their age or condition. They are equipped with the appropriate tools, skills, and expertise to give you the best possible service every time. Our ultimate goal is to exceed our customers' expectations in the appliance repair industry.
            li.extra-content-li
              |In these tough economic times, we understand the value of your time and money. Therefore, we work with you to schedule a service that is quick and convenient for you. Once your service is scheduled, we ensure that our technicians arrive at your doorstep on time and ready to work. You can count on us to provide you with an unparalleled service experience that you will never forget.
            li.extra-content-li
              |At our company, we value your feedback and take it seriously. We conduct customer satisfaction surveys to ensure that we continuously improve our services. We believe in our responsibility to not only repair your appliance but also educate you on how to maximize its performance while keeping our planet in mind. By doing this, we help you save on power and repair costs while also reducing the environmental impact.







    
    section.why-Us
      .heading-why-Us  Why Choose Us? 
      .reason-why-Us
        .Sub-reason-why-Us.padding-Left
          .reason
            .reason-Img
              img(src='/static/img/why-Us-1.webp' loading='lazy' decoding='async' alt='Cost-Effective')
            .reason-content Cost-Effective
          .reason.padding-Left
            .reason-Img
              img(src='/static/img/why-Us-2.webp' loading='lazy' decoding='async' alt='Experienced Technicians')
            .reason-content Experienced Technicians
        .Sub-reason-why-Us
          .reason
            .reason-Img
              img(src='/static/img/why-Us-3.webp' loading='lazy' decoding='async' alt='Punctuality')
            .reason-content Punctuality
          .reason
            .reason-Img.large-Img
              img(src='/static/img/why-Us-4.webp' loading='lazy' decoding='async' alt='Quality Work')
            .reason-content Quality Work
  

    section.review
      .reviews-overview 
        .heading-reviews 
         | Reviews and Ratings
        .bar-reviews 
          .bar-left
            p.five 
              |5  
            p.stars
              i.fas.fa-star(aria-hidden='true')
              i.fas.fa-star(aria-hidden='true')
              i.fas.fa-star(aria-hidden='true')
              i.fas.fa-star(aria-hidden='true')
              i.fas.fa-star(aria-hidden='true')
            p.rating-count
             | 17688 Customer Ratings
          .bar-right
            .progress 
              span.rating-review 
                |5
              i.fas.fa-star.stars2(aria-hidden='true')
              .barr
                .yellow-bar#ninety
                .grey-bar#ten
              span.percent 
                |90%
            .progress 
              span.rating-review 
                |4
              i.fas.fa-star.stars2(aria-hidden='true')
              .barr
                .yellow-bar#six 
                .grey-bar#ninetyfour
              span.percent 
                |6%
            .progress 
              span.rating-review 
                |3
              i.fas.fa-star.stars2(aria-hidden='true')
              .barr
                .yellow-bar#three
                .grey-bar#ninetyseven
              span.percent 
                |3%
            .progress 
              span.rating-review 
                |2
              i.fas.fa-star.stars2(aria-hidden='true')
              .barr
                .yellow-bar#one
                .grey-bar#ninetynine
              span.percent 
                |1%
            .progress 
              span.rating-review#one-review 
                |1
              i.fas.fa-star.stars2(aria-hidden='true')
              .barr
                .yellow-bar 
                .grey-bar#zero
              span.percent 
                |0%
        .given-rating
          .ratingbox
            .ratingstar 
              .bio-text
                p.rating-name 
                  |  Devasree Vishwakarma
                p.rating-product 
                  | Refrigerator 
              .star-count 
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
            .ratingreview
              |I want to express my sincere gratitude for the outstanding support that Service Repair India has provided me. Your #{BrandName1} refrigerator services in #{AreaName1}, #{CityName1} are phenomenal and I am truly happy with the level of assistance you have given me. Thank you very much!
            span.testimonial
              i.fa-solid.fa-quote-right           
          .ratingbox
            .ratingstar 
              .bio-text
                p.rating-name 
                  | Anoop Rajan
                p.rating-product 
                  | Refrigerator 
              .star-count 
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
            .ratingreview
              |I'm thrilled to share that my first experience with Service Repair India was exceptional! The #{BrandName1} refrigerator's engineer assigned to me was not only knowledgeable but also incredibly efficient. I was pleasantly surprised by how quickly he understood my problem and offered a prompt resolution. If you're ever in need of #{BrandName1} refrigerator services in #{AreaName1}, #{CityName1}, they're definitely the ones to call!
            span.testimonial
              i.fa-solid.fa-quote-right
        .given-rating
          .ratingbox
            .ratingstar 
              .bio-text
                p.rating-name 
                  | Ritika Bhatia 
                p.rating-product 
                  | Refrigerator 
              .star-count 
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
            .ratingreview
              |I recently had a leakage problem with my #{BrandName1} refrigerator, and I must say, I made the right choice by selecting Service Repair India. Their #{BrandName1} refrigerator services in #{AreaName1}, #{CityName1} are exceptional in all aspects, and I am extremely satisfied with the outcome.
            span.testimonial
              i.fa-solid.fa-quote-right           
          .ratingbox
            .ratingstar 
              .bio-text
                p.rating-name 
                  | Lakshman Singh 
                p.rating-product 
                  | Refrigerator 
              .star-count 
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
            .ratingreview
              |I was so tensed because my #{BrandName1} refrigerator stopped cooling and food had started spoiling. I reached out to a local serviceman for repair, but it was of no use. However, my worries came to an end when I booked a service from Service Repair India. Their best-in-class #{BrandName1} refrigerator services in #{AreaName1}, #{CityName1} solved the problem in one shot!
            span.testimonial
              i.fa-solid.fa-quote-right
        .given-rating
          .ratingbox
            .ratingstar 
              .bio-text
                p.rating-name 
                  | Anika Selvan 
                p.rating-product 
                  | Refrigerator 
              .star-count 
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
            .ratingreview
              |Thank you for providing such prompt service. Due to my busy schedule, I was unable to find time to take my #{BrandName1} refrigerator to the service center. However, Service Repair India went above and beyond by sending a skilled #{BrandName1} technician in #{AreaName1}, #{CityName1} to my home at a time that was convenient for me. I must say, the #{BrandName1} service provided was exceptional and greatly appreciated.
            span.testimonial
              i.fa-solid.fa-quote-right           
          .ratingbox
            .ratingstar 
              .bio-text
                p.rating-name 
                  | Shiva Kumar 
                p.rating-product 
                  | Refrigerator 
              .star-count 
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
            .ratingreview
              |I couldn't be more pleased with the #{BrandName1} service I received from Service Repair India in #{AreaName1}, #{CityName1}. It's been a month since they fixed my refrigerator's cooling issue, and my #{BrandName1} refrigerator is running like new, with no more cooling issues to worry about.
            span.testimonial
              i.fa-solid.fa-quote-right




    section.faq
      .heading-reviews.heading-faq 
          |Frequently Asked Questions
      ul.accordian
        li 
          input#14(type='radio' name='accordian')
          label(for='14') 
            h3 Does my #{BrandName1} refrigerator need to be serviced at regular intervals?
          .content
            p 
              | Regular servicing helps your #{BrandName1} refrigerator perform better and last longer. It quickly identifies potential issues, prevents major problems, and ensures efficiency by cleaning the coils and fan. It also promotes energy efficiency and prevents food spoilage. Periodic servicing is essential to keep your #{BrandName1} refrigerator in good condition and reduce the risk of breakdowns.
        li 
          input#15(type='radio' name='accordian')
          label(for='15') 
            h3 How often should condenser coils be checked?
          .content
            p 
              | Getting your #{BrandName1} refrigerator's condenser coils checked once or twice a year is crucial for its optimal performance. Accumulation of dust and debris can restrict airflow, reduce efficiency, and increase energy bills. Regular maintenance helps maintain proper temperature and increases the lifespan of your #{BrandName1} refrigerator. Don't wait until it's too late - book a service today to ensure your #{BrandName1} refrigerator is always in top condition!
        li 
          input#17(type='radio' name='accordian')
          label(for='17') 
            h3 Why is my #{BrandName1} refrigerator leaking water?
          .content
            p 
              | #{BrandName1} refrigerator's leaks can be caused by a clogged defrost drain, damaged door seals, blocked water supply, or a malfunctioning defrost system. Identifying the cause is crucial for prompt and appropriate repair, ensuring your #{BrandName1} fridge runs smoothly and keeps your food fresh. Contact us today to avoid further damage and potential health hazards.
        li 
          input#18(type='radio' name='accordian')
          label(for='18') 
            h3 Why is my #{BrandName1} refrigerator not cooling?
          .content
            p 
              | A malfunctioning #{BrandName1} refrigerator can lead to spoiled food and costly repairs. Common causes of inadequate cooling include a malfunctioning compressor, evaporator fan, thermostat, blocked vents, dirty condenser coil, or low refrigerant levels. Don't wait any longer and book a service now to restore your #{BrandName1} refrigerator's proper cooling functionality.
        li 
          input#19(type='radio' name='accordian')
          label(for='19') 
            h3 Why is there excessive noise coming from my #{BrandName1} refrigerator?
          .content
            p 
              | Excessive refrigerator noise can be caused by a malfunctioning fan motor, loose or damaged components, or ice build-up in the freezer compartment. Identifying the source of the noise requires careful inspection. Call us now and get your #{BrandName1} refrigerator running smoothly and silently again!
        li 
          input#16(type='radio' name='accordian')
          label(for='16') 
            h3 What type of #{BrandName1} refrigerator services does Service Repair India provide in #{AreaName1}, #{CityName1}?
          .content
            p 
              | Service Repair India provides reliable #{BrandName1} refrigerator repair services in #{AreaName1}, #{CityName1}, including diagnostics, component replacements, and repairs for various issues such as temperature fluctuations, compressor issues, leaks, and unusual noises. Our experienced #{BrandName1} technicians in #{AreaName1}, #{CityName1} prioritize customer satisfaction by delivering efficient and high-quality service to get your #{BrandName1} refrigerator back in optimal working condition.
        li 
          input#20(type='radio' name='accordian')
          label(for='20') 
            h3 Which is the best #{BrandName1} refrigerator repair service center near me in #{AreaName1}, #{CityName1}?
          .content
            p 
              | When it comes to #{BrandName1} refrigerator repair in #{AreaName1}, #{CityName1}, there is no better option than Service Repair India. Our highly skilled #{BrandName1} refrigerator technicians in #{AreaName1}, #{CityName1} have years of experience in this field, making it easy for them to fix any problem with confidence and accuracy. Choose us for the best #{BrandName1} service you deserve.
        li 
          input#21(type='radio' name='accordian')
          label(for='21') 
            h3 What types of #{BrandName1} refrigerators can be repaired by Service Repair India in #{AreaName1}, #{CityName1}?
          .content
            p 
              | Our team of highly skilled #{BrandName1} professionals in #{AreaName1}, #{CityName1} can handle any type of #{BrandName1} refrigerator, including Single Door, Double Door, Triple Door, Side by Side, French Door, Top Freezer, Bottom Freezer, Deep Freezer, and many more. With years of training and experience, we guarantee reliable and efficient service for all your #{BrandName1} refrigerator needs. Choose us for unmatched expertise and quality service in #{AreaName1}, #{CityName1}.
        li 
          input#23(type='radio' name='accordian')
          label(for='23') 
            h3 Does Service Repair India repair both residential and commercial #{BrandName1} refrigerators in #{AreaName1}, #{CityName1}?
          .content
            p 
              | Yes, Service Repair India fixes both residential and commercial #{BrandName1} refrigerators in #{AreaName1}, #{CityName1}. Our skilled #{BrandName1} technicians in #{AreaName1}, #{CityName1} diagnose and repair a wide range of issues, ensuring that refrigerators are restored to optimal functioning quickly and efficiently. Trust us to get your #{BrandName1} refrigerator up and running in no time!
        li 
          input#22(type='radio' name='accordian')
          label(for='22') 
            h3 My #{BrandName1} refrigerator does not have proper cooling. Does this mean that the compressor is not working?
          .content
            p 
              | Your #{BrandName1} refrigerator's cooling problem doesn't always mean a faulty compressor. It could be the thermostat, blocked airflow, damaged coils, or low refrigerant levels. Only a professional #{BrandName1} refrigerator technician should diagnose the issue and provide the necessary repairs. Don't risk causing more damage. Get in touch with us today!
        li 
          input#24(type='radio' name='accordian')
          label(for='24') 
            h3  What are the charges for #{BrandName1} refrigerator repair?
          .content
            p 
              | We provide a comprehensive visit to check and repair service at Rs 
              sup
                s.prices
                  | 700
              |  500 (
              span.color-green
                |save 30%
              | ). Our skilled #{BrandName1} technicians will thoroughly inspect your refrigerator for any common issues and provide the necessary repairs. In case any parts or gas are required, additional charges will apply. Trust us to keep your #{BrandName1} refrigerator running smoothly and efficiently.
        li 
          input#25(type='radio' name='accordian')
          label(for='25') 
            h3 If my #{BrandName1} refrigerator requires spare parts during repair, are they charged extra?
          .content
            p 
              | At Service Repair India, we believe in transparent pricing. If your #{BrandName1} refrigerator needs spare parts during repair, we'll inform you of any additional charges before proceeding. Our goal is to provide quality service at fair prices, ensuring your satisfaction with the repair process.
        li 
          input#26(type='radio' name='accordian')
          label(for='26') 
            h3 How much does an #{BrandName1} refrigerator gas refill cost?
          .content
            p 
              | It's important to note that the cost of refilling the refrigerant in your #{BrandName1} refrigerator is determined by the size of the compressor installed in the appliance. The larger the compressor, the more cooling gas it requires, which can significantly increase the refill cost. Therefore, it's essential to be aware of your #{BrandName1} refrigerator's compressor size to better understand the price for gas refill.
        li 
          input#1(type='radio' name='accordian')
          label(for='1') 
            h3 Does Service Repair India provide #{BrandName1} refrigerator home repair services in #{AreaName1}, #{CityName1}?
          .content
            p 
              | Yes, Service Repair India provides doorstep #{BrandName1} refrigerator repair services by experienced technicians in #{AreaName1}, #{CityName1}. Get fast and effective solutions from our skilled #{BrandName1} team in #{AreaName1}, #{CityName1} at your convenience.
        li 
          input#3(type='radio' name='accordian')
          label(for='3') 
            h3 After placing the request, when can I expect to receive #{BrandName1} refrigerator service in #{AreaName1}, #{CityName1}?
          .content
            p 
              | We aim to provide you with prompt and efficient #{BrandName1} refrigerator service in #{AreaName1}, #{CityName1}. After receiving your request, our #{BrandName1} professional will contact you within 10 to 20 minutes or ASAP to schedule a convenient time for the service.
        li 
          input#4(type='radio' name='accordian')
          label(for='4') 
            h3 Is there any warranty provided on #{BrandName1} refrigerator repairs done by Service Repair India in #{AreaName1}, #{CityName1}?
          .content
            p 
              | At Service Repair India, we provide warranty on all the repairs completed by our skilled #{BrandName1} technicians in #{AreaName1}, #{CityName1}. The warranty period may vary based on the type of repair and spare parts used, but for general repairs, we offer a 30-day warranty. If any issues arise within the warranty period, we will make it right at no additional cost to you. We take pride in our work and are committed to providing reliable and high quality #{BrandName1} refrigerator service to our customers in #{AreaName1}, #{CityName1}. Trust us for reliable repairs that last.
        li 
          input#5(type='radio' name='accordian')
          label(for='5') 
            h3 What if Service Repair India's engineer in #{AreaName1}, #{CityName1} cannot fix the problem with my #{BrandName1} refrigerator?
          .content
            p 
              | Our skilled #{BrandName1} technicians at Service Repair India have successfully completed hundreds of repair jobs and are highly proficient in their work. In the rare case that the repair is not completed during the first visit, we will schedule another visit at no extra cost to you, to ensure your complete satisfaction with our #{BrandName1} refrigerator services in #{AreaName1}, #{CityName1}.
        li 
          input#6(type='radio' name='accordian')
          label(for='6') 
            h3 Do you use genuine spare parts for replacement?
          .content
            p 
              | Rest assured that our skilled #{BrandName1} refrigerator professionals in #{AreaName1}, #{CityName1} use only genuine spare parts for replacements, and if the need arises to use an alternative, they will seek your approval before proceeding. Your satisfaction is our top priority.
        li 
          input#7(type='radio' name='accordian')
          label(for='7') 
            h3 Who is responsible for obtaining the necessary parts if needed?
          .content
            p 
              | Our technician will take care of getting replacement parts to repair your #{BrandName1} refrigerator. You can choose to buy the parts yourself if you prefer. Our top priority is to ensure that you receive a seamless #{BrandName1} refrigerator repair experience in #{AreaName1}, #{CityName1} that exceeds your expectations.
        li 
          input#8(type='radio' name='accordian')
          label(for='8') 
            h3 Do you provide warranty on spare parts?
          .content
            p 
              | Yes, we provide warranty on spare parts. The warranty period may vary depending on the type of spare parts used.
        li 
          input#2(type='radio' name='accordian')
          label(for='2') 
            h3 What are the working hours of Service Repair India?
          .content
            p 
              | Our opening hours are 7:00 AM to 11:00 PM, 7 days a week.
        li 
          input#9(type='radio' name='accordian')
          label(for='9') 
            h3 Does Service Repair India have #{BrandName1} refrigerator customer support helpline in #{AreaName1}, #{CityName1}?
          .content
            p 
              | Yes! We understand that customers may need assistance even outside of regular business hours. That's why we've made our #{BrandName1} refrigerator customer support available in #{AreaName1}, #{CityName1} every day from 7 AM to 11 PM. You can reach us by dialing 9928622128. Our team is always ready to help you with any concerns or inquiries you may have.
        li 
          input#10(type='radio' name='accordian')
          label(for='10') 
            h3 If necessary, does Service Repair India provide pick-up services in #{AreaName1}, #{CityName1} to take my #{BrandName1} refrigerator or damaged part of the refrigerator to their workshop?
          .content
            p 
              | Yes, Service Repair India provides convenient pick-up and drop-off services in #{AreaName1}, #{CityName1} for your #{BrandName1} refrigerator when needed. Once the repair work is completed, they will promptly return your #{BrandName1} refrigerator to your doorstep. Schedule a repair today for the ultimate convenience!
        li 
          input#11(type='radio' name='accordian')
          label(for='11') 
            h3 Can I purchase an #{BrandName1} refrigerator AMC from Service Repair India in #{AreaName1}, #{CityName1}?
          .content
            p 
              | Yes, you can buy an Annual Maintenance Contract (AMC) from Service Repair India in #{AreaName1}, #{CityName1} to ensure regular maintenance and timely repairs of your #{BrandName1} refrigerator. This will help keep your #{BrandName1} refrigerator in good working condition and prevent unexpected breakdowns. Contact us now to learn more about the available plans and how to get started.
        li 
          input#12(type='radio' name='accordian')
          label(for='12') 
            h3 How is Service Repair India's #{BrandName1} refrigerator service different from other service providers in #{AreaName1}, #{CityName1}?
          .content
            p 
              | Service Repair India provides a consistent and reliable #{BrandName1} refrigerator service experience, unlike other service providers in #{AreaName1}, #{CityName1} who rely on a network of freelance technicians. Our in-house #{BrandName1} refrigerator service engineers in #{AreaName1}, #{CityName1} have over a decade of experience in this field, ensuring expert and reliable services. Choose Service Repair India for a seamless #{BrandName1} refrigerator service experience in #{AreaName1}, #{CityName1} with transparent pricing and quick response time.
        li 
          input#13(type='radio' name='accordian')
          label(for='13') 
            h3 What guarantees the reliability of Service Repair India's #{BrandName1} refrigerator professionals in #{AreaName1}, #{CityName1}?
          .content
            p 
              | At Service Repair India, we ensure reliability and professionalism by thoroughly screening our #{BrandName1} refrigerator professionals in #{AreaName1}, #{CityName1} based on qualifications, experience, and expertise. We conduct background checks, provide ongoing training programs, and prioritize accountability along with customer satisfaction. This fosters a culture of trust and confidence in the reliability of our #{BrandName1} refrigerator professionals in #{AreaName1}, #{CityName1} and the services we provide.





    section.about-Us
      .heading-about-Us More About Us,
      p.info-weDo.padding-X
        | We are honored to serve you and provide top-notch services. Our home services span across India and cater to all product types and brands that are out of warranty, including ACs, refrigerators, washing machines, microwave ovens, TVs, and many more. As a privately owned center, we offer chargeable services and have a dedicated team of service professionals who are committed to providing the highest quality service with utmost consumer satisfaction. Our technicians are rigorously trained to deliver prompt and efficient service, ensuring that your job is completed to perfection. Plus, we stand behind our work with a 30-day service warranty so you can have peace of mind. When you choose us, you can rest assured that your appliances are in good hands!
      .call-Us-now
        | Call Us Now at -: 
        a(href=`tel:${NumValue}`)
          .inline-Block  #{NumValue} 



    footer
      script(type='application/ld+json').
        {
        "@context": "https://schema.org",
        "@type": "LocalBusiness",
        "description": "99286-22128 | Get the best, #{BrandName1} Refrigerator - ✓Service, ✓Repair, ✓Installation, ✓Uninstallation, ✓Gas filling in #{AreaName1}, #{CityName1}. We provide services for all types of #{BrandName1} Refrigerators.",
        "name": "#{BrandName1} Refrigerator Service Repair in #{AreaName1}, #{CityName1}",
        "alternateName": "#{BrandName1} Refrigerator Service Center in #{AreaName1}, #{CityName1}",
        "image": "https://www.servicerepairindia.com/static/img/Refrigerator.webp",
        "@id": "",
        "url": "https://www.servicerepairindia.com/#{BrandName2}-Refrigerator-Service-Center/#{CityName2}-#{AreaName2}",
        "telephone": "#{NumValue}",
        "priceRange": "According to service",
        "address": {
        "@type": "PostalAddress",
        "streetAddress": "",
        "addressLocality": "",
        "postalCode": "",
        "addressCountry": "IN"
        },
        "openingHoursSpecification": {
        "@type": "OpeningHoursSpecification",
        "dayOfWeek": [
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday",
        "Saturday",
        "Sunday"
        ],
        "opens": "00:00",
        "closes": "23:59"
        }
        }
      .footer-black 
        .our-services 
          span.our-services-heading 
            | Our Services
          ul.our-services-ul 
           li.our-services-li 
             a(href='/AC-Service-Center') AC
           li.our-services-li
             a(href='/Refrigerator-Service-Center') Refrigerator
           li.our-services-li
             a(href='/WashingMachine-Service-Center') Washing Machine
           li.our-services-li
             a(href='/MicrowaveOven-Service-Center') Microwave
           li.our-services-li
             a(href='/TV-Service-Center') TV
        .our-services.services2
          span.our-services-heading 
            | Contact Us     
          ul.our-services-ul 
           li.our-services-li 
             span.fa.fa-mobile(aria-hidden='true')
             a.footer-a(href=`tel:${NumValue}`)
               | #{NumValue}
           li.our-services-li
             span.fa.fa-clock
             span.footer-hrs
               | Opening Hours: 7:00 AM to 11:00 PM, 7 days a week
      .footer
        a(href='/' target='_blank')  Service Repair India 
        |  | All Rights Reserved.
 

    script(src='/static/index.js' defer='')
