doctype html
html
  head
    title Service Repair India | Our Aim - Consumer Satisfaction
    meta(name='google-site-verification' content='-TqxTN36mhdnZnGydMK-12McHroQ1xGBnlpiHcYvXh8')
    meta(name='Title' content=`Service Repair India | Our Aim - Consumer Satisfaction`)
    meta(name='description' content=`98757-11293 | Support - AC, Fridge, Washing Machine, Microwave Oven, TV of All Brands. Provide - Service, Repair, Installation, Uninstallation, Gas Filling etc.`)
    meta(name='keywords' content=`service repair india, service center, repair, service, service repair, best repair service, Repair Shops, repair center, service center near me, repair near me, service near me, service repair near me, best repair service near me, repair center near me`)
    link(rel='canonical' href=`https://www.Servicerepairindia.com`)
    meta(property='og:image' content='https://www.servicerepairindia.com/static/img/bb.webp')
    meta(property='og:title' content=`Service Repair India | Our Aim - Consumer Satisfaction`)
    meta(property='og:description' content=`98757-11293 | Support - AC, Fridge, Washing Machine, Microwave Oven, TV of All Brands. Provide - Service, Repair, Installation, Uninstallation, Gas Filling etc.`)
    meta(property='og:url' content=`https://www.Servicerepairindia.com`)
    meta(property='al:ios:url' content=`https://www.Servicerepairindia.com`)
    meta(name='twitter:card' content='summary')
    meta(name='twitter:site' content='@Service Repair India')
    meta(name='twitter:title' content=`Service Repair India | Our Aim - Consumer Satisfaction`)
    meta(name='twitter:description' content=`98757-11293 | Support - AC, Fridge, Washing Machine, Microwave Oven, TV of All Brands. Provide - Service, Repair, Installation, Uninstallation, Gas Filling etc.`)
    meta(name='twitter:image' content='https://www.servicerepairindia.com/static/img/bb.webp')
    meta(charset='UTF-8')
    meta(http-equiv='content-language' content='en-gb')
    meta(name='distribution' content='global')
    meta(name='copyright' content='Servicerepairindia.com')
    meta(property='og:type' content='website')
    meta(property='og:sitename' content='Servicerepairindia.com')
    meta(property='og:locale' content='en_GB')
    meta(name='format-detection' content='telephone=yes')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=5')
    meta(name='robots' content='INDEX, FOLLOW')
    meta(name='robots' content='noodp, noydir')
    meta(name='geo.region' content='IN')
    meta(name='googlebot' content='index, follow')
    link(rel='icon' href='/static/img/icon.webp')
    link(rel='stylesheet' href='/static/style.css')
    link(rel='stylesheet' href='/static/responsive.css' media='screen and (max-width:650px)')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css' integrity='sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==' crossorigin='anonymous' referrerpolicy='no-referrer')
    


  body

    header.hdr
      h1.mainHeading Service Repair India
    
    nav.navbar.h-nav-Resp
      ul.navList.v-class-Resp
        li.listItem.A1
          a.active(href='/') Home
        li.listItem.A2
          a(href='/AC-Service-Center') AC
        li.listItem.A3
          a(href='/Refrigerator-Service-Center') Refrigerator
        li.listItem.A4
          a(href='/WashingMachine-Service-Center') Washing Machine
        li.listItem.A5
          a(href='/MicrowaveOven-Service-Center') Microwave
        li.listItem.A6
          a(href='/TV-Service-Center') TV
      .burger
        .line
        .line
        .line


    .fixed-call-Now
      a.call-A(href=`tel:${NumValue}`)
        img(src='/static/img/call.webp' loading='lazy' decoding='async' alt='Call Now')
        .call-Now  Call Now 




    section.numberSection
      .call Call Now -:
      .numbers
        #number1.number
          a(href='tel:9928622128') 99286-22128
        #number2.number
          a(href='tel:9875711293') 98757-11293
        #number3.number
          a(href='tel:8306511294') 83065-11294
        #number4.number
          a(href='tel:9784467343') 97844-67343
        #number5.number
          a(href='tel:9784467344') 97844-67344





   
    main
  
  

      section.intro
        .weDo
          .heading-weDo Your Products are in safe hands.
          p.info-weDo
            | We know how important your home appliances are to you, and we're here to provide you with top-notch service. Our team of skilled professionals can fix any type of appliance, from ACs and refrigerators to washing machines, microwaves, and TVs. We pride ourselves on our affordable prices and prompt service, whether you need installation, repair, gas filling, or uninstallation. Our technicians are highly trained and dedicated to getting the job done right the first time. Choose us for all your appliance needs!
        .intro-img
          img(src='/static/img/bb.webp' loading='lazy' decoding='async' alt='Home Appliances Repair Service')






      section.services-Available
        .heading-weDo.marginTB
          | We provide repairs and servicing for a wide range of appliances.
          br
          | The most common ones are listed below:

        a(href='/AC-Service-Center')
          article#AC.product
            .product-Content
              h2.product-Name AC Repair
              .product-Desc
                p
                  | Looking for top-notch AC services? Look no further! Whether you need repair, installation, uninstallation, gas filling, or any other service, we've got you covered.
                p
                  | Our team of trusted experts has years of experience providing the best AC servicing across all regions of India. Trust us to keep you cool and comfortable all year round.
            .product-Img
              img(src='/static/img/AC.webp' loading='lazy' decoding='async' alt='AC Service Center')
        a(href='/Refrigerator-Service-Center')
          article#Refrigerator.product
            .product-Content
              h2.product-Name Refrigerator Repair
              .product-Desc
                p
                  | Are you in need of Refrigerator Repair, Service, or Gas Filling? Look no further.
                p
                  | Our team of skilled technicians is here to help you with any refrigerator-related issue you may have. Trust us to get the job done right.
            .product-Img
              img(src='/static/img/Refrigerator.webp' loading='lazy' decoding='async' alt='Refrigerator Service Center')
        a(href='/WashingMachine-Service-Center')
          article#WashingMachine.product
            .product-Content
              h2.product-Name Washing Machine Repair
              .product-Desc
                p
                  | Looking for reliable washing machine repair services? Look no further! Our team of expert professionals is available to provide you with top-notch repair and maintenance services.
                p
                  | We have a proven track record of delivering high-quality services to our clients. Call us now to schedule an appointment with our skilled professionals and get your washing machine up and running in no time!
            .product-Img
              img(src='/static/img/WashingMachine.webp' loading='lazy' decoding='async' alt='Washing Machine Service Center')
        a(href='/MicrowaveOven-Service-Center')
          article#Microwave.product
            .product-Content
              h2.product-Name Microwave Oven Repair
              .product-Desc
                p
                  | Are you in need of a microwave oven repair or service? You've come to the right place! Our team of skilled professionals is here to offer you quick and efficient repair services at affordable prices.
                p
                  | We understand the importance of having a properly functioning microwave oven, and our main aim is to ensure consumer satisfaction.
                p 
                  | Don't wait any longer, call us now and we will help you get your microwave oven repaired as soon as possible.
            .product-Img
              img(src='/static/img/Microwave.webp' loading='lazy' decoding='async' alt='Microwave Oven Service Center')
        a(href='/TV-Service-Center')
          article#TV.product
            .product-Content.align
              h2.product-Name TV Repair
              .product-Desc.padding-L
                p
                  | At our TV repair service center, we put your satisfaction first. Our team of expert technicians is dedicated to delivering top-notch services in record time, without compromising on quality.
                p
                  | We pride ourselves on providing a stellar customer experience and ensuring that your needs are met every step of the way. Look no further, because you've come to the right place!
            .product-Img.tv-Img
              img(src='/static/img/TV.webp' loading='lazy' decoding='async' alt='TV Service Center')







      article     
        .heading-all-about All About Service and Repair
        .content-all-about
          p
            | Taking proper care of your equipment is essential for its longevity and keeping it in optimal condition. Your unit may also require timely repairs to prevent damage to its components. However, finding a trustworthy service professional can be a hassle. That's where we come in - we provide you with the best service professionals in the industry, with years of experience to ensure your complete satisfaction. We understand that your time is valuable, so we offer doorstep services to save you from the hassle of visiting a service center. Our professionals will repair your product at home, with no inconvenience to you. Say goodbye to the hassle of visiting a service center and let us take care of everything for you. Contact us today to experience the best service repair in India!
 



      article     
        .heading-all-about Our Services
        .content-all-about
          p
            | Since established in 2004, we have been exceeding expectations with our top-notch services, and our expertise has only grown stronger over the years. We provide professional services for air conditioners, refrigerators, washing machines, microwaves, and TVs, ensuring seamless operation of all your crucial home appliances. Our unparalleled team of skilled technicians merges their extensive experience with cutting-edge knowledge of the latest technologies. What sets us apart is our unwavering dedication to excellence and customer satisfaction, providing quick, reliable services tailored to your specific needs. Whether it's installation, repair, or routine maintenance, we guarantee unparalleled workmanship and prompt attention, making us your ultimate choice for keeping your appliances running seamlessly and efficiently.




      section.all-about
        .how-it-works How it works?
        .content-all-about
          p
            | Looking for a quick and reliable way to get your faulty appliances fixed by the best professionals near you? Look no further than us! With just one call, you can avail our services by skilled technicians who will fix your air conditioner, refrigerator, washing machine, microwave oven, television, or any other appliance you need help with. We'll collect some basic information from you including the issue with your appliance, your location, and your preferred time. With this information, we'll send a professional right to your doorstep at your convenience. Experience hassle-free service and get your appliance up and running in no time!
        .reason-why-Us
          .Sub-reason-why-Us.padding-Left.padding-left-
            .reason
              .reason-Img.br58
                img(src='/static/img/call-us.webp' loading='lazy' id="call-heading" decoding='async' alt='Call us')
              .reason-content.normal-font Call us
            .reason.padding-Left
              .reason-Img.br58
                img(src='/static/img/service.webp' loading='lazy' decoding='async' alt='Tell us the service you require')
              .reason-content.normal-font Tell us the service you require
          .Sub-reason-why-Us
            .reason
              .reason-Img.br58
                img(src='/static/img/time-slot.webp' loading='lazy' decoding='async' alt='Select your desirable time-slot')
              .reason-content.normal-font Select your desirable time-slot
            .reason.hassle-free
              .reason-Img.large-Img.br58
                img(src='/static/img/hassle-free.webp' loading='lazy' decoding='async' alt='Hassle free service')
              .reason-content.normal-font Hassle free service
        

      article     
        .content-all-about
          p.extra-content-heading
            | Servicing and repairing your appliance provides several benefits:
          ul.extra-content-ul
            li.extra-content-li
              strong.grey
               |Improved Performance: 
              |Are you tired of constantly fiddling with your appliance to get it to work just right? You're not the only one. The truth is, without regular maintenance, your appliance won't perform as efficiently as it should. But why settle for mediocre performance when you could unlock the full potential of your product? Our innovative solution can enhance your appliance's performance, elevating its efficiency to new heights. Say goodbye to the frustration of constant adjustments and hello to a fully optimized machine. Schedule an appointment with us today and take the first step towards unlocking the full potential of your appliance!
            li.extra-content-li
              strong.grey 
                |Lower Energy Costs: 
              |Did you know that regular maintenance of your product is not only cost-effective but also contributes to a sustainable planet? By keeping your appliances in top-notch condition through check-ups and servicing, you can lower your utility bills and reduce energy consumption, thereby doing your bit for the environment. Moreover, timely maintenance prevents the need for expensive repairs, saving you both time and money. Don't wait for your appliance to break down - take the initiative today and invest in the proper maintenance of your product.
            li.extra-content-li
              strong.grey 
                |Extended Lifespan: 
              |Your investment in your product is valuable, and we want to help ensure it functions effectively and lasts longer. Neglecting proper care and maintenance can lead to costly consequences, such as premature breakdowns and expensive replacements. That's why taking action today with regular maintenance and prompt repairs is crucial. By doing this, you can keep your appliance in top condition and save money in the long run. It's not just a smart decision, it's a necessary one. Don't wait until it's too late to act. Take control of your product's performance and ensure it's properly maintained. Remember, a little investment today can save you from costly expenses tomorrow!
            li.extra-content-li
              strong.grey 
                |Prevent Breakdowns: 
              |It's important to understand the value of routine maintenance. Simple routine checks can help you identify and fix minor issues before they escalate into costly breakdowns. Don't wait for your equipment to fail - take action now and prioritize routine maintenance to ensure that your machinery runs smoothly. This approach not only saves you money but also provides peace of mind, knowing that your equipment is in optimal condition. Remember, prevention is better than cure!
            li.extra-content-li
              strong.grey 
                |Warranty Compliance: 
              |Did you know that if you neglect to schedule regular maintenance and repairs you could lose the valuable manufacturer guarantee that comes with your product? Don't risk losing your warranty coverage. Take a simple step to ensure that your product runs effectively and efficiently for years to come. By scheduling regular maintenance and repairs, you can save money on energy bills and costly repairs. Don't wait any longer, act now and schedule your product's maintenance today.
            li.extra-content-li
              strong.grey 
                |Safety: 
              |Regular equipment servicing is crucial for its efficient and safe functioning. It not only detects and resolves safety concerns but also addresses issues at an early stage. By doing this, you can reduce the risk of accidents or malfunctions, ensuring your peace of mind and saving you money in the long run. So, don't delay any further - schedule a service today and safeguard your equipment, investment, and safety.
  


  
      article     
        .content-all-about-2
          p.heading-about-Us
            | About Us
          ul.extra-content-ul
            li.extra-content-li
              |Service Repair India is the ultimate solution for all your electronic home appliance repair and service needs. We are a prominent service provider company, catering to customers all over India. We specialize in repairing and servicing all kinds of consumer home appliances, such as air conditioners, refrigerators, washing machines, microwave ovens, televisions, etc. Our services are available for all the top brands, including Onida, White Westinghouse, Godrej, Philips, Electrolux, Sanyo, Carrier, Haier, Hitachi, Daikin, Sony, Sharp, IFB, Sansui, Samsung, and many more.
            li.extra-content-li
              |Our team comprises of highly qualified and experienced field engineers, who are backed by efficient coordination executives. They are always ready to serve you promptly. Our mobile unit of service technicians is equipped with the latest diagnostic and repair tools, and well-trained to provide the best on-site services. They are always well-dressed and adhere to the highest professional standards. In addition, our service centers and customer service representatives provide reliable support, ensuring that your service requests are responded to within 24 hours.
            li.extra-content-li
              |We take pride in providing prompt and reliable services to our customers. Our technicians are well-trained to service all brands of electric home appliances, irrespective of their age or condition. They are equipped with the appropriate tools, skills, and expertise to give you the best possible service every time. Our ultimate goal is to exceed our customers' expectations in the appliance repair industry.
            li.extra-content-li
              |In these tough economic times, we understand the value of your time and money. Therefore, we work with you to schedule a service that is quick and convenient for you. Once your service is scheduled, we ensure that our technicians arrive at your doorstep on time and ready to work. You can count on us to provide you with an unparalleled service experience that you will never forget.
            li.extra-content-li
              |At our company, we value your feedback and take it seriously. We conduct customer satisfaction surveys to ensure that we continuously improve our services. We believe in our responsibility to not only repair your appliance but also educate you on how to maximize its performance while keeping our planet in mind. By doing this, we help you save on power and repair costs while also reducing the environmental impact.




      section.cities-Available.brands-Available
        .heading-cities-Available Brands We Support -:
        .container.brand-Container
          a.yy(href=`/Actron-Repair-Service-Center`) Actron
          a.yy(href=`/BlueStar-Repair-Service-Center`) Blue Star
          a.yy(href=`/Bosch-Repair-Service-Center`) Bosch
          a.yy(href=`/BPL-Repair-Service-Center`) BPL
          a.yy(href=`/Carrier-Repair-Service-Center`) Carrier
          a.yy(href=`/Croma-Repair-Service-Center`) Croma
          a.yy(href=`/Daikin-Repair-Service-Center`) Daikin
          a.yy(href=`/Electrolux-Repair-Service-Center`) Electrolux
          a.yy(href=`/Fujitsu-Repair-Service-Center`) Fujitsu
          a.yy(href=`/GE-Repair-Service-Center`) GE
          a.yy(href=`/GEM-Repair-Service-Center`) GEM
          a.yy(href=`/Godrej-Repair-Service-Center`) Godrej
          a.yy(href=`/Haier-Repair-Service-Center`) Haier
          a.yy(href=`/Hitachi-Repair-Service-Center`) Hitachi
          a.yy(href=`/Hyundai-Repair-Service-Center`) Hyundai
          a.yy(href=`/IFB-Repair-Service-Center`) IFB
          a.yy(href=`/Kelvinator-Repair-Service-Center`) Kelvinator
          a.yy(href=`/Kenstar-Repair-Service-Center`) Kenstar
          a.yy(href=`/Koryo-Repair-Service-Center`) Koryo
          a.yy(href=`/LG-Repair-Service-Center`) LG
          a.yy(href=`/Lloyd-Repair-Service-Center`) Lloyd
          a.yy(href=`/Midea-Repair-Service-Center`) Midea
          a.yy(href=`/Mitashi-Repair-Service-Center`) Mitashi
          a.yy(href=`/Mitsubishi-Repair-Service-Center`) Mitsubishi
          a.yy(href=`/Napoleon-Repair-Service-Center`) Napoleon
          a.yy(href=`/OGeneral-Repair-Service-Center`) O General
          a.yy(href=`/Onida-Repair-Service-Center`) Onida
          a.yy(href=`/Panasonic-Repair-Service-Center`) Panasonic
          a.yy(href=`/Philips-Repair-Service-Center`) Philips
          a.yy(href=`/Samsung-Repair-Service-Center`) Samsung
          a.yy(href=`/Sansui-Repair-Service-Center`) Sansui
          a.yy(href=`/Sanyo-Repair-Service-Center`) Sanyo
          a.yy(href=`/Sharp-Repair-Service-Center`) Sharp
          a.yy(href=`/Siemens-Repair-Service-Center`) Siemens
          a.yy(href=`/Sony-Repair-Service-Center`) Sony
          a.yy(href=`/TCL-Repair-Service-Center`) TCL
          a.yy(href=`/Thomson-Repair-Service-Center`) Thomson
          a.yy(href=`/Toshiba-Repair-Service-Center`) Toshiba
          a.yy(href=`/Vestar-Repair-Service-Center`) Vestar
          a.yy(href=`/Videocon-Repair-Service-Center`) Videocon
          a.yy(href=`/Voltas-Repair-Service-Center`) Voltas
          a.yy(href=`/Weston-Repair-Service-Center`) Weston
          a.yy(href=`/Whirlpool-Repair-Service-Center`) Whirlpool
          a(href=`/WhiteWestinghouse-Repair-Service-Center`) White Westinghouse




    section.why-Us
      .heading-why-Us  Why Choose Us? 
      .reason-why-Us
        .Sub-reason-why-Us.padding-Left
          .reason
            .reason-Img
              img(src='/static/img/why-Us-1.webp' loading='lazy' decoding='async' alt='Cost-Effective')
            .reason-content Cost-Effective
          .reason.padding-Left
            .reason-Img
              img(src='/static/img/why-Us-2.webp' loading='lazy' decoding='async' alt='Experienced Technicians')
            .reason-content Experienced Technicians
        .Sub-reason-why-Us
          .reason
            .reason-Img
              img(src='/static/img/why-Us-3.webp' loading='lazy' decoding='async' alt='Punctuality')
            .reason-content Punctuality
          .reason
            .reason-Img.large-Img
              img(src='/static/img/why-Us-4.webp' loading='lazy' decoding='async' alt='Quality Work')
            .reason-content Quality Work


    section.review
      .reviews-overview 
        .heading-reviews 
         | Reviews and Ratings
        .bar-reviews 
          .bar-left
            p.five 
              |5  
            p.stars
              i.fas.fa-star(aria-hidden='true')
              i.fas.fa-star(aria-hidden='true')
              i.fas.fa-star(aria-hidden='true')
              i.fas.fa-star(aria-hidden='true')
              i.fas.fa-star(aria-hidden='true')
            p.rating-count
             | 17688 Customer Ratings
          .bar-right
            .progress 
              span.rating-review 
                |5
              i.fas.fa-star.stars2(aria-hidden='true')
              .barr
                .yellow-bar#ninety
                .grey-bar#ten
              span.percent 
                |90%
            .progress 
              span.rating-review 
                |4
              i.fas.fa-star.stars2(aria-hidden='true')
              .barr
                .yellow-bar#six 
                .grey-bar#ninetyfour
              span.percent 
                |6%
            .progress 
              span.rating-review 
                |3
              i.fas.fa-star.stars2(aria-hidden='true')
              .barr
                .yellow-bar#three
                .grey-bar#ninetyseven
              span.percent 
                |3%
            .progress 
              span.rating-review 
                |2
              i.fas.fa-star.stars2(aria-hidden='true')
              .barr
                .yellow-bar#one
                .grey-bar#ninetynine
              span.percent 
                |1%
            .progress 
              span.rating-review#one-review 
                |1
              i.fas.fa-star.stars2(aria-hidden='true')
              .barr
                .yellow-bar 
                .grey-bar#zero
              span.percent 
                |0%
        .given-rating
          .ratingbox
            .ratingstar 
              .bio-text
                p.rating-name 
                  |  Amrit Pal
                p.rating-product 
                  | Air Conditioner 
              .star-count 
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
            .ratingreview
              |I recently had an issue with my AC not cooling properly, and it was becoming unbearable. I decided to book a service online, and I'm so glad I did. The technicians from Service Repair India were outstanding! They quickly and efficiently resolved the issue, and now my AC is cooling like it did when it was brand new. I highly recommend them to anyone experiencing AC issues.
            span.testimonial
              i.fa-solid.fa-quote-right           
          .ratingbox
            .ratingstar 
              .bio-text
                p.rating-name 
                  | Manish Goyal
                p.rating-product 
                  | Refrigerator 
              .star-count 
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
            .ratingreview
              |I had an excellent first experience with your service. The engineer was impressively knowledgeable and efficient. I really appreciate how well you understood my problem and offered quick, effective service. Thank you!
            span.testimonial
              i.fa-solid.fa-quote-right
        .given-rating
          .ratingbox
            .ratingstar 
              .bio-text
                p.rating-name 
                  | Sakshi Batra 
                p.rating-product 
                  | Washing Machine 
              .star-count 
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
            .ratingreview
              |I received exceptional service from Service Repair India. A skilled technician promptly arrived at my home and completed the required work without any delay. I was impressed by the quick resolution and overall experience.
            span.testimonial
              i.fa-solid.fa-quote-right           
          .ratingbox
            .ratingstar 
              .bio-text
                p.rating-name 
                  | Karthik Vasudevan 
                p.rating-product 
                  | Microwave Oven 
              .star-count 
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
            .ratingreview
              |I appreciate you for your quality work and remarkable services. Without a doubt, Service Repair India is the go-to destination for any appliance repair needs - your expertise and efficiency are simply unmatched.
            span.testimonial
              i.fa-solid.fa-quote-right
        .given-rating
          .ratingbox
            .ratingstar 
              .bio-text
                p.rating-name 
                  | Akshita Swamy 
                p.rating-product 
                  | Television 
              .star-count 
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
            .ratingreview
              |I recently experienced a sound issue with my TV and decided to book a service online to fix it. I was pleasantly surprised by the brilliant service provided by the professionals from Service Repair India. They arrived on time and efficiently resolved the issue, all while charging affordable rates. Anyone in need of TV repairs must take their service.
            span.testimonial
              i.fa-solid.fa-quote-right           
          .ratingbox
            .ratingstar 
              .bio-text
                p.rating-name 
                  | Muskan Arora 
                p.rating-product 
                  | Air Conditioner 
              .star-count 
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
            .ratingreview
              |I chose Service Repair India for regular maintenance of my AC. Their team of experts arrived on time and were highly skilled. My AC has never been in better hands than these!
            span.testimonial
              i.fa-solid.fa-quote-right




    section.faq
      .heading-reviews.heading-faq 
          |Frequently Asked Questions
      ul.accordian
        li 
          input#1(type='radio' name='accordian')
          label(for='1') 
            h3 Does Service Repair India provide home repair services?
          .content
            p 
              | Yes, Service Repair India provides doorstep repair services by experienced technicians. Get fast and effective solutions from our skilled team at your convenience.
        li 
          input#3(type='radio' name='accordian')
          label(for='3') 
            h3 After placing the request, when can I expect to receive service?
          .content
            p 
              | We aim to provide you with prompt and efficient service. After receiving your request, our technician will contact you within 10 to 20 minutes or ASAP to schedule a convenient time for the service.
        li 
          input#4(type='radio' name='accordian')
          label(for='4') 
            h3 Is there any warranty provided on repairs done by Service Repair India?
          .content
            p 
              | At Service Repair India, we provide warranty on all the repairs completed by our skilled technicians. The warranty period may vary based on the type of repair and spare parts used, but for general repairs, we offer a 30-day warranty. If any issues arise within the warranty period, we will make it right at no additional cost to you. We take pride in our work and are committed to providing reliable and high quality service to our customers. Trust us for reliable repairs that last.
        li 
          input#5(type='radio' name='accordian')
          label(for='5') 
            h3 What if Service Repair India's engineer cannot fix the problem with my product?
          .content
            p 
              | Our skilled technicians at Service Repair India have successfully completed hundreds of repair jobs and are highly proficient in their work. In the rare case that the repair is not completed during the first visit, we will schedule another visit at no extra cost to you, to ensure your complete satisfaction with our services. 
        li 
          input#6(type='radio' name='accordian')
          label(for='6') 
            h3 Do you use genuine spare parts for replacement?
          .content
            p 
              | Rest assured that our skilled professionals use only genuine spare parts for replacements, and if the need arises to use an alternative, they will seek your approval before proceeding. Your satisfaction is our top priority.
        li 
          input#7(type='radio' name='accordian')
          label(for='7') 
            h3 Who is responsible for obtaining the necessary parts if needed?
          .content
            p 
              | Our technician will take care of getting replacement parts to repair your appliance. You can choose to buy the parts yourself if you prefer. Our top priority is to ensure that you receive a seamless repair experience that exceeds your expectations.
        li 
          input#8(type='radio' name='accordian')
          label(for='8') 
            h3 Do you provide warranty on spare parts?
          .content
            p 
              | Yes, we provide warranty on spare parts. The warranty period may vary depending on the type of spare parts used.
        li 
          input#2(type='radio' name='accordian')
          label(for='2') 
            h3 What are the working hours of Service Repair India?
          .content
            p 
              | Our opening hours are 7:00 AM to 11:00 PM, 7 days a week.
        li 
          input#9(type='radio' name='accordian')
          label(for='9') 
            h3 Does Service Repair India have a customer support helpline?
          .content
            p 
              | Yes! We understand that customers may need assistance even outside of regular business hours. That's why we've made our customer support available every day from 7 AM to 11 PM. You can reach us by dialing 9928622128. Our team is always ready to help you with any concerns or inquiries you may have.
        li 
          input#10(type='radio' name='accordian')
          label(for='10') 
            h3 If necessary, does Service Repair India provide pick-up services to take my appliance or damaged part of the appliance to their workshop?
          .content
            p 
              | Yes, Service Repair India provides convenient pick-up and drop-off services for your appliances when needed. Once the repair work is completed, they will promptly return your appliance to your doorstep. Schedule a repair today for the ultimate convenience!
        li 
          input#11(type='radio' name='accordian')
          label(for='11') 
            h3 Can I purchase an AMC from Service Repair India?
          .content
            p 
              | Yes, you can buy an Annual Maintenance Contract (AMC) from Service Repair India to ensure regular maintenance and timely repairs of your appliance. This will help keep your appliance in good working condition and prevent unexpected breakdowns. Contact us now to learn more about the available plans and how to get started.
        li 
          input#12(type='radio' name='accordian')
          label(for='12') 
            h3 How is Service Repair India's service different from other Service Providers?
          .content
            p 
              | Service Repair India provides a consistent and reliable service experience, unlike other service providers who rely on a network of freelance technicians. Our in-house service engineers have over a decade of experience in this field, ensuring expert and reliable services. Choose Service Repair India for a seamless service experience with transparent pricing and quick response time.
        li 
          input#13(type='radio' name='accordian')
          label(for='13') 
            h3 What guarantees the reliability of Service Repair India's professionals?
          .content
            p 
              | At Service Repair India, we ensure reliability and professionalism by thoroughly screening our professionals based on qualifications, experience, and expertise. We conduct background checks, provide ongoing training programs, and prioritize accountability along with customer satisfaction. This fosters a culture of trust and confidence in the reliability of our professionals and the services we provide.








  
    section.about-Us
      .heading-about-Us More About Us,
      p.info-weDo.padding-X
        | We are honored to serve you and provide top-notch services. Our home services span across India and cater to all product types and brands that are out of warranty, including ACs, refrigerators, washing machines, microwave ovens, TVs, and many more. As a privately owned center, we offer chargeable services and have a dedicated team of service professionals who are committed to providing the highest quality service with utmost consumer satisfaction. Our technicians are rigorously trained to deliver prompt and efficient service, ensuring that your job is completed to perfection. Plus, we stand behind our work with a 30-day service warranty so you can have peace of mind. When you choose us, you can rest assured that your appliances are in good hands!
      .call-Us-now
        | Call Us Now at -: 
        a(href=`tel:${NumValue}`)
          .inline-Block  #{NumValue} 


    footer
      script(type='application/ld+json').
        {
        "@context": "https://schema.org",
        "@type": "LocalBusiness",
        `description`: `98757-11293 | Support - AC, Fridge, Washing Machine, Microwave Oven, TV of All Brands. Provide - Service, Repair, Installation, Uninstallation, Gas Filling etc.`,
        `name`: `Service Repair India`,
        `alternateName`: `Service Center India`,
        "image": "https://www.servicerepairindia.com/static/img/bb.webp",
        "@id": "",
        `url`: `https://www.servicerepairindia.com/`,
        `telephone`: `#{NumValue}`,
        "priceRange": "According to service",
        "address": {
        "@type": "PostalAddress",
        "streetAddress": "",
        "addressLocality": "",
        "postalCode": "",
        "addressCountry": "IN"
        },
        "openingHoursSpecification": {
        "@type": "OpeningHoursSpecification",
        "dayOfWeek": [
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday",
        "Saturday",
        "Sunday"
        ],
        "opens": "00:00",
        "closes": "23:59"
        }
        }
      .footer-black 
        .our-services 
          span.our-services-heading 
            | Our Services
          ul.our-services-ul 
           li.our-services-li 
             a(href='/AC-Service-Center') AC
           li.our-services-li
             a(href='/Refrigerator-Service-Center') Refrigerator
           li.our-services-li
             a(href='/WashingMachine-Service-Center') Washing Machine
           li.our-services-li
             a(href='/MicrowaveOven-Service-Center') Microwave
           li.our-services-li
             a(href='/TV-Service-Center') TV
        .our-services.services2
          span.our-services-heading 
            | Contact Us     
          ul.our-services-ul 
           li.our-services-li 
             span.fa.fa-mobile(aria-hidden='true')
             a.footer-a(href=`tel:${NumValue}`)
               | #{NumValue}
           li.our-services-li
             span.fa.fa-clock
             span.footer-hrs
               | Opening Hours: 7:00 AM to 11:00 PM, 7 days a week
      .footer
        a(href='/' target='_blank')  Service Repair India 
        |  | All Rights Reserved.
   
   
    script(src='/static/index.js' defer='')
  


