doctype html
html
  head
    title #{BrandName1} Service Center | #{NumValue}
    meta(name='Title' content=`${BrandName1} Service Center | ${NumValue}`)
    meta(name='description' content=`98757-11293 | Get the best, ${BrandName1} - ✓Service, ✓Repair, ✓Installation, ✓Uninstallation, ✓Gas filling etc. We provide services for all ${BrandName1} Appliances.`)
    meta(name='keywords' content=`${BrandName1} service center, ${BrandName1} repair, ${BrandName1} service, ${BrandName1} service repair, best ${BrandName1} repair service, ${BrandName1} Repair Shops, ${BrandName1} repair center, ${BrandName1} service center near me, ${BrandName1} repair near me, ${BrandName1} service near me, ${BrandName1} service repair near me, best ${BrandName1} repair service near me, ${BrandName1} repair center near me, ${BrandName1} AC service center, ${BrandName1} AC repair, ${BrandName1} AC service, ${BrandName1} Refrigerator service center, ${BrandName1} Refrigerator repair, ${BrandName1} Refrigerator service, ${BrandName1} Washing Machine service center, ${BrandName1} Washing Machine repair, ${BrandName1} Washing Machine service, ${BrandName1} Microwave Oven service center, ${BrandName1} Microwave Oven repair, ${BrandName1} Microwave Oven service, ${BrandName1} TV service center, ${BrandName1} TV repair, ${BrandName1} TV service, ${BrandName1} AC service center near me, ${BrandName1} AC repair near me, ${BrandName1} AC service near me, ${BrandName1} Refrigerator service center near me, ${BrandName1} Refrigerator repair near me, ${BrandName1} Refrigerator service near me, ${BrandName1} Washing Machine service center near me, ${BrandName1} Washing Machine repair near me, ${BrandName1} Washing Machine service near me, ${BrandName1} Microwave Oven service center near me, ${BrandName1} Microwave Oven repair near me, ${BrandName1} Microwave Oven service near me, ${BrandName1} TV service center near me, ${BrandName1} TV repair near me, ${BrandName1} TV service near me`)
    link(rel='canonical' href=`https://www.Servicerepairindia.com/${BrandName2}-Repair-Service-Center`)
    meta(property='og:image' content='https://www.servicerepairindia.com/static/img/bb.webp')
    meta(property='og:title' content=`${BrandName1} Service Center | ${NumValue}`)
    meta(property='og:description' content=`98757-11293 | Get the best, ${BrandName1} - ✓Service, ✓Repair, ✓Installation, ✓Uninstallation, ✓Gas filling etc. We provide services for all ${BrandName1} Appliances.`)
    meta(property='og:url' content=`https://www.Servicerepairindia.com/${BrandName2}-Repair-Service-Center`)
    meta(property='al:ios:url' content=`https://www.Servicerepairindia.com/${BrandName2}-Repair-Service-Center`)
    meta(name='twitter:card' content='summary')
    meta(name='twitter:site' content='@Service Repair India')
    meta(name='twitter:title' content=`${BrandName1} Service Center | ${NumValue}`)
    meta(name='twitter:description' content=`98757-11293 | Get the best, ${BrandName1} - ✓Service, ✓Repair, ✓Installation, ✓Uninstallation, ✓Gas filling etc. We provide services for all ${BrandName1} Appliances.`)
    meta(name='twitter:image' content='https://www.servicerepairindia.com/static/img/bb.webp')
    meta(charset='UTF-8')
    meta(http-equiv='content-language' content='en-gb')
    meta(name='distribution' content='global')
    meta(name='copyright' content='Servicerepairindia.com')
    meta(property='og:type' content='website')
    meta(property='og:sitename' content='Servicerepairindia.com')
    meta(property='og:locale' content='en_GB')
    meta(name='format-detection' content='telephone=yes')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=5')
    meta(name='robots' content='INDEX, FOLLOW')
    meta(name='robots' content='noodp, noydir')
    meta(name='geo.region' content='IN')
    meta(name='googlebot' content='index, follow')
    link(rel='icon' href='/static/img/icon.webp')
    link(rel='stylesheet' href='/static/style.css')
    link(rel='stylesheet' href='/static/responsive.css' media='screen and (max-width:650px)')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css' integrity='sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==' crossorigin='anonymous' referrerpolicy='no-referrer')
    


  body

    header.hdr
      h1.mainHeading Service Repair India
    
    nav.navbar.h-nav-Resp
      ul.navList.v-class-Resp
        li.listItem.A1
          a.active(href='/') Home
        li.listItem.A2
          a(href='/AC-Service-Center') AC
        li.listItem.A3
          a(href='/Refrigerator-Service-Center') Refrigerator
        li.listItem.A4
          a(href='/WashingMachine-Service-Center') Washing Machine
        li.listItem.A5
          a(href='/MicrowaveOven-Service-Center') Microwave
        li.listItem.A6
          a(href='/TV-Service-Center') TV
      .burger
        .line
        .line
        .line


    .fixed-call-Now
      a.call-A(href=`tel:${NumValue}`)
        img(src='/static/img/call.webp' loading='lazy' decoding='async' alt='Call Now')
        .call-Now  Call Now 




    //- section.numberSection
    //-   .call Call Now -:
    //-   .numbers
    //-     #number1.number
    //-       a(href='tel:9928622128') 99286-22128
    //-     #number2.number
    //-       a(href='tel:9875711293') 98757-11293
    //-     #number3.number
    //-       a(href='tel:8306511294') 83065-11294
    //-     #number4.number
    //-       a(href='tel:9784467343') 97844-67343
    //-     #number5.number
    //-       a(href='tel:9784467344') 97844-67344




    section.numberSection
      .call Call Now -:
      .numbers
        #number1.number
          a(href='tel:9928622128') 99286-22128



   
    main
  


      section.imgg
        img(src=`/static/img/${BrandName2}.webp` loading='lazy' decoding='async' alt=`${BrandName1}`)




      section.heading-Section
        h1.mainHeading2.mainHeading2Brand #{BrandName1} Service Center





      section.intro
          p.info-weDo
            | We know how important your home #{BrandName1} appliances are to you, and we're here to provide you with top-notch service. Our team of skilled #{BrandName1} professionals can fix any type of appliance, from ACs and refrigerators to washing machines, microwaves, and TVs. We pride ourselves on our prompt and reliable #{BrandName1} service, whether you need installation, repair, gas filling, or uninstallation. Our #{BrandName1} technicians are highly trained and dedicated to getting the job done right the first time. Choose us for all your #{BrandName1} appliance needs!






      section.services-Available
        .heading-weDo.marginTB
          | We provide repairs and servicing for a wide range of #{BrandName1} appliances.
          br
          | The most common ones are listed below:

        a(href=`/${BrandName2}-AC-Service-Center`)
          article#AC.product
            .product-Content
              h2.product-Name #{BrandName1} AC Repair
              .product-Desc
                p
                  | Looking for top-notch #{BrandName1} AC services? Look no further! Whether you need repair, installation, uninstallation, gas filling, or any other #{BrandName1} service, we've got you covered.
                p
                  | Our team of trusted #{BrandName1} experts has years of experience providing the best #{BrandName1} AC servicing across all regions of India. Trust us to keep you cool and comfortable all year round.
            .product-Img
              img(src='/static/img/AC.webp' loading='lazy' decoding='async' alt=`${BrandName1} AC Service Center`)
        a(href=`/${BrandName2}-Refrigerator-Service-Center`)
          article#Refrigerator.product
            .product-Content
              h2.product-Name #{BrandName1} Refrigerator Repair
              .product-Desc
                p
                  | Are you in need of #{BrandName1} Refrigerator Repair, Service, or Gas Filling? Look no further.
                p
                  | Our team of skilled #{BrandName1} technicians is here to help you with any refrigerator-related issue you may have. Trust us to get the job done right.
            .product-Img
              img(src='/static/img/Refrigerator.webp' loading='lazy' decoding='async' alt=`${BrandName1} Refrigerator Service Center`)
        a(href=`/${BrandName2}-WashingMachine-Service-Center`)
          article#WashingMachine.product
            .product-Content
              h2.product-Name #{BrandName1} Washing Machine Repair
              .product-Desc
                p
                  | Looking for reliable #{BrandName1} washing machine repair services? Look no further! Our team of #{BrandName1} professionals is here to provide you with top-notch repair and maintenance services.
                p
                  | We have a proven track record of delivering high-quality #{BrandName1} services to our clients. Call us now to schedule an appointment with our skilled #{BrandName1} professionals and get your #{BrandName1} washing machine up and running in no time!
            .product-Img
              img(src='/static/img/WashingMachine.webp' loading='lazy' decoding='async' alt=`${BrandName1} Washing Machine Service Center`)
        a(href=`/${BrandName2}-MicrowaveOven-Service-Center`)
          article#Microwave.product
            .product-Content
              h2.product-Name #{BrandName1} Microwave Oven Repair
              .product-Desc
                p
                  | Are you in need of #{BrandName1} microwave oven repair or service? You've come to the right place! Our team of skilled #{BrandName1} professionals is here to provide you quick and efficient #{BrandName1} repair services.
                p
                  | We understand the importance of having a properly functioning #{BrandName1} microwave oven, and our main aim is to ensure consumer satisfaction.
                p 
                  | Don't wait any longer, call us now and we will help you get your #{BrandName1} microwave oven repaired as soon as possible.
            .product-Img
              img(src='/static/img/Microwave.webp' loading='lazy' decoding='async' alt=`${BrandName1} Microwave Oven Service Center`)
        a(href=`/${BrandName2}-TV-Service-Center`)
          article#TV.product
            .product-Content.align
              h2.product-Name #{BrandName1} TV Repair
              .product-Desc.padding-L
                p
                  | At our #{BrandName1} TV service center, we put your satisfaction first. Our team of #{BrandName1} experts is dedicated to delivering top-notch #{BrandName1} services in record time, without compromising on quality.
                p
                  | We pride ourselves in providing a stellar #{BrandName1} customer experience and ensuring that your needs are met every step of the way. Look no further, because you've come to the right place!
            .product-Img.tv-Img
              img(src='/static/img/TV.webp' loading='lazy' decoding='async' alt=`${BrandName1} TV Service Center`)






      article
        .heading-all-about #{BrandName1} Appliances
        .content-all-about
          p
            | #{BrandContent}




      article     
        .heading-all-about All About #{BrandName1} Service and Repair
        .content-all-about
          p
            | Taking proper care of your #{BrandName1} equipment is essential for its longevity and keeping it in optimal condition. Your unit may also require timely repairs to prevent damage to its components. However, finding a trustworthy #{BrandName1} service professional can be a hassle. That's where we come in - we provide you with the best #{BrandName1} service professionals in the industry, with years of experience to ensure your complete satisfaction. We understand that your time is valuable, so we offer doorstep #{BrandName1} services to save you from the hassle of visiting the service center. Our #{BrandName1} professionals will repair your product at home, with no inconvenience to you. Say goodbye to the hassle of visiting the service center and let us take care of everything for you. Contact us today to experience the best #{BrandName1} service repair in India!





      article
        .heading-all-about Our #{BrandName1} Services
        .content-all-about
          p
            | Since established in 2004, we have been exceeding expectations with our top-notch #{BrandName1} services, and our expertise has only grown stronger over the years. We provide professional #{BrandName1} services for air conditioners, refrigerators, washing machines, microwaves, and TVs, ensuring seamless operation of all your crucial #{BrandName1} home appliances. Our unparalleled team of skilled #{BrandName1} technicians merges their extensive experience with cutting-edge knowledge of the latest technologies. What sets us apart is our unwavering dedication to excellence and customer satisfaction, providing quick, reliable #{BrandName1} services tailored to your specific needs. Whether it's installation, repair, or routine maintenance, we guarantee unparalleled workmanship and prompt attention, making us your ultimate choice for keeping your #{BrandName1} appliances running seamlessly and efficiently.





      section.all-about
        .how-it-works How it works?
        .content-all-about
          p        
            | Looking for a quick and reliable way to get your faulty appliances fixed by the best #{BrandName1} professionals near you? Look no further than us! With just one call, you can avail our services by skilled #{BrandName1} technicians who will fix your air conditioner, refrigerator, washing machine, microwave oven, television, or any other #{BrandName1} appliance you need help with. We'll collect some basic information from you including the issue with your #{BrandName1} appliance, your location, and your preferred time. With this information, we'll send our expert #{BrandName1} professional right to your doorstep at your convenience. Experience our hassle-free service and get your #{BrandName1} appliance up and running in no time!
        .reason-why-Us
          .Sub-reason-why-Us.padding-Left.padding-left-
            .reason
              .reason-Img.br58
                img(src='/static/img/call-us.webp' loading='lazy' id="call-heading" decoding='async' alt='Call us')
              .reason-content.normal-font Call us
            .reason.padding-Left
              .reason-Img.br58
                img(src='/static/img/service.webp' loading='lazy' decoding='async' alt='Tell us the service you require')
              .reason-content.normal-font Tell us the service you require
          .Sub-reason-why-Us
            .reason
              .reason-Img.br58
                img(src='/static/img/time-slot.webp' loading='lazy' decoding='async' alt='Select your desirable time-slot')
              .reason-content.normal-font Select your desirable time-slot
            .reason.hassle-free
              .reason-Img.large-Img.br58
                img(src='/static/img/hassle-free.webp' loading='lazy' decoding='async' alt='Hassle free service')
              .reason-content.normal-font Hassle free service
        


      article     
        .content-all-about
          p.extra-content-heading
            | Servicing and repairing your #{BrandName1} appliance provides several benefits:
          ul.extra-content-ul
            li.extra-content-li
              strong.grey
               |Improved Performance: 
              |Are you tired of constantly fiddling with your #{BrandName1} appliance to get it to work just right? You're not the only one. The truth is, without regular maintenance, your #{BrandName1} appliance won't perform as efficiently as it should. But why settle for mediocre performance when you could unlock the full potential of your #{BrandName1} equipment? Our innovative solution can enhance your #{BrandName1} appliance's performance, elevating its efficiency to new heights. Say goodbye to the frustration of constant adjustments and hello to a fully optimized #{BrandName1} machine. Schedule an appointment with us today and take the first step towards unlocking the full potential of your #{BrandName1} appliance!
            li.extra-content-li
              strong.grey 
                |Lower Energy Costs: 
              |Did you know that regular maintenance of your #{BrandName1} equipment is not only cost-effective but also contributes to a sustainable planet? By keeping your #{BrandName1} appliances in top-notch condition through check-ups and servicing, you can lower your utility bills and reduce energy consumption, thereby doing your bit for the environment. Moreover, timely maintenance prevents the need for expensive repairs, saving you both time and money. Don't wait for your #{BrandName1} appliance to break down - take the initiative today and invest in the proper maintenance of your #{BrandName1} equipment.
            li.extra-content-li
              strong.grey 
                |Extended Lifespan: 
              |Your investment in your #{BrandName1} equipment is valuable, and we want to help ensure it functions effectively and lasts longer. Neglecting proper care and maintenance of your #{BrandName1} appliances can lead to costly consequences, such as premature breakdowns and expensive replacements. That's why taking action today with regular maintenance and prompt repairs is crucial. By doing this, you can keep your #{BrandName1} appliance in top condition and save money in the long run. It's not just a smart decision, it's a necessary one. Don't wait until it's too late to act. Take control of your #{BrandName1} equipment's performance and ensure it's properly maintained. Remember, a little investment today can save you from costly expenses tomorrow!
            li.extra-content-li
              strong.grey 
                |Prevent Breakdowns: 
              |It's important to understand the value of routine maintenance. Simple routine checks can help you identify and fix minor issues before they escalate into costly breakdowns. Don't wait for your #{BrandName1} equipment to fail - take action now and prioritize routine maintenance to ensure that your #{BrandName1} machinery runs smoothly. This approach not only saves you money but also provides peace of mind, knowing that your #{BrandName1} equipment is in optimal condition. Remember, prevention is better than cure!
            li.extra-content-li
              strong.grey 
                |Warranty Compliance: 
              |Did you know that if you neglect to schedule regular maintenance and repairs you could lose the valuable manufacturer guarantee that comes with your #{BrandName1} equipment? Don't risk losing your warranty coverage. Take a simple step to ensure that your #{BrandName1} appliances runs effectively and efficiently for years to come. By scheduling regular maintenance and repairs, you can save money on energy bills and costly repairs. Don't wait any longer, act now and schedule your #{BrandName1} equipment's maintenance today.
            li.extra-content-li
              strong.grey 
                |Safety: 
              |Regular servicing of your #{BrandName1} equipment is crucial for its efficient and safe functioning. It not only detects and resolves safety concerns but also addresses issues at an early stage. By doing this, you can reduce the risk of accidents or malfunctions, ensuring your peace of mind and saving you money in the long run. So, don't delay any further - schedule a #{BrandName1} service today and safeguard your #{BrandName1} equipment, investment, and safety.
  



  
      article     
        .content-all-about-2
          p.heading-about-Us
            | About Us
          ul.extra-content-ul
            li.extra-content-li
              |Service Repair India is the ultimate solution for all your electronic home appliance repair and service needs. We are a prominent service provider company, catering to customers all over India. We specialize in repairing and servicing all kinds of consumer home appliances, such as air conditioners, refrigerators, washing machines, microwave ovens, televisions, etc. Our services are available for all the top brands, including Onida, White Westinghouse, Godrej, Philips, Electrolux, Sanyo, Carrier, Haier, Hitachi, Daikin, Sony, Sharp, IFB, Sansui, Samsung, and many more.
            li.extra-content-li
              |Our team comprises of highly qualified and experienced field engineers, who are backed by efficient coordination executives. They are always ready to serve you promptly. Our mobile unit of service technicians is equipped with the latest diagnostic and repair tools, and well-trained to provide the best on-site services. They are always well-dressed and adhere to the highest professional standards. In addition, our service centers and customer service representatives provide reliable support, ensuring that your service requests are responded to within 24 hours.
            li.extra-content-li
              |We take pride in providing prompt and reliable services to our customers. Our technicians are well-trained to service all brands of electric home appliances, irrespective of their age or condition. They are equipped with the appropriate tools, skills, and expertise to give you the best possible service every time. Our ultimate goal is to exceed our customers' expectations in the appliance repair industry.
            li.extra-content-li
              |In these tough economic times, we understand the value of your time and money. Therefore, we work with you to schedule a service that is quick and convenient for you. Once your service is scheduled, we ensure that our technicians arrive at your doorstep on time and ready to work. You can count on us to provide you with an unparalleled service experience that you will never forget.
            li.extra-content-li
              |At our company, we value your feedback and take it seriously. We conduct customer satisfaction surveys to ensure that we continuously improve our services. We believe in our responsibility to not only repair your appliance but also educate you on how to maximize its performance while keeping our planet in mind. By doing this, we help you save on power and repair costs while also reducing the environmental impact.






      section.cities-Available
        .heading-cities-Available Cities We Serve -:
        table.tbl
          tr.tblr
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Agra`) #{BrandName2} Repair Service Center in Agra
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Ahmedabad`) #{BrandName2} Repair Service Center in Ahmedabad
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Ahmednagar`) #{BrandName2} Repair Service Center in Ahmednagar
          tr.tblr
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Ajmer`) #{BrandName2} Repair Service Center in Ajmer
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Akola`) #{BrandName2} Repair Service Center in Akola
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Allahabad`) #{BrandName2} Repair Service Center in Allahabad
          tr.tblr
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Alwar`) #{BrandName2} Repair Service Center in Alwar
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Amritsar`) #{BrandName2} Repair Service Center in Amritsar
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Asansol`) #{BrandName2} Repair Service Center in Asansol
          tr.tblr
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Banaras`) #{BrandName2} Repair Service Center in Banaras
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Bangalore`) #{BrandName2} Repair Service Center in Bangalore
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Belgaum`) #{BrandName2} Repair Service Center in Belgaum
          tr.tblr
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Bengaluru`) #{BrandName2} Repair Service Center in Bengaluru
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Bharuch`) #{BrandName2} Repair Service Center in Bharuch
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Bhilai`) #{BrandName2} Repair Service Center in Bhilai
          tr.tblr
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Bhopal`) #{BrandName2} Repair Service Center in Bhopal
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Bhubaneswar`) #{BrandName2} Repair Service Center in Bhubaneswar
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Bikaner`) #{BrandName2} Repair Service Center in Bikaner
          tr.tblr
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Bilaspur`) #{BrandName2} Repair Service Center in Bilaspur
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Calicut`) #{BrandName2} Repair Service Center in Calicut
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Chandigarh`) #{BrandName2} Repair Service Center in Chandigarh
          tr.tblr
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Chhattisgarh`) #{BrandName2} Repair Service Center in Chhattisgarh
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Chennai`) #{BrandName2} Repair Service Center in Chennai
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Coimbatore`) #{BrandName2} Repair Service Center in Coimbatore
          tr.tblr
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Cuttack`) #{BrandName2} Repair Service Center in Cuttack
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Darjeeling`) #{BrandName2} Repair Service Center in Darjeeling
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Dehradun`) #{BrandName2} Repair Service Center in Dehradun
          tr.tblr
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Delhi`) #{BrandName2} Repair Service Center in Delhi
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Dhanbad`) #{BrandName2} Repair Service Center in Dhanbad
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Ernakulam`) #{BrandName2} Repair Service Center in Ernakulam
          tr.tblr
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Faridabad`) #{BrandName2} Repair Service Center in Faridabad
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Gandhinagar`) #{BrandName2} Repair Service Center in Gandhinagar
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Ghaziabad`) #{BrandName2} Repair Service Center in Ghaziabad
          tr.tblr
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Goa`) #{BrandName2} Repair Service Center in Goa
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/GreaterNoida`) #{BrandName2} Repair Service Center in Greater Noida
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Gurgaon`) #{BrandName2} Repair Service Center in Gurgaon
          tr.tblr
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Gurugram`) #{BrandName2} Repair Service Center in Gurugram
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Guwahati`) #{BrandName2} Repair Service Center in Guwahati
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Gwalior`) #{BrandName2} Repair Service Center in Gwalior
          tr.tblr
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Hisar`) #{BrandName2} Repair Service Center in Hisar
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Hubli`) #{BrandName2} Repair Service Center in Hubli
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Hyderabad`) #{BrandName2} Repair Service Center in Hyderabad
          tr.tblr
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Indore`) #{BrandName2} Repair Service Center in Indore
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Jabalpur`) #{BrandName2} Repair Service Center in Jabalpur
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Jaipur`) #{BrandName2} Repair Service Center in Jaipur
          tr.tblr
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Jalandhar`) #{BrandName2} Repair Service Center in Jalandhar
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Jammu`) #{BrandName2} Repair Service Center in Jammu
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Jamnagar`) #{BrandName2} Repair Service Center in Jamnagar
          tr.tblr
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Jamshedpur`) #{BrandName2} Repair Service Center in Jamshedpur
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Jhansi`) #{BrandName2} Repair Service Center in Jhansi
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Jodhpur`) #{BrandName2} Repair Service Center in Jodhpur
          tr.tblr
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Kanpur`) #{BrandName2} Repair Service Center in Kanpur
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Kharagpur`) #{BrandName2} Repair Service Center in Kharagpur
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Kochi`) #{BrandName2} Repair Service Center in Kochi
          tr.tblr
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Kolhapur`) #{BrandName2} Repair Service Center in Kolhapur
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Kolkata`) #{BrandName2} Repair Service Center in Kolkata
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Kota`) #{BrandName2} Repair Service Center in Kota
          tr.tblr
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Kottayam`) #{BrandName2} Repair Service Center in Kottayam
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Kozhikode`) #{BrandName2} Repair Service Center in Kozhikode
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Lucknow`) #{BrandName2} Repair Service Center in Lucknow
          tr.tblr
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Ludhiana`) #{BrandName2} Repair Service Center in Ludhiana
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Madurai`) #{BrandName2} Repair Service Center in Madurai
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Manali`) #{BrandName2} Repair Service Center in Manali
          tr.tblr
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Mangalore`) #{BrandName2} Repair Service Center in Mangalore
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Mathura`) #{BrandName2} Repair Service Center in Mathura
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Meerut`) #{BrandName2} Repair Service Center in Meerut
          tr.tblr
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Mohali`) #{BrandName2} Repair Service Center in Mohali
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Moradabad`) #{BrandName2} Repair Service Center in Moradabad
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Mumbai`) #{BrandName2} Repair Service Center in Mumbai
          tr.tblr
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Mysore`) #{BrandName2} Repair Service Center in Mysore
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Nagpur`) #{BrandName2} Repair Service Center in Nagpur
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Nainital`) #{BrandName2} Repair Service Center in Nainital
          tr.tblr
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Nashik`) #{BrandName2} Repair Service Center in Nashik
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/NaviMumbai`) #{BrandName2} Repair Service Center in Navi Mumbai
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Noida`) #{BrandName2} Repair Service Center in Noida
          tr.tblr
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Patna`) #{BrandName2} Repair Service Center in Patna
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Pondicherry`) #{BrandName2} Repair Service Center in Pondicherry
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Prayagraj`) #{BrandName2} Repair Service Center in Prayagraj
          tr.tblr
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Pune`) #{BrandName2} Repair Service Center in Pune
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Raigarh`) #{BrandName2} Repair Service Center in Raigarh
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Raipur`) #{BrandName2} Repair Service Center in Raipur
          tr.tblr
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Rajkot`) #{BrandName2} Repair Service Center in Rajkot
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Ranchi`) #{BrandName2} Repair Service Center in Ranchi
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Ratlam`) #{BrandName2} Repair Service Center in Ratlam
          tr.tblr
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Satara`) #{BrandName2} Repair Service Center in Satara
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Secunderabad`) #{BrandName2} Repair Service Center in Secunderabad
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Shimla`) #{BrandName2} Repair Service Center in Shimla
          tr.tblr
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Srinagar`) #{BrandName2} Repair Service Center in Srinagar
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Surat`) #{BrandName2} Repair Service Center in Surat
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Thiruvananthapuram`) #{BrandName2} Repair Service Center in Thiruvananthapuram
          tr.tblr
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Thrissur`) #{BrandName2} Repair Service Center in Thrissur
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Tiruchirappalli`) #{BrandName2} Repair Service Center in Tiruchirappalli
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Trichy`) #{BrandName2} Repair Service Center in Trichy
          tr.tblr
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Trivandrum`) #{BrandName2} Repair Service Center in Trivandrum
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Udaipur`) #{BrandName2} Repair Service Center in Udaipur
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Ujjain`) #{BrandName2} Repair Service Center in Ujjain
          tr.tblr
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Vadodara`) #{BrandName2} Repair Service Center in Vadodara
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Varanasi`) #{BrandName2} Repair Service Center in Varanasi
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Vellore`) #{BrandName2} Repair Service Center in Vellore
          tr.tblr
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Vijayawada`) #{BrandName2} Repair Service Center in Vijayawada
            td.tbltd
              a(href=`/${BrandName2}-Repair-Service-Center/Visakhapatnam`) #{BrandName2} Repair Service Center in Visakhapatnam
            






      //- section.cities-Available
      //-   .heading-cities-Available Cities We Serve -:
      //-   .container
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Agra`) Agra
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Ahmedabad`) Ahmedabad
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Ahmednagar`) Ahmednagar
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Ajmer`) Ajmer
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Akola`) Akola
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Allahabad`) Allahabad
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Alwar`) Alwar
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Amritsar`) Amritsar
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Asansol`) Asansol
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Banaras`) Banaras
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Bangalore`) Bangalore
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Belgaum`) Belgaum
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Bengaluru`) Bengaluru
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Bharuch`) Bharuch
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Bhilai`) Bhilai
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Bhopal`) Bhopal
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Bhubaneswar`) Bhubaneswar
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Bikaner`) Bikaner
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Bilaspur`) Bilaspur
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Calicut`) Calicut
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Chandigarh`) Chandigarh
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Chhattisgarh`) Chhattisgarh
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Chennai`) Chennai
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Coimbatore`) Coimbatore
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Cuttack`) Cuttack
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Darjeeling`) Darjeeling
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Dehradun`) Dehradun
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Delhi`) Delhi
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Dhanbad`) Dhanbad
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Ernakulam`) Ernakulam
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Faridabad`) Faridabad
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Gandhinagar`) Gandhinagar
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Ghaziabad`) Ghaziabad
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Goa`) Goa
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/GreaterNoida`) Greater Noida
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Gurgaon`) Gurgaon
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Gurugram`) Gurugram
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Guwahati`) Guwahati
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Gwalior`) Gwalior
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Hisar`) Hisar
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Hubli`) Hubli
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Hyderabad`) Hyderabad
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Indore`) Indore
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Jabalpur`) Jabalpur
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Jaipur`) Jaipur
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Jalandhar`) Jalandhar
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Jammu`) Jammu
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Jamnagar`) Jamnagar
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Jamshedpur`) Jamshedpur
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Jhansi`) Jhansi
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Jodhpur`) Jodhpur
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Kanpur`) Kanpur
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Kharagpur`) Kharagpur
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Kochi`) Kochi
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Kolhapur`) Kolhapur
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Kolkata`) Kolkata
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Kota`) Kota
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Kottayam`) Kottayam
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Kozhikode`) Kozhikode
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Lucknow`) Lucknow
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Ludhiana`) Ludhiana
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Madurai`) Madurai
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Manali`) Manali
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Mangalore`) Mangalore
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Mathura`) Mathura
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Meerut`) Meerut
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Mohali`) Mohali
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Moradabad`) Moradabad
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Mumbai`) Mumbai
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Mysore`) Mysore
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Nagpur`) Nagpur
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Nainital`) Nainital
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Nashik`) Nashik
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/NaviMumbai`) Navi Mumbai
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Noida`) Noida
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Patna`) Patna
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Pondicherry`) Pondicherry
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Prayagraj`) Prayagraj
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Pune`) Pune
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Raigarh`) Raigarh
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Raipur`) Raipur
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Rajkot`) Rajkot
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Ranchi`) Ranchi
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Ratlam`) Ratlam
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Satara`) Satara
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Secunderabad`) Secunderabad
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Shimla`) Shimla
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Srinagar`) Srinagar
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Surat`) Surat
      //-     a(href=`/${BrandName2}-Repair-Service-Center/Thiruvananthapuram`) Thiruvanan-thapuram
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Thrissur`) Thrissur
      //-     a(href=`/${BrandName2}-Repair-Service-Center/Tiruchirappalli`) Tiruchirappalli
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Trichy`) Trichy
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Trivandrum`) Trivandrum
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Udaipur`) Udaipur
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Ujjain`) Ujjain
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Vadodara`) Vadodara
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Varanasi`) Varanasi
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Vellore`) Vellore
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Vijayawada`) Vijayawada
      //-     a.yy(href=`/${BrandName2}-Repair-Service-Center/Visakhapatnam`) Visakhapatnam







    section.why-Us
      .heading-why-Us  Why Choose Us? 
      .reason-why-Us
        .Sub-reason-why-Us.padding-Left
          .reason
            .reason-Img
              img(src='/static/img/why-Us-1.webp' loading='lazy' decoding='async' alt='Cost-Effective')
            .reason-content Cost-Effective
          .reason.padding-Left
            .reason-Img
              img(src='/static/img/why-Us-2.webp' loading='lazy' decoding='async' alt='Experienced Technicians')
            .reason-content Experienced Technicians
        .Sub-reason-why-Us
          .reason
            .reason-Img
              img(src='/static/img/why-Us-3.webp' loading='lazy' decoding='async' alt='Punctuality')
            .reason-content Punctuality
          .reason
            .reason-Img.large-Img
              img(src='/static/img/why-Us-4.webp' loading='lazy' decoding='async' alt='Quality Work')
            .reason-content Quality Work


    section.review
      .reviews-overview 
        .heading-reviews 
         | Reviews and Ratings
        .bar-reviews 
          .bar-left
            p.five 
              |5  
            p.stars
              i.fas.fa-star(aria-hidden='true')
              i.fas.fa-star(aria-hidden='true')
              i.fas.fa-star(aria-hidden='true')
              i.fas.fa-star(aria-hidden='true')
              i.fas.fa-star(aria-hidden='true')
            p.rating-count
             | 17688 Customer Ratings
          .bar-right
            .progress 
              span.rating-review 
                |5
              i.fas.fa-star.stars2(aria-hidden='true')
              .barr
                .yellow-bar#ninety
                .grey-bar#ten
              span.percent 
                |90%
            .progress 
              span.rating-review 
                |4
              i.fas.fa-star.stars2(aria-hidden='true')
              .barr
                .yellow-bar#six 
                .grey-bar#ninetyfour
              span.percent 
                |6%
            .progress 
              span.rating-review 
                |3
              i.fas.fa-star.stars2(aria-hidden='true')
              .barr
                .yellow-bar#three
                .grey-bar#ninetyseven
              span.percent 
                |3%
            .progress 
              span.rating-review 
                |2
              i.fas.fa-star.stars2(aria-hidden='true')
              .barr
                .yellow-bar#one
                .grey-bar#ninetynine
              span.percent 
                |1%
            .progress 
              span.rating-review#one-review 
                |1
              i.fas.fa-star.stars2(aria-hidden='true')
              .barr
                .yellow-bar 
                .grey-bar#zero
              span.percent 
                |0%
        .given-rating
          .ratingbox
            .ratingstar 
              .bio-text
                p.rating-name 
                  |  Amrit Pal
                p.rating-product 
                  | Air Conditioner 
              .star-count 
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
            .ratingreview
              |I recently had an issue with my #{BrandName1} AC not cooling properly, and it was becoming unbearable. I decided to book a service online, and I'm so glad I did. The #{BrandName1} technicians from Service Repair India were outstanding! They quickly and efficiently resolved the issue, and now my #{BrandName1} AC is cooling like it did when it was brand new. I highly recommend them to anyone experiencing #{BrandName1} AC issues.
            span.testimonial
              i.fa-solid.fa-quote-right           
          .ratingbox
            .ratingstar 
              .bio-text
                p.rating-name 
                  | Manish Goyal
                p.rating-product 
                  | Refrigerator 
              .star-count 
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
            .ratingreview
              |I had an excellent first experience with your #{BrandName1} services. Your #{BrandName1} engineers were impressively knowledgeable and efficient. I really appreciate how well they understood my problem and offered quick, effective #{BrandName1} service. Thank you!
            span.testimonial
              i.fa-solid.fa-quote-right
        .given-rating
          .ratingbox
            .ratingstar 
              .bio-text
                p.rating-name 
                  | Sakshi Batra 
                p.rating-product 
                  | Washing Machine 
              .star-count 
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
            .ratingreview
              |I received exceptional #{BrandName1} service from Service Repair India. Their skilled #{BrandName1} technicians promptly arrived at my home and completed the required work without any delay. I am truly impressed with the quick resolution and overall experience.
            span.testimonial
              i.fa-solid.fa-quote-right           
          .ratingbox
            .ratingstar 
              .bio-text
                p.rating-name 
                  | Karthik Vasudevan 
                p.rating-product 
                  | Microwave Oven 
              .star-count 
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
            .ratingreview
              |I appreciate you for your quality work and remarkable #{BrandName1} services. Without a doubt, Service Repair India is the go-to destination for any #{BrandName1} appliance repair needs - your expertise and efficiency are simply unmatched.
            span.testimonial
              i.fa-solid.fa-quote-right
        .given-rating
          .ratingbox
            .ratingstar 
              .bio-text
                p.rating-name 
                  | Akshita Swamy 
                p.rating-product 
                  | Television 
              .star-count 
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
            .ratingreview
              |I recently experienced a sound issue with my #{BrandName1} TV and decided to book a service online to fix it. I was pleasantly surprised by the brilliant service provided by #{BrandName1} professionals from Service Repair India. They arrived on time and efficiently resolved the issue, all while charging affordable rates. Anyone in need of #{BrandName1} TV repairs must take their service.
            span.testimonial
              i.fa-solid.fa-quote-right           
          .ratingbox
            .ratingstar 
              .bio-text
                p.rating-name 
                  | Muskan Arora 
                p.rating-product 
                  | Air Conditioner 
              .star-count 
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
            .ratingreview
              |I chose Service Repair India for routine maintenance of my #{BrandName1} AC. Their #{BrandName1} technicians arrived on time and were highly skilled. My #{BrandName1} AC has never been in better hands than these!
            span.testimonial
              i.fa-solid.fa-quote-right





    section.faq
      .heading-reviews.heading-faq 
          |Frequently Asked Questions
      ul.accordian
        li 
          input#1(type='radio' name='accordian')
          label(for='1') 
            h3 Does Service Repair India provide #{BrandName1} home repair services?
          .content
            p 
              | Yes, Service Repair India provides doorstep #{BrandName1} repair services by experienced technicians. Get fast and effective solutions from our skilled #{BrandName1} team at your convenience.
        li 
          input#3(type='radio' name='accordian')
          label(for='3') 
            h3 After placing the request, when can I expect to receive #{BrandName1} service?
          .content
            p 
              | We aim to provide you with prompt and efficient #{BrandName1} service. After receiving your request, our #{BrandName1} professional will contact you within 10 to 20 minutes or ASAP to schedule a convenient time for the service.
        li 
          input#4(type='radio' name='accordian')
          label(for='4') 
            h3 Is there any warranty provided on #{BrandName1} repairs done by Service Repair India?
          .content
            p 
              | At Service Repair India, we provide warranty on all the repairs completed by our skilled #{BrandName1} technicians. The warranty period may vary based on the type of repair and spare parts used, but for general repairs, we offer a 30-day warranty. If any issues arise within the warranty period, we will make it right at no additional cost to you. We take pride in our work and are committed to providing reliable and high quality #{BrandName1} service to our customers. Trust us for reliable repairs that last.
        li 
          input#5(type='radio' name='accordian')
          label(for='5') 
            h3 What if Service Repair India's engineer cannot fix the problem with my #{BrandName1} appliance?
          .content
            p 
              | Our skilled #{BrandName1} technicians at Service Repair India have successfully completed hundreds of repair jobs and are highly proficient in their work. In the rare case that the repair is not completed during the first visit, we will schedule another visit at no extra cost to you, to ensure your complete satisfaction with our #{BrandName1} services.
        li 
          input#6(type='radio' name='accordian')
          label(for='6') 
            h3 Do you use genuine spare parts for replacement?
          .content
            p 
              | Rest assured that our skilled #{BrandName1} professionals use only genuine spare parts for replacements, and if the need arises to use an alternative, they will seek your approval before proceeding. Your satisfaction is our top priority.
        li 
          input#7(type='radio' name='accordian')
          label(for='7') 
            h3 Who is responsible for obtaining the necessary parts if needed?
          .content
            p 
              | Our technician will take care of getting replacement parts to repair your #{BrandName1} appliance. You can choose to buy the parts yourself if you prefer. Our top priority is to ensure that you receive a seamless #{BrandName1} repair experience that exceeds your expectations.
        li 
          input#8(type='radio' name='accordian')
          label(for='8') 
            h3 Do you provide warranty on spare parts?
          .content
            p 
              | Yes, we provide warranty on spare parts. The warranty period may vary depending on the type of spare parts used.
        li 
          input#2(type='radio' name='accordian')
          label(for='2') 
            h3 What are the working hours of Service Repair India?
          .content
            p 
              | Our opening hours are 7:00 AM to 11:00 PM, 7 days a week.
        li 
          input#9(type='radio' name='accordian')
          label(for='9') 
            h3 Does Service Repair India have #{BrandName1} customer support helpline?
          .content
            p 
              | Yes! We understand that customers may need assistance even outside of regular business hours. That's why we've made our #{BrandName1} customer support available every day from 7 AM to 11 PM. You can reach us by dialing 9928622128. Our team is always ready to help you with any concerns or inquiries you may have.
        li 
          input#10(type='radio' name='accordian')
          label(for='10') 
            h3 If necessary, does Service Repair India provide pick-up services to take my #{BrandName1} appliance or damaged part of the appliance to their workshop?
          .content
            p 
              | Yes, Service Repair India provides convenient pick-up and drop-off services for your #{BrandName1} appliances when needed. Once the repair work is completed, they will promptly return your #{BrandName1} appliance to your doorstep. Schedule a repair today for the ultimate convenience!
        li 
          input#11(type='radio' name='accordian')
          label(for='11') 
            h3 Can I purchase an #{BrandName1} AMC from Service Repair India?
          .content
            p 
              | Yes, you can buy an Annual Maintenance Contract (AMC) from Service Repair India to ensure regular maintenance and timely repairs of your #{BrandName1} appliance. This will help keep your #{BrandName1} appliance in good working condition and prevent unexpected breakdowns. Contact us now to learn more about the available plans and how to get started.
        li 
          input#12(type='radio' name='accordian')
          label(for='12') 
            h3 How is Service Repair India's #{BrandName1} service different from other service providers?
          .content
            p 
              | Service Repair India provides a consistent and reliable #{BrandName1} service experience, unlike other service providers who rely on a network of freelance technicians. Our in-house #{BrandName1} service engineers have over a decade of experience in this field, ensuring expert and reliable services. Choose Service Repair India for a seamless #{BrandName1} service experience with transparent pricing and quick response time.
        li 
          input#13(type='radio' name='accordian')
          label(for='13') 
            h3 What guarantees the reliability of Service Repair India's #{BrandName1} professionals?
          .content
            p 
              | At Service Repair India, we ensure reliability and professionalism by thoroughly screening our #{BrandName1} professionals based on qualifications, experience, and expertise. We conduct background checks, provide ongoing training programs, and prioritize accountability along with customer satisfaction. This fosters a culture of trust and confidence in the reliability of our #{BrandName1} professionals and the services we provide.








  
    section.about-Us
      .heading-about-Us More About Us,
      p.info-weDo.padding-X
        | We are honored to serve you and provide top-notch services. Our home services span across India and cater to all product types and brands that are out of warranty, including ACs, refrigerators, washing machines, microwave ovens, TVs, and many more. As a privately owned center, we offer chargeable services and have a dedicated team of service professionals who are committed to providing the highest quality service with utmost consumer satisfaction. Our technicians are rigorously trained to deliver prompt and efficient service, ensuring that your job is completed to perfection. Plus, we stand behind our work with a 30-day service warranty so you can have peace of mind. When you choose us, you can rest assured that your appliances are in good hands!
      .call-Us-now
        | Call Us Now at -: 
        a(href=`tel:${NumValue}`)
          .inline-Block  #{NumValue} 



    footer
      script(type='application/ld+json').
        {
        "@context": "https://schema.org",
        "@type": "LocalBusiness",
        "description": "98757-11293 | Get the best, #{BrandName1} - ✓Service, ✓Repair, ✓Installation, ✓Uninstallation, ✓Gas filling etc. We provide services for all #{BrandName1} Appliances.",
        "name": "#{BrandName1} Service Repair",
        "alternateName": "#{BrandName1} Service Center",
        "image": "https://www.servicerepairindia.com/static/img/bb.webp",
        "@id": "",
        "url": "https://www.servicerepairindia.com/#{BrandName2}-Repair-Service-Center",
        "telephone": "#{NumValue}",
        "priceRange": "According to service",
        "address": {
        "@type": "PostalAddress",
        "streetAddress": "",
        "addressLocality": "",
        "postalCode": "",
        "addressCountry": "IN"
        },
        "openingHoursSpecification": {
        "@type": "OpeningHoursSpecification",
        "dayOfWeek": [
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday",
        "Saturday",
        "Sunday"
        ],
        "opens": "00:00",
        "closes": "23:59"
        }
        }
      .footer-black 
        .our-services 
          span.our-services-heading 
            | Our Services
          ul.our-services-ul 
           li.our-services-li 
             a(href='/AC-Service-Center') AC
           li.our-services-li
             a(href='/Refrigerator-Service-Center') Refrigerator
           li.our-services-li
             a(href='/WashingMachine-Service-Center') Washing Machine
           li.our-services-li
             a(href='/MicrowaveOven-Service-Center') Microwave
           li.our-services-li
             a(href='/TV-Service-Center') TV
        .our-services.services2
          span.our-services-heading 
            | Contact Us     
          ul.our-services-ul 
           li.our-services-li 
             span.fa.fa-mobile(aria-hidden='true')
             a.footer-a(href=`tel:${NumValue}`)
               | #{NumValue}
           li.our-services-li
             span.fa.fa-clock
             span.footer-hrs
               | Opening Hours: 7:00 AM to 11:00 PM, 7 days a week
      .footer
        a(href='/' target='_blank')  Service Repair India 
        |  | All Rights Reserved.
   
   
    script(src='/static/index.js' defer='')
