doctype html
html
  head
    title TV Service Center in #{AreaName}, #{CityName1} | #{NumValue}
    meta(name='Title' content=`TV Service Center in ${AreaName}, ${CityName1} | ${NumValue}`)
    meta(name='description' content=`97844-67343 | Get the best, TV - ✓Service, ✓Repair, ✓Installation, ✓Uninstallation in ${AreaName}, ${CityName1}. We provide services for all types of Televisions and all brands.`)
    meta(name='keywords' content=`TV Service Center in ${AreaName} ${CityName1}, TV Service Repair in ${AreaName} ${CityName1}, TV Repair in ${AreaName} ${CityName1}, TV Service in ${AreaName} ${CityName1}, Television Service Center in ${AreaName} ${CityName1}, Television Service Repair in ${AreaName} ${CityName1}, Television Repair in ${AreaName} ${CityName1}, Television Service in ${AreaName} ${CityName1}, CRT TV Service in ${AreaName} ${CityName1}, LCD TV Service in ${AreaName} ${CityName1}, LED TV Service in ${AreaName} ${CityName1}, Plasma TV Service in ${AreaName} ${CityName1}, CRT TV Repair in ${AreaName} ${CityName1}, LCD TV Repair in ${AreaName} ${CityName1}, LED TV Repair in ${AreaName} ${CityName1}, Plasma TV Repair in ${AreaName} ${CityName1}, CRT TV Service Center in ${AreaName} ${CityName1}, LCD TV Service Center in ${AreaName} ${CityName1}, LED TV Service Center in ${AreaName} ${CityName1}, Plasma TV Service Center in ${AreaName} ${CityName1}, TV installation in ${AreaName} ${CityName1}, TV uninstallation in ${AreaName} ${CityName1}, CRT TV installation in ${AreaName} ${CityName1}, CRT TV uninstallation in ${AreaName} ${CityName1}, LCD TV installation in ${AreaName} ${CityName1}, LCD TV uninstallation in ${AreaName} ${CityName1}, LED TV installation in ${AreaName} ${CityName1}, LED TV uninstallation in ${AreaName} ${CityName1}, Plasma TV installation in ${AreaName} ${CityName1}, Plasma TV uninstallation in ${AreaName} ${CityName1}, Best TV Repair Service in ${AreaName} ${CityName1}, TV Repair Service Reviews in ${AreaName} ${CityName1}, TV Repair Shops in ${AreaName} ${CityName1}, Television Repair Shops in ${AreaName} ${CityName1}, TV Repair Center in ${AreaName} ${CityName1}, TV Repair Charges in ${AreaName} ${CityName1}, TV Service Center near me in ${AreaName} ${CityName1}, TV Repair near me in ${AreaName} ${CityName1}, CRT TV Repair near me in ${AreaName} ${CityName1}, LCD TV Repair near me in ${AreaName} ${CityName1}, LED TV Repair near me in ${AreaName} ${CityName1}, Plasma TV Repair near me in ${AreaName} ${CityName1}, TV Service near me in ${AreaName} ${CityName1}, CRT TV Service near me in ${AreaName} ${CityName1}, LCD TV Service near me in ${AreaName} ${CityName1}, LED TV Service near me in ${AreaName} ${CityName1}, Plasma TV Service near me in ${AreaName} ${CityName1}, CRT TV Service Center near me in ${AreaName} ${CityName1}, LCD TV Service Center near me in ${AreaName} ${CityName1}, LED TV Service Center near me in ${AreaName} ${CityName1}, Plasma TV Service Center near me in ${AreaName} ${CityName1}, TV installation near me in ${AreaName} ${CityName1}, TV uninstallation near me in ${AreaName} ${CityName1}, CRT TV installation near me in ${AreaName} ${CityName1}, CRT TV uninstallation near me in ${AreaName} ${CityName1}, LCD TV installation near me in ${AreaName} ${CityName1}, LCD TV uninstallation near me in ${AreaName} ${CityName1}, LED TV installation near me in ${AreaName} ${CityName1}, LED TV uninstallation near me in ${AreaName} ${CityName1}, Plasma TV installation near me in ${AreaName} ${CityName1}, Plasma TV uninstallation near me in ${AreaName} ${CityName1}, Best TV Repair Service near me in ${AreaName} ${CityName1}, TV Repair Service Reviews near me in ${AreaName} ${CityName1}, TV Repair Center near me in ${AreaName} ${CityName1}, TV Repair Charges near me in ${AreaName} ${CityName1}, TV Repair Shops near me in ${AreaName} ${CityName1}, Television Service Center near me in ${AreaName} ${CityName1}, Television Service Repair near me in ${AreaName} ${CityName1}, Television Repair near me in ${AreaName} ${CityName1}, Television Service near me in ${AreaName} ${CityName1}, Television Repair Shops near me in ${AreaName} ${CityName1}, TV Service Repair near me in ${AreaName} ${CityName1}, TV customer care number in ${AreaName} ${CityName1}, TV customer care number near me in ${AreaName} ${CityName1}`)
    link(rel='canonical' href=`https://www.Servicerepairindia.com/TV-Service-Center/${CityName2}-${AreaName}`)
    meta(property='og:image' content='https://www.servicerepairindia.com/static/img/TV.webp')
    meta(property='og:title' content=`TV Service Center in ${AreaName}, ${CityName1} | ${NumValue}`)
    meta(property='og:description' content=`97844-67343 | Get the best, TV - ✓Service, ✓Repair, ✓Installation, ✓Uninstallation in ${AreaName}, ${CityName1}. We provide services for all types of Televisions and all brands.`)
    meta(property='og:url' content=`https://www.Servicerepairindia.com/TV-Service-Center/${CityName2}-${AreaName}`)
    meta(property='al:ios:url' content=`https://www.Servicerepairindia.com/TV-Service-Center/${CityName2}-${AreaName}`)
    meta(name='twitter:card' content='summary')
    meta(name='twitter:site' content='@Service Repair India')
    meta(name='twitter:title' content=`TV Service Center in ${AreaName}, ${CityName1} | ${NumValue}`)
    meta(name='twitter:description' content=`97844-67343 | Get the best, TV - ✓Service, ✓Repair, ✓Installation, ✓Uninstallation in ${AreaName}, ${CityName1}. We provide services for all types of Televisions and all brands.`)
    meta(name='twitter:image' content='https://www.servicerepairindia.com/static/img/TV.webp')
    meta(charset='UTF-8')
    meta(http-equiv='content-language' content='en-gb')
    meta(name='distribution' content='global')
    meta(name='copyright' content='Servicerepairindia.com')
    meta(property='og:type' content='website')
    meta(property='og:sitename' content='Servicerepairindia.com')
    meta(property='og:locale' content='en_GB')
    meta(name='format-detection' content='telephone=yes')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=5')
    meta(name='robots' content='INDEX, FOLLOW')
    meta(name='robots' content='noodp, noydir')
    meta(name='geo.region' content='IN')
    meta(name='googlebot' content='index, follow')
    link(rel='icon' href='/static/img/icon.webp')
    link(rel='stylesheet' href='/static/style.css')
    link(rel='stylesheet' href='/static/responsive.css' media='screen and (max-width:650px)')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css' integrity='sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==' crossorigin='anonymous' referrerpolicy='no-referrer')
    

  body 
  
    header.hdr
      .mainHeading Service Repair India
   

    nav.navbar.h-nav-Resp
      ul.navList.v-class-Resp
        li.listItem.A1
          a(href='/') Home
        li.listItem.A2
          a(href='/AC-Service-Center') AC
        li.listItem.A3
          a(href='/Refrigerator-Service-Center') Refrigerator
        li.listItem.A4
          a(href='/WashingMachine-Service-Center') Washing Machine
        li.listItem.A5
          a(href='/MicrowaveOven-Service-Center') Microwave
        li.listItem.A6
          a.active(href='/TV-Service-Center') TV
      .burger
        .line
        .line
        .line



    .fixed-call-Now
      a.call-A(href=`tel:${NumValue}`)
        img(src='/static/img/call.webp' loading='lazy' decoding='async' alt='Call Now')
        .call-Now  Call Now 




    //- section.numberSection
    //-   .call Call Now -:
    //-   .numbers
    //-     #number1.number
    //-       a(href='tel:9784467344') 97844-67344
    //-     #number2.number
    //-       a(href='tel:9784467343') 97844-67343
    //-     #number3.number
    //-       a(href='tel:8306511294') 83065-11294
    //-     #number4.number
    //-       a(href='tel:9875711293') 98757-11293
    //-     #number5.number
    //-       a(href='tel:9928622128') 99286-22128




    section.numberSection
      .call Call Now -:
      .numbers
        #number1.number
          a(href='tel:9928622128') 99286-22128


    
    main  


      section.heading-Section
        h1.mainHeading2 TV Service Center in #{AreaName}, #{CityName1}




      section.intro
        .weDo
          .heading-weDo Your Products are in safe hands.
          p.info-weDo
            | We understand how much your television means to you and it must work perfectly. That's why we are committed to providing you with the highest level of service in #{AreaName}, #{CityName1} for all types of TVs. Our team of specialists in #{AreaName}, #{CityName1} is highly trained in repairing, installing, uninstalling, and relocating all kinds of TVs, including LCD, LED, OLED, Plasma, Smart, HD, 3D, 4K, etc. Whether you're experiencing screen display, panel, power, or any other issue, our professionals are fully equipped to handle all major brands. Trust us to get top-notch home services and solutions in #{AreaName}, #{CityName1} that cater to all your television needs. Choose us for exceptional service and peace of mind.
        .intro-img.img-Border
          img(src='/static/img/TV.webp' loading='lazy' decoding='async' alt=`TV Service Repair`)




      section.city-image-container
        img(src=`/static/img/${CityName2}.webp` loading='lazy' decoding='async' alt=`${CityName1}`)





      section.services-Available
        .heading-weDo.marginTB.mbo
          | We provide a wide range of TV services in #{AreaName}, #{CityName1}.
          br
          | The major ones include:



        article#ac1
          .imgb
            img(src='/static/img/TV2.webp' loading='lazy' decoding='async' alt=`TV Service Repair in ${AreaName}, ${CityName1}`)
          .contentb  
            .dabba  
              ul
                li  
                  h2.ACcontent TV Service in #{AreaName}, #{CityName1}
                li  
                  h2.ACcontent TV Repair in #{AreaName}, #{CityName1}
                li  
                  h2.ACcontent TV Installation in #{AreaName}, #{CityName1}
                li  
                  h2.ACcontent TV Uninstallation in #{AreaName}, #{CityName1} etc.
            
        
        article#ac2
          .imgb
            img(src='/static/img/TV3.webp' loading='lazy' decoding='async' alt=`CRT TV Service Repair in ${AreaName}, ${CityName1}`)
          .contentb
            .dabba
              ul
                li  
                  h2.ACcontent CRT TV Service in #{AreaName}, #{CityName1}
                li  
                  h2.ACcontent CRT TV Repair in #{AreaName}, #{CityName1}
                li  
                  h2.ACcontent CRT TV Installation in #{AreaName}, #{CityName1}
                li  
                  h2.ACcontent CRT TV Uninstallation in #{AreaName}, #{CityName1} etc.
         
              
        
        article#ac1
          .imgb
            img(src='/static/img/TV4.webp' loading='lazy' decoding='async' alt=`LCD TV Service Repair in ${AreaName}, ${CityName1}`)
          .contentb  
            .dabba
              ul
                li  
                  h2.ACcontent LCD TV Service in #{AreaName}, #{CityName1}
                li  
                  h2.ACcontent LCD TV Repair in #{AreaName}, #{CityName1}
                li  
                  h2.ACcontent LCD TV Installation in #{AreaName}, #{CityName1}
                li  
                  h2.ACcontent LCD TV Uninstallation in #{AreaName}, #{CityName1} etc.
    


            
        article#ac2
          .imgb
            img(src='/static/img/TV5.webp' loading='lazy' decoding='async' alt=`LED TV Service Repair in ${AreaName}, ${CityName1}`)
          .contentb
            .dabba
              ul
                li  
                  h2.ACcontent LED TV Service in #{AreaName}, #{CityName1}
                li  
                  h2.ACcontent LED TV Repair in #{AreaName}, #{CityName1}
                li  
                  h2.ACcontent LED TV Installation in #{AreaName}, #{CityName1}
                li  
                  h2.ACcontent LED TV Uninstallation in #{AreaName}, #{CityName1} etc.
         
        
        article#ac1
          .imgb
            img(src='/static/img/TV6.webp' loading='lazy' decoding='async' alt=`Plasma TV Service Repair in ${AreaName}, ${CityName1}`)
          .contentb  
            .dabba
              ul
                li  
                  h2.ACcontent Plasma TV Service in #{AreaName}, #{CityName1}
                li  
                  h2.ACcontent Plasma TV Repair in #{AreaName}, #{CityName1}
                li  
                  h2.ACcontent Plasma TV Installation in #{AreaName}, #{CityName1}
                li  
                  h2.ACcontent Plasma TV Uninstallation in #{AreaName}, #{CityName1} etc.







      article     
        .heading-all-about All About TV Service and Repair
        .content-all-about
          p
            | Taking proper care of your equipment is crucial to ensure its optimal functioning and longevity. Your television, in particular, deserves timely maintenance and repair to keep it working seamlessly, without any interruptions. When it comes to servicing and repairing machines like televisions, it's essential to rely on experts with brand-specific knowledge and years of experience. However, finding a reliable service professional in #{AreaName}, #{CityName1} can be both challenging and expensive. But don't worry - Service Repair India is here to solve this problem for you. We provide the best service professionals in #{AreaName}, #{CityName1} with years of experience and expertise to meet all your television repair needs. Our team provides the convenience of getting your television serviced or repaired at home, without visiting the service center. Our professionals are well-trained and committed to delivering the best service to our customers in #{AreaName}, #{CityName1}. With Service Repair India, you can sit back and relax while we take care of your TV repair needs, ensuring that your device functions smoothly and seamlessly.





      article     
        .heading-all-about Our TV Services in #{AreaName}, #{CityName1}
        .content-all-about
          p
            | Since established in 2004, our TV services in #{AreaName}, #{CityName1} have consistently exceeded expectations, and we continue to raise the bar. At Service Repair India, we take great pride in delivering unparalleled TV services in #{AreaName}, #{CityName1} that guarantee an exceptional viewing experience. Our team of experts in #{AreaName}, #{CityName1} is committed to providing prompt and professional installation, repair, and maintenance services for all types of televisions. What truly sets us apart is our unwavering dedication to staying ahead of technological advancements, ensuring that our services align with the latest innovations in the industry. With their extensive knowledge and experience, our skilled technicians in #{AreaName}, #{CityName1} can efficiently diagnose and resolve any issues, ensuring seamless entertainment in your home. Choose us for reliable, efficient, and customer-focused TV services in #{AreaName}, #{CityName1}.




      section.all-about
        .how-it-works How it works?
        .content-all-about
          p
            | Looking for a quick and reliable way to find the best professionals near you in #{AreaName}, #{CityName1}? Look no further than us! Just give us a call, and tell us what type of service you need - whether it's LCD TV, LED TV, or any other type of television. We'll need some basic information from you, such as the problem with your television, your location, and your preferred time. With this information, we'll send a skilled TV professional in #{AreaName}, #{CityName1} right to your doorstep at your requested time and place. Experience hassle-free service in #{AreaName}, #{CityName1} and get your TV up and running in no time!
        .reason-why-Us
          .Sub-reason-why-Us.padding-Left.padding-left-
            .reason
              .reason-Img.br58
                img(src='/static/img/call-us.webp' loading='lazy' id="call-heading" decoding='async' alt='Call us')
              .reason-content.normal-font Call us
            .reason.padding-Left
              .reason-Img.br58
                img(src='/static/img/service.webp' loading='lazy' decoding='async' alt='Tell us the service you require')
              .reason-content.normal-font Tell us the service you require
          .Sub-reason-why-Us
            .reason
              .reason-Img.br58
                img(src='/static/img/time-slot.webp' loading='lazy' decoding='async' alt='Select your desirable time-slot')
              .reason-content.normal-font Select your desirable time-slot
            .reason.hassle-free
              .reason-Img.large-Img.br58
                img(src='/static/img/hassle-free.webp' loading='lazy' decoding='async' alt='Hassle free service')
              .reason-content.normal-font Hassle free service


      article     
        .content-all-about
          p.extra-content-heading
            | Servicing and repairing your Television (TV) system provides several benefits:
          ul.extra-content-ul
            li.extra-content-li
              strong.grey
               |Improved Picture and Sound Quality: 
              |Regular maintenance is crucial for getting the most out of your TV. By taking care of your device, you can improve the picture and sound quality, resulting in a truly immersive viewing experience. Don't miss out on the full potential of your TV - Make maintenance a priority today.
            li.extra-content-li
              strong.grey 
                |Extended Lifespan: 
              |Your television is a valuable asset that deserves proper care and maintenance. By providing regular maintenance and addressing repairs promptly, you can significantly extend its lifespan. This simple practice can help you avoid costly replacements and keep your entertainment uninterrupted for years to come. Don't underestimate the power of responsible ownership. Take good care of your TV and enjoy the benefits of a long-lasting and reliable entertainment system.
            li.extra-content-li
              strong.grey 
                |Energy Efficiency: 
              |Do you know that a well-maintained TV not only saves you money on electricity bills but also protects the environment by consuming less energy? Make a simple change today and start enjoying the benefits of a more sustainable lifestyle.
            li.extra-content-li
              strong.grey 
                |Prevent Breakdowns: 
              |Regular maintenance is the key to keep your equipment running smoothly and efficiently. By identifying and addressing minor issues before they develop into major problems, you can avoid unexpected breakdowns and costly repairs. Don't wait until it's too late - Schedule routine servicing today and safeguard your valuable appliances.
            li.extra-content-li
              strong.grey 
                |Safety: 
              |Regular servicing is essential to ensure that your equipment or appliances function efficiently and, more importantly, safely. By identifying and resolving safety concerns, such as overheating components or electrical issues, servicing can help minimize the risk of accidents or fire hazards. Don't take risks with your safety - Schedule a routine TV service today!
            li.extra-content-li
              strong.grey 
                |Warranty Compliance: 
              |By keeping up with regular servicing and repairs, you can maintain your television's warranty coverage. This will ensure that you're able to take full advantage of any manufacturer guarantees that comes with your appliance. Don't risk losing out on these benefits - Make sure to prioritize the maintenance of your television.
            li.extra-content-li
              strong.grey 
                |Software Updates: 
              |Don't let your TV become outdated! Keep it up-to-date with the latest technologies and features by getting its firmware and software updated by our technicians during servicing. Stay ahead of the game and enjoy the best possible viewing experience.





      article     
        .content-all-about-2
          p.heading-about-Us
            | About Us
          ul.extra-content-ul
            li.extra-content-li
              |Service Repair India is the ultimate solution for all your electronic home appliance repair and service needs. We are a prominent service provider company, catering to customers all over India. We specialize in repairing and servicing all kinds of televisions. For example - LCD TV, LED TV, OLED TV, Plasma TV, Smart TV, HD TV, 3D TV, 4UK TV etc. Our services are available for all the top brands, including Onida, White Westinghouse, Godrej, Philips, Electrolux, Sanyo, Carrier, Haier, Hitachi, Daikin, Sony, Sharp, IFB, Sansui, Samsung, and many more.
            li.extra-content-li
              |Our team comprises of highly qualified and experienced field engineers, who are backed by efficient coordination executives. They are always ready to serve you promptly. Our mobile unit of service technicians is equipped with the latest diagnostic and repair tools, and well-trained to provide the best on-site services. They are always well-dressed and adhere to the highest professional standards. In addition, our service centers and customer service representatives provide reliable support, ensuring that your service requests are responded to within 24 hours.
            li.extra-content-li
              |We take pride in providing prompt and reliable services to our customers. Our technicians are well-trained to service all brands of electric home appliances, irrespective of their age or condition. They are equipped with the appropriate tools, skills, and expertise to give you the best possible service every time. Our ultimate goal is to exceed our customers' expectations in the appliance repair industry.
            li.extra-content-li
              |In these tough economic times, we understand the value of your time and money. Therefore, we work with you to schedule a service that is quick and convenient for you. Once your service is scheduled, we ensure that our technicians arrive at your doorstep on time and ready to work. You can count on us to provide you with an unparalleled service experience that you will never forget.
            li.extra-content-li
              |At our company, we value your feedback and take it seriously. We conduct customer satisfaction surveys to ensure that we continuously improve our services. We believe in our responsibility to not only repair your appliance but also educate you on how to maximize its performance while keeping our planet in mind. By doing this, we help you save on power and repair costs while also reducing the environmental impact.      






      section.cities-Available.brands-Available
        .heading-cities-Available Brands We Support -:
        table.tbl
          tr.tblr
            td.tbltd
              a(href=`/Actron-TV-Service-Center/${CityName2}-${AreaName}`) Actron TV Service Center in #{AreaName} #{CityName1}
            td.tbltd
              a(href=`/BlueStar-TV-Service-Center/${CityName2}-${AreaName}`) Blue Star TV Service Center in #{AreaName} #{CityName1}
            td.tbltd
              a(href=`/Bosch-TV-Service-Center/${CityName2}-${AreaName}`) Bosch TV Service Center in #{AreaName} #{CityName1}
            
          tr.tblr
            td.tbltd
              a(href=`/BPL-TV-Service-Center/${CityName2}-${AreaName}`) BPL TV Service Center in #{AreaName} #{CityName1}
            td.tbltd
              a(href=`/Carrier-TV-Service-Center/${CityName2}-${AreaName}`) Carrier TV Service Center in #{AreaName} #{CityName1}
            td.tbltd
              a(href=`/Croma-TV-Service-Center/${CityName2}-${AreaName}`) Croma TV Service Center in #{AreaName} #{CityName1}
          tr.tblr
            td.tbltd
              a(href=`/Daikin-TV-Service-Center/${CityName2}-${AreaName}`) Daikin TV Service Center in #{AreaName} #{CityName1}
            td.tbltd
              a(href=`/Electrolux-TV-Service-Center/${CityName2}-${AreaName}`) Electrolux TV Service Center in #{AreaName} #{CityName1}
            td.tbltd
              a(href=`/Fujitsu-TV-Service-Center/${CityName2}-${AreaName}`) Fujitsu TV Service Center in #{AreaName} #{CityName1}
          tr.tblr
            td.tbltd
              a(href=`/GE-TV-Service-Center/${CityName2}-${AreaName}`) GE TV Service Center in #{AreaName} #{CityName1}
            td.tbltd
              a(href=`/GEM-TV-Service-Center/${CityName2}-${AreaName}`) GEM TV Service Center in #{AreaName} #{CityName1}
            td.tbltd
              a(href=`/Godrej-TV-Service-Center/${CityName2}-${AreaName}`) Godrej TV Service Center in #{AreaName} #{CityName1}
          tr.tblr
            td.tbltd
              a(href=`/Haier-TV-Service-Center/${CityName2}-${AreaName}`) Haier TV Service Center in #{AreaName} #{CityName1}
            td.tbltd
              a(href=`/Hitachi-TV-Service-Center/${CityName2}-${AreaName}`) Hitachi TV Service Center in #{AreaName} #{CityName1}
            td.tbltd
              a(href=`/Hyundai-TV-Service-Center/${CityName2}-${AreaName}`) Hyundai TV Service Center in #{AreaName} #{CityName1}
          tr.tblr
            td.tbltd
              a(href=`/IFB-TV-Service-Center/${CityName2}-${AreaName}`) IFB TV Service Center in #{AreaName} #{CityName1}
            td.tbltd
              a(href=`/Kelvinator-TV-Service-Center/${CityName2}-${AreaName}`) Kelvinator TV Service Center in #{AreaName} #{CityName1}
            td.tbltd
              a(href=`/Kenstar-TV-Service-Center/${CityName2}-${AreaName}`) Kenstar TV Service Center in #{AreaName} #{CityName1}
          tr.tblr
            td.tbltd
              a(href=`/Koryo-TV-Service-Center/${CityName2}-${AreaName}`) Koryo TV Service Center in #{AreaName} #{CityName1}
            td.tbltd
              a(href=`/LG-TV-Service-Center/${CityName2}-${AreaName}`) LG TV Service Center in #{AreaName} #{CityName1}
            td.tbltd
              a(href=`/Lloyd-TV-Service-Center/${CityName2}-${AreaName}`) Lloyd TV Service Center in #{AreaName} #{CityName1}
          tr.tblr
            td.tbltd
              a(href=`/Midea-TV-Service-Center/${CityName2}-${AreaName}`) Midea TV Service Center in #{AreaName} #{CityName1}
            td.tbltd
              a(href=`/Mitashi-TV-Service-Center/${CityName2}-${AreaName}`) Mitashi TV Service Center in #{AreaName} #{CityName1}
            td.tbltd
              a(href=`/Mitsubishi-TV-Service-Center/${CityName2}-${AreaName}`) Mitsubishi TV Service Center in #{AreaName} #{CityName1}
          tr.tblr
            td.tbltd
              a(href=`/Napoleon-TV-Service-Center/${CityName2}-${AreaName}`) Napoleon TV Service Center in #{AreaName} #{CityName1}
            td.tbltd
              a(href=`/OGeneral-TV-Service-Center/${CityName2}-${AreaName}`) O General TV Service Center in #{AreaName} #{CityName1}
            td.tbltd
              a(href=`/Onida-TV-Service-Center/${CityName2}-${AreaName}`) Onida TV Service Center in #{AreaName} #{CityName1}
          tr.tblr
            td.tbltd
              a(href=`/Panasonic-TV-Service-Center/${CityName2}-${AreaName}`) Panasonic TV Service Center in #{AreaName} #{CityName1}
            td.tbltd
              a(href=`/Philips-TV-Service-Center/${CityName2}-${AreaName}`) Philips TV Service Center in #{AreaName} #{CityName1}
            td.tbltd
              a(href=`/Samsung-TV-Service-Center/${CityName2}-${AreaName}`) Samsung TV Service Center in #{AreaName} #{CityName1}
          tr.tblr
            td.tbltd
              a(href=`/Sansui-TV-Service-Center/${CityName2}-${AreaName}`) Sansui TV Service Center in #{AreaName} #{CityName1}
            td.tbltd
              a(href=`/Sanyo-TV-Service-Center/${CityName2}-${AreaName}`) Sanyo TV Service Center in #{AreaName} #{CityName1}
            td.tbltd
              a(href=`/Sharp-TV-Service-Center/${CityName2}-${AreaName}`) Sharp TV Service Center in #{AreaName} #{CityName1}
          tr.tblr
            td.tbltd
              a(href=`/Siemens-TV-Service-Center/${CityName2}-${AreaName}`) Siemens TV Service Center in #{AreaName} #{CityName1}
            td.tbltd
              a(href=`/Sony-TV-Service-Center/${CityName2}-${AreaName}`) Sony TV Service Center in #{AreaName} #{CityName1}
            td.tbltd
              a(href=`/TCL-TV-Service-Center/${CityName2}-${AreaName}`) TCL TV Service Center in #{AreaName} #{CityName1}
          tr.tblr
            td.tbltd
              a(href=`/Thomson-TV-Service-Center/${CityName2}-${AreaName}`) Thomson TV Service Center in #{AreaName} #{CityName1}
            td.tbltd
              a(href=`/Toshiba-TV-Service-Center/${CityName2}-${AreaName}`) Toshiba TV Service Center in #{AreaName} #{CityName1}
            td.tbltd
              a(href=`/Vestar-TV-Service-Center/${CityName2}-${AreaName}`) Vestar TV Service Center in #{AreaName} #{CityName1}
          tr.tblr
            td.tbltd
              a(href=`/Videocon-TV-Service-Center/${CityName2}-${AreaName}`) Videocon TV Service Center in #{AreaName} #{CityName1}
            td.tbltd
              a(href=`/Voltas-TV-Service-Center/${CityName2}-${AreaName}`) Voltas TV Service Center in #{AreaName} #{CityName1}
            td.tbltd
              a(href=`/Weston-TV-Service-Center/${CityName2}-${AreaName}`) Weston TV Service Center in #{AreaName} #{CityName1}
          tr.tblr
            td.tbltd
              a(href=`/Whirlpool-TV-Service-Center/${CityName2}-${AreaName}`) Whirlpool TV Service Center in #{AreaName} #{CityName1}
            td.tbltd
              a(href=`/WhiteWestinghouse-TV-Service-Center/${CityName2}-${AreaName}`) White Westinghouse TV Service Center in #{AreaName} #{CityName1}






      //- section.cities-Available.brands-Available
      //-   .heading-cities-Available Brands We Support -:
      //-   .container.brand-Container
      //-     a.yy(href=`/Actron-TV-Service-Center/${CityName2}-${AreaName}`) Actron
      //-     a.yy(href=`/BlueStar-TV-Service-Center/${CityName2}-${AreaName}`) Blue Star
      //-     a.yy(href=`/Bosch-TV-Service-Center/${CityName2}-${AreaName}`) Bosch
      //-     a.yy(href=`/BPL-TV-Service-Center/${CityName2}-${AreaName}`) BPL
      //-     a.yy(href=`/Carrier-TV-Service-Center/${CityName2}-${AreaName}`) Carrier
      //-     a.yy(href=`/Croma-TV-Service-Center/${CityName2}-${AreaName}`) Croma
      //-     a.yy(href=`/Daikin-TV-Service-Center/${CityName2}-${AreaName}`) Daikin
      //-     a.yy(href=`/Electrolux-TV-Service-Center/${CityName2}-${AreaName}`) Electrolux
      //-     a.yy(href=`/Fujitsu-TV-Service-Center/${CityName2}-${AreaName}`) Fujitsu
      //-     a.yy(href=`/GE-TV-Service-Center/${CityName2}-${AreaName}`) GE
      //-     a.yy(href=`/GEM-TV-Service-Center/${CityName2}-${AreaName}`) GEM
      //-     a.yy(href=`/Godrej-TV-Service-Center/${CityName2}-${AreaName}`) Godrej
      //-     a.yy(href=`/Haier-TV-Service-Center/${CityName2}-${AreaName}`) Haier
      //-     a.yy(href=`/Hitachi-TV-Service-Center/${CityName2}-${AreaName}`) Hitachi
      //-     a.yy(href=`/Hyundai-TV-Service-Center/${CityName2}-${AreaName}`) Hyundai
      //-     a.yy(href=`/IFB-TV-Service-Center/${CityName2}-${AreaName}`) IFB
      //-     a.yy(href=`/Kelvinator-TV-Service-Center/${CityName2}-${AreaName}`) Kelvinator
      //-     a.yy(href=`/Kenstar-TV-Service-Center/${CityName2}-${AreaName}`) Kenstar
      //-     a.yy(href=`/Koryo-TV-Service-Center/${CityName2}-${AreaName}`) Koryo
      //-     a.yy(href=`/LG-TV-Service-Center/${CityName2}-${AreaName}`) LG
      //-     a.yy(href=`/Lloyd-TV-Service-Center/${CityName2}-${AreaName}`) Lloyd
      //-     a.yy(href=`/Midea-TV-Service-Center/${CityName2}-${AreaName}`) Midea
      //-     a.yy(href=`/Mitashi-TV-Service-Center/${CityName2}-${AreaName}`) Mitashi
      //-     a.yy(href=`/Mitsubishi-TV-Service-Center/${CityName2}-${AreaName}`) Mitsubishi
      //-     a.yy(href=`/Napoleon-TV-Service-Center/${CityName2}-${AreaName}`) Napoleon
      //-     a.yy(href=`/OGeneral-TV-Service-Center/${CityName2}-${AreaName}`) O General
      //-     a.yy(href=`/Onida-TV-Service-Center/${CityName2}-${AreaName}`) Onida
      //-     a.yy(href=`/Panasonic-TV-Service-Center/${CityName2}-${AreaName}`) Panasonic
      //-     a.yy(href=`/Philips-TV-Service-Center/${CityName2}-${AreaName}`) Philips
      //-     a.yy(href=`/Samsung-TV-Service-Center/${CityName2}-${AreaName}`) Samsung
      //-     a.yy(href=`/Sansui-TV-Service-Center/${CityName2}-${AreaName}`) Sansui
      //-     a.yy(href=`/Sanyo-TV-Service-Center/${CityName2}-${AreaName}`) Sanyo
      //-     a.yy(href=`/Sharp-TV-Service-Center/${CityName2}-${AreaName}`) Sharp
      //-     a.yy(href=`/Siemens-TV-Service-Center/${CityName2}-${AreaName}`) Siemens
      //-     a.yy(href=`/Sony-TV-Service-Center/${CityName2}-${AreaName}`) Sony
      //-     a.yy(href=`/TCL-TV-Service-Center/${CityName2}-${AreaName}`) TCL
      //-     a.yy(href=`/Thomson-TV-Service-Center/${CityName2}-${AreaName}`) Thomson
      //-     a.yy(href=`/Toshiba-TV-Service-Center/${CityName2}-${AreaName}`) Toshiba
      //-     a.yy(href=`/Vestar-TV-Service-Center/${CityName2}-${AreaName}`) Vestar
      //-     a.yy(href=`/Videocon-TV-Service-Center/${CityName2}-${AreaName}`) Videocon
      //-     a.yy(href=`/Voltas-TV-Service-Center/${CityName2}-${AreaName}`) Voltas
      //-     a.yy(href=`/Weston-TV-Service-Center/${CityName2}-${AreaName}`) Weston
      //-     a.yy(href=`/Whirlpool-TV-Service-Center/${CityName2}-${AreaName}`) Whirlpool
      //-     a(href=`/WhiteWestinghouse-TV-Service-Center/${CityName2}-${AreaName}`) White Westinghouse






    section.why-Us
      .heading-why-Us  Why Choose Us? 
      .reason-why-Us
        .Sub-reason-why-Us.padding-Left
          .reason
            .reason-Img
              img(src='/static/img/why-Us-1.webp' loading='lazy' decoding='async' alt='Cost-Effective')
            .reason-content Cost-Effective
          .reason.padding-Left
            .reason-Img
              img(src='/static/img/why-Us-2.webp' loading='lazy' decoding='async' alt='Experienced Technicians')
            .reason-content Experienced Technicians
        .Sub-reason-why-Us
          .reason
            .reason-Img
              img(src='/static/img/why-Us-3.webp' loading='lazy' decoding='async' alt='Punctuality')
            .reason-content Punctuality
          .reason
            .reason-Img.large-Img
              img(src='/static/img/why-Us-4.webp' loading='lazy' decoding='async' alt='Quality Work')
            .reason-content Quality Work


    section.review
      .reviews-overview 
        .heading-reviews 
         | Reviews and Ratings
        .bar-reviews 
          .bar-left
            p.five 
              |5  
            p.stars
              i.fas.fa-star(aria-hidden='true')
              i.fas.fa-star(aria-hidden='true')
              i.fas.fa-star(aria-hidden='true')
              i.fas.fa-star(aria-hidden='true')
              i.fas.fa-star(aria-hidden='true')
            p.rating-count
             | 17688 Customer Ratings
          .bar-right
            .progress 
              span.rating-review 
                |5
              i.fas.fa-star.stars2(aria-hidden='true')
              .barr
                .yellow-bar#ninety
                .grey-bar#ten
              span.percent 
                |90%
            .progress 
              span.rating-review 
                |4
              i.fas.fa-star.stars2(aria-hidden='true')
              .barr
                .yellow-bar#six 
                .grey-bar#ninetyfour
              span.percent 
                |6%
            .progress 
              span.rating-review 
                |3
              i.fas.fa-star.stars2(aria-hidden='true')
              .barr
                .yellow-bar#three
                .grey-bar#ninetyseven
              span.percent 
                |3%
            .progress 
              span.rating-review 
                |2
              i.fas.fa-star.stars2(aria-hidden='true')
              .barr
                .yellow-bar#one
                .grey-bar#ninetynine
              span.percent 
                |1%
            .progress 
              span.rating-review#one-review 
                |1
              i.fas.fa-star.stars2(aria-hidden='true')
              .barr
                .yellow-bar 
                .grey-bar#zero
              span.percent 
                |0%
        .given-rating
          .ratingbox
            .ratingstar 
              .bio-text
                p.rating-name 
                  |  Chandresh Srinivasan
                p.rating-product 
                  | Television 
              .star-count 
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
            .ratingreview
              |Great job! Recently, I encountered an issue with the image quality on my television. Thankfully, the professionals from Service Repair India were able to repair it to perfection. Their expertise and skills are truly remarkable. If you're ever in need of TV services in #{AreaName}, #{CityName1}, they're definitely the ones to call!
            span.testimonial
              i.fa-solid.fa-quote-right           
          .ratingbox
            .ratingstar 
              .bio-text
                p.rating-name 
                  | Dhruvi Ghosh
                p.rating-product 
                  | Television 
              .star-count 
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
            .ratingreview
              |I recently had trouble with the sound quality of my television and decided to book a repair service online for the first time. I am pleased to say that Service Repair India provided me with exceptional service and resolved the issue efficiently. I highly recommend their services to anyone in need of reliable and professional television repair in #{AreaName}, #{CityName1}.
            span.testimonial
              i.fa-solid.fa-quote-right
        .given-rating
          .ratingbox
            .ratingstar 
              .bio-text
                p.rating-name 
                  | Priya Jain 
                p.rating-product 
                  | Television 
              .star-count 
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
            .ratingreview
              |The service provided was exceptional. Their experts in #{AreaName}, #{CityName1} arrived on time and conducted themselves in a professional manner throughout. The overall quality of service was outstanding and met all expectations.
            span.testimonial
              i.fa-solid.fa-quote-right           
          .ratingbox
            .ratingstar 
              .bio-text
                p.rating-name 
                  | Devika Upadhyay 
                p.rating-product 
                  | Television 
              .star-count 
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
            .ratingreview
              |Service Repair India's team truly impressed me with their exceptional service in #{AreaName}, #{CityName1}. Their prompt and reliable repair work was beyond my expectations, and now my television is working perfectly.
            span.testimonial
              i.fa-solid.fa-quote-right
        .given-rating
          .ratingbox
            .ratingstar 
              .bio-text
                p.rating-name 
                  | Balchandra Reddy 
                p.rating-product 
                  | Television 
              .star-count 
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
            .ratingreview
              |When my television suddenly stopped working, I was worried about finding a reliable service in #{AreaName}, #{CityName1} to fix it. However, I decided to search online and booked a service from Service Repair India. It turned out to be the best decision I could have made. Their professionals were highly skilled and fixed my television with ease, leaving it functioning like it was brand new.
            span.testimonial
              i.fa-solid.fa-quote-right           
          .ratingbox
            .ratingstar 
              .bio-text
                p.rating-name 
                  | Gayatri Ojha 
                p.rating-product 
                  | Television 
              .star-count 
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
            .ratingreview
              |I received top-notch service from Service Repair India. Their professionals were reliable and provided quick assistance. Needless to say, the work done was absolutely awesome! Overall, I am extremely happy with their TV service in #{AreaName}, #{CityName1} and would highly recommend it.
            span.testimonial
              i.fa-solid.fa-quote-right




    section.faq
      .heading-reviews.heading-faq 
          |Frequently Asked Questions
      ul.accordian
        li 
          input#14(type='radio' name='accordian')
          label(for='14') 
            h3 What are the common TV issues and when should I contact TV service center?
          .content
            p 
              | Common TV issues include screen flickering, no power, distorted picture or sound, etc. Contact the TV service center promptly to fix these issues. Attempting to self-troubleshoot or repair complex TV problems can lead to further damage or injury. Our trained professionals in #{AreaName}, #{CityName1} will efficiently diagnose and resolve the problem, restoring your TV to optimal performance and extending its lifespan. So why wait? Contact us today and get your TV working like new.
        li 
          input#15(type='radio' name='accordian')
          label(for='15') 
            h3 What kind of TV repair services does Service Repair India provide in #{AreaName}, #{CityName1}?
          .content
            p 
              | We provide comprehensive TV repair services in #{AreaName}, #{CityName1} for various issues, including screen damage, power and sound problems, and malfunctioning internal components. Our skilled technicians in #{AreaName}, #{CityName1} conduct thorough diagnostic assessments and provide accurate repair estimates. We use high-quality genuine replacement parts and perform repairs to the highest standards to guarantee the longevity of your appliance. Trust us to effectively and efficiently handle all your TV repair needs in #{AreaName}, #{CityName1}.
        li 
          input#17(type='radio' name='accordian')
          label(for='17') 
            h3 Do you provide TV wall mounting / TV installation in #{AreaName}, #{CityName1}?
          .content
            p 
              | Yes, we provide TV wall mounting and installation services in #{AreaName}, #{CityName1}. Our technicians are skilled in securely mounting TVs on different types of walls, using appropriate hardware for stability and safety. Our skilled technicians in #{AreaName}, #{CityName1} prioritize the size, weight and viewing angle of the TV for optimal placement. They hide cables for a neat appearance and ensure proper connections to your existing AV equipment. Trust us to get the job done right.
        li 
          input#18(type='radio' name='accordian')
          label(for='18') 
            h3 Do you provide same-day TV repair/installation services in #{AreaName}, #{CityName1}?
          .content
            p 
              | Yes, we provide same-day TV repair and installation services in #{AreaName}, #{CityName1} to ensure your convenience. Our skilled technicians in #{AreaName}, #{CityName1} provide reliable and efficient services to repair your malfunctioning TV or install a new one. Choose us for the best quality service you deserve.
        li 
          input#19(type='radio' name='accordian')
          label(for='19') 
            h3 Do you provide a satisfaction guarantee on your TV installation services in #{AreaName}, #{CityName1}?
          .content
            p 
              | Yes, we guarantee your satisfaction with our TV installation services in #{AreaName}, #{CityName1}. Our experienced technicians in #{AreaName}, #{CityName1} are dedicated to delivering high-quality installations and excellent customer service. If for any reason you're not satisfied, we'll make it right. Contact us for reliable installation services in #{AreaName}, #{CityName1}.
        li 
          input#20(type='radio' name='accordian')
          label(for='20') 
            h3 Can you repair/install TVs of any size or brand?
          .content
            p 
              | At Service Repair India, we provide top-notch TV repair and installation services in #{AreaName}, #{CityName1} for all brands and sizes. Our technicians in #{AreaName}, #{CityName1} are highly trained and up-to-date on the latest TV technology advancements, ensuring that we can address any issue with precision and care. We provide personalized solutions to meet your specific needs, from diagnosing technical glitches to seamless installations. Choose us for reliable and professional TV repair and installation services in #{AreaName}, #{CityName1}.
        li 
          input#21(type='radio' name='accordian')
          label(for='21') 
            h3 Is TV repairable?
          .content
            p 
              | Most TVs are repairable, but whether it's worth it depends on factors like age, type of damage, and parts availability. Our skilled technicians in #{AreaName}, #{CityName1} can fix all the issues, some repairs may require more effort and component replacement. Get your TV evaluated by our qualified technicians in #{AreaName}, #{CityName1} who can accurately diagnose the problem and recommend the best options. With the right expertise and parts, it's possible to extend your TV's lifespan and save money. Contact us now!
        li 
          input#22(type='radio' name='accordian')
          label(for='22') 
            h3 Is it worth getting the TV repaired?
          .content
            p 
              | Consider the extent of the damage to decide whether to have your TV repaired. For minor issues, like a loose connection or simple component replacement, repairing is worthwhile. Otherwise, if the damage is serious, like a cracked screen or major internal component failure, consulting a professional technician is crucial. They can advise whether it's more economical to repair or replace the TV. So, get your product evaluated by our skilled technicians in #{AreaName}, #{CityName1} before deciding what to do.
        li 
          input#23(type='radio' name='accordian')
          label(for='23') 
            h3 Can you repair a broken LED TV?
          .content
            p 
              | Yes, broken LED TVs can often be repaired. However, the feasibility of repair depends on the specific nature and extent of the damage. Sometimes, repair may not be practical or cost-effective compared to purchasing a new TV. It's crucial to seek assistance from professionals with expertise in TV repair. They can accurately diagnose the problem and provide recommendations on the best course of action, whether it's repairing your TV or opting for a replacement. Consulting professionals ensure that the repair process is handled correctly, increasing the chances of restoring your TV to working condition. Contact us now and get your TV evaluated and repaired by the best professionals in #{AreaName}, #{CityName1}.
        li 
          input#24(type='radio' name='accordian')
          label(for='24') 
            h3 Which is the best TV repair service center near me in #{AreaName}, #{CityName1}?
          .content
            p 
              | When it comes to TV repair in #{AreaName}, #{CityName1}, there is no better option than Service Repair India. Our highly skilled TV technicians in #{AreaName}, #{CityName1} have years of experience in this field, making it easy for them to fix any problem with confidence and accuracy. Choose us for the best quality service you deserve.
        li 
          input#25(type='radio' name='accordian')
          label(for='25') 
            h3 What types of TVs can be repaired by Service Repair India in #{AreaName}, #{CityName1}?
          .content
            p 
              | Our team of specialists in #{AreaName}, #{CityName1} is highly trained in repairing, installing, uninstalling, and relocating all kinds of TVs, including LCD, LED, OLED, Plasma, Smart, HD, 3D, 4K, etc. Our expert technicians in #{AreaName}, #{CityName1} troubleshoot technical issues and perform routine maintenance, ensuring optimal performance and customer satisfaction. Choose us for all your TV needs in #{AreaName}, #{CityName1}.
        li 
          input#26(type='radio' name='accordian')
          label(for='26') 
            h3 How much will a TV repair cost?
          .content
            p 
              | TV repair costs can be challenging to determine without professional assessment. Factors like damage extent, TV model, and technician expertise influence the final cost. Our skilled professionals in #{AreaName}, #{CityName1} can diagnose and provide tailored estimates. Basic repairs like screen/fuse replacements are relatively inexpensive, but internal component or circuitry issues can be costly. The overall expense includes labor charges and cost of replacement parts.
        li 
          input#16(type='radio' name='accordian')
          label(for='16') 
            h3 Can I install a TV wall mount myself?
          .content
            p 
              | It's recommended to seek the help of a professional when mounting your TV on the wall. Attempting to do it yourself can lead to costly mistakes and damage to your TV or wall. Professional installers have the expertise and tools to ensure safe and secure installation, minimizing the risk of accidents or damage. This saves you time and effort, giving you peace of mind knowing that your TV is securely mounted. They can also provide valuable advice on the best placement for your TV and hide cables for a neat and professional-looking setup. Don't wait any longer, contact us now and get your TV installed in no time!
        li 
          input#27(type='radio' name='accordian')
          label(for='27') 
            h3  What are your visiting charges?
          .content
            p 
              | Our technicians possess years of expertise and top-notch equipment to assess your TV's condition. Our visiting charges are set at Rs 
              sup
                s.prices
                  | 500
              |  350 (
              span.color-green
                |save 30%
              | ). This fee covers the initial assessment and ensures an accurate diagnosis of the issue. We provide transparent recommendations for repair or maintenance and a detailed breakdown of any additional cost before the work is undertaken. Trust us for reliable and cost-effective solutions to keep your TV running smoothly.
        li 
          input#1(type='radio' name='accordian')
          label(for='1') 
            h3 Does Service Repair India provide TV home repair services in #{AreaName}, #{CityName1}?
          .content
            p 
              | Yes, Service Repair India provides doorstep TV repair services by experienced technicians in #{AreaName}, #{CityName1}. Get fast and effective solutions from our skilled team in #{AreaName}, #{CityName1} at your convenience.
        li 
          input#3(type='radio' name='accordian')
          label(for='3') 
            h3 After placing the request, when can I expect to receive TV service in #{AreaName}, #{CityName1}?
          .content
            p 
              | We aim to provide you with prompt and efficient TV service in #{AreaName}, #{CityName1}. After receiving your request, our professional will contact you within 10 to 20 minutes or ASAP to schedule a convenient time for the service.
        li 
          input#4(type='radio' name='accordian')
          label(for='4') 
            h3 Is there any warranty provided on TV repairs done by Service Repair India in #{AreaName}, #{CityName1}?
          .content
            p 
              | At Service Repair India, we provide warranty on all the repairs completed by our skilled technicians in #{AreaName}, #{CityName1}. The warranty period may vary based on the type of repair and spare parts used, but for general repairs, we offer a 30-day warranty. If any issues arise within the warranty period, we will make it right at no additional cost to you. We take pride in our work and are committed to providing reliable and high quality TV service to our customers in #{AreaName}, #{CityName1}. Trust us for reliable repairs that last.
        li 
          input#5(type='radio' name='accordian')
          label(for='5') 
            h3 What if Service Repair India's engineer in #{AreaName}, #{CityName1} cannot fix the problem with my TV?
          .content
            p 
              | Our skilled technicians at Service Repair India have successfully completed hundreds of repair jobs and are highly proficient in their work. In the rare case that the repair is not completed during the first visit, we will schedule another visit at no extra cost to you, to ensure your complete satisfaction with our TV services in #{AreaName}, #{CityName1}.
        li 
          input#6(type='radio' name='accordian')
          label(for='6') 
            h3 Do you use genuine spare parts for replacement?
          .content
            p 
              | Rest assured that our skilled TV professionals in #{AreaName}, #{CityName1} use only genuine spare parts for replacements, and if the need arises to use an alternative, they will seek your approval before proceeding. Your satisfaction is our top priority.
        li 
          input#7(type='radio' name='accordian')
          label(for='7') 
            h3 Who is responsible for obtaining the necessary parts if needed?
          .content
            p 
              | Our technician will take care of getting replacement parts to repair your television. You can choose to buy the parts yourself if you prefer. Our top priority is to ensure that you receive a seamless TV repair experience in #{AreaName}, #{CityName1} that exceeds your expectations.
        li 
          input#8(type='radio' name='accordian')
          label(for='8') 
            h3 Do you provide warranty on spare parts?
          .content
            p 
              | Yes, we provide warranty on spare parts. The warranty period may vary depending on the type of spare parts used.
        li 
          input#2(type='radio' name='accordian')
          label(for='2') 
            h3 What are the working hours of Service Repair India?
          .content
            p 
              | Our opening hours are 7:00 AM to 11:00 PM, 7 days a week.
        li 
          input#9(type='radio' name='accordian')
          label(for='9') 
            h3 Does Service Repair India have TV customer support helpline in #{AreaName}, #{CityName1}?
          .content
            p 
              | Yes! We understand that customers may need assistance even outside of regular business hours. That's why we've made our TV customer support available in #{AreaName}, #{CityName1} every day from 7 AM to 11 PM. You can reach us by dialing 9928622128. Our team is always ready to help you with any concerns or inquiries you may have.
        li 
          input#10(type='radio' name='accordian')
          label(for='10') 
            h3 If necessary, does Service Repair India provide pick-up services in #{AreaName}, #{CityName1} to take my television or damaged part of the television to their workshop?
          .content
            p 
              | Yes, Service Repair India provides convenient pick-up and drop-off services in #{AreaName}, #{CityName1} for your television when needed. Once the repair work is completed, they will promptly return your TV to your doorstep. Schedule a repair today for the ultimate convenience!
        li 
          input#11(type='radio' name='accordian')
          label(for='11') 
            h3 Can I purchase an TV AMC from Service Repair India in #{AreaName}, #{CityName1}?
          .content
            p 
              | Yes, you can buy an Annual Maintenance Contract (AMC) from Service Repair India in #{AreaName}, #{CityName1} to ensure regular maintenance and timely repairs of your TV. This will help keep your television in good working condition and prevent unexpected breakdowns. Contact us now to learn more about the available plans and how to get started.
        li 
          input#12(type='radio' name='accordian')
          label(for='12') 
            h3 How is Service Repair India's TV service different from other service providers in #{AreaName}, #{CityName1}?
          .content
            p 
              | Service Repair India provides a consistent and reliable TV service experience, unlike other service providers in #{AreaName}, #{CityName1} who rely on a network of freelance technicians. Our in-house TV service engineers in #{AreaName}, #{CityName1} have over a decade of experience in this field, ensuring expert and reliable services. Choose Service Repair India for a seamless TV service experience in #{AreaName}, #{CityName1} with transparent pricing and quick response time.
        li 
          input#13(type='radio' name='accordian')
          label(for='13') 
            h3 What guarantees the reliability of Service Repair India's TV professionals in #{AreaName}, #{CityName1}?
          .content
            p 
              | At Service Repair India, we ensure reliability and professionalism by thoroughly screening our TV professionals in #{AreaName}, #{CityName1} based on qualifications, experience, and expertise. We conduct background checks, provide ongoing training programs, and prioritize accountability along with customer satisfaction. This fosters a culture of trust and confidence in the reliability of our TV professionals in #{AreaName}, #{CityName1} and the services we provide.









    section.about-Us
      .heading-about-Us More About Us,
      p.info-weDo.padding-X
        | We are honored to serve you and provide top-notch services. Our home services span across India and cater to all product types and brands that are out of warranty, including ACs, refrigerators, washing machines, microwave ovens, TVs, and many more. As a privately owned center, we offer chargeable services and have a dedicated team of service professionals who are committed to providing the highest quality service with utmost consumer satisfaction. Our technicians are rigorously trained to deliver prompt and efficient service, ensuring that your job is completed to perfection. Plus, we stand behind our work with a 30-day service warranty so you can have peace of mind. When you choose us, you can rest assured that your appliances are in good hands!
      .call-Us-now
        | Call Us Now at -: 
        a(href=`tel:${NumValue}`)
          .inline-Block  #{NumValue} 
  

  
    footer
      script(type='application/ld+json').
        {
        "@context": "https://schema.org",
        "@type": "LocalBusiness",
        "description": "97844-67343 | Get the best, TV - ✓Service, ✓Repair, ✓Installation, ✓Uninstallation in #{AreaName}, #{CityName1}. We provide services for all types of Televisions and all brands.",
        "name": "TV Service Repair in #{AreaName}, #{CityName1}",
        "alternateName": "TV Service Center in #{AreaName}, #{CityName1}",
        "image": "https://www.servicerepairindia.com/static/img/TV.webp",
        "@id": "",
        "url": "https://www.servicerepairindia.com/TV-Service-Center/#{CityName2}-#{AreaName}",
        "telephone": "#{NumValue}",
        "priceRange": "According to service",
        "address": {
        "@type": "PostalAddress",
        "streetAddress": "",
        "addressLocality": "",
        "postalCode": "",
        "addressCountry": "IN"
        },
        "openingHoursSpecification": {
        "@type": "OpeningHoursSpecification",
        "dayOfWeek": [
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday",
        "Saturday",
        "Sunday"
        ],
        "opens": "00:00",
        "closes": "23:59"
        }
        }
      .footer-black 
        .our-services 
          span.our-services-heading 
            | Our Services
          ul.our-services-ul 
           li.our-services-li 
             a(href='/AC-Service-Center') AC
           li.our-services-li
             a(href='/Refrigerator-Service-Center') Refrigerator
           li.our-services-li
             a(href='/WashingMachine-Service-Center') Washing Machine
           li.our-services-li
             a(href='/MicrowaveOven-Service-Center') Microwave
           li.our-services-li
             a(href='/TV-Service-Center') TV
        .our-services.services2
          span.our-services-heading 
            | Contact Us     
          ul.our-services-ul 
           li.our-services-li 
             span.fa.fa-mobile(aria-hidden='true')
             a.footer-a(href=`tel:${NumValue}`)
               | #{NumValue}
           li.our-services-li
             span.fa.fa-clock
             span.footer-hrs
               | Opening Hours: 7:00 AM to 11:00 PM, 7 days a week
      .footer
        a(href='/' target='_blank')  Service Repair India 
        |  | All Rights Reserved.
  
  
    script(src='/static/index.js' defer='')
  
                         
                        
