doctype html
html
  head
    title Washing Machine Service Center | #{NumValue}
    meta(name='Title' content=`Washing Machine Service Center | ${NumValue}`)
    meta(name='description' content=`97844-67343 | Get the best, Washing Machine - ✓Service, ✓Repair, ✓Installation, ✓Uninstallation etc. We provide services for all types of Washing Machines and all brands.`)
    meta(name='keywords' content=`Washing Machine Service Center, Washing Machine Service Repair, Washing Machine Repair, Washing Machine Service, Fully Automatic Washing Machine Service, Semi Automatic Washing Machine Service, Top Load Washing Machine Service, Front Load Washing Machine Service, Fully Automatic Washing Machine Repair, Semi Automatic Washing Machine Repair, Top Load Washing Machine Repair, Front Load Washing Machine Repair, Fully Automatic Washing Machine Service Center, Semi Automatic Washing Machine Service Center, Top Load Washing Machine Service Center, Front Load Washing Machine Service Center, Washing Machine installation, Washing Machine uninstallation, Fully Automatic Washing Machine installation, Fully Automatic Washing Machine uninstallation, Semi Automatic Washing Machine installation, Semi Automatic Washing Machine uninstallation, Top Load Washing Machine installation, Top Load Washing Machine uninstallation, Front Load Washing Machine installation, Front Load Washing Machine uninstallation, Best Washing Machine Repair Service, Washing Machine Repair Service Reviews, Washing Machine Repair Shops, Washing Machine Repair Center, Washing Machine Repair Charges, Washing Machine Service Center near me, Washing Machine Repair near me, Fully Automatic Washing Machine Repair near me, Semi Automatic Washing Machine Repair near me, Top Load Washing Machine Repair near me, Front Load Washing Machine Repair near me, Washing Machine Service near me, Fully Automatic Washing Machine Service near me, Semi Automatic Washing Machine Service near me, Top Load Washing Machine Service near me, Front Load Washing Machine Service near me, Fully Automatic Washing Machine Service Center near me, Semi Automatic Washing Machine Service Center near me, Top Load Washing Machine Service Center near me, Front Load Washing Machine Service Center near me, Washing Machine installation near me, Washing Machine uninstallation near me, Fully Automatic Washing Machine installation near me, Fully Automatic Washing Machine uninstallation near me, Semi Automatic Washing Machine installation near me, Semi Automatic Washing Machine uninstallation near me, Top Load Washing Machine installation near me, Top Load Washing Machine uninstallation near me, Front Load Washing Machine installation near me, Front Load Washing Machine uninstallation near me, Best Washing Machine Repair Service near me, Washing Machine Repair Service Reviews near me, Washing Machine Repair Center near me, Washing Machine Repair Shops near me, Washing Machine Service Repair near me, Washing Machine Repair Charges near me, Washing Machine customer care number, Washing Machine customer care number near me`)
    link(rel='canonical' href=`https://www.Servicerepairindia.com/WashingMachine-Service-Center`)
    meta(property='og:image' content='https://www.servicerepairindia.com/static/img/WashingMachine.webp')
    meta(property='og:title' content=`Washing Machine Service Center | ${NumValue}`)
    meta(property='og:description' content=`97844-67343 | Get the best, Washing Machine - ✓Service, ✓Repair, ✓Installation, ✓Uninstallation etc. We provide services for all types of Washing Machines and all brands.`)
    meta(property='og:url' content=`https://www.Servicerepairindia.com/WashingMachine-Service-Center`)
    meta(property='al:ios:url' content=`https://www.Servicerepairindia.com/WashingMachine-Service-Center`)
    meta(name='twitter:card' content='summary')
    meta(name='twitter:site' content='@Service Repair India')
    meta(name='twitter:title' content=`Washing Machine Service Center | ${NumValue}`)
    meta(name='twitter:description' content=`97844-67343 | Get the best, Washing Machine - ✓Service, ✓Repair, ✓Installation, ✓Uninstallation etc. We provide services for all types of Washing Machines and all brands.`)
    meta(name='twitter:image' content='https://www.servicerepairindia.com/static/img/WashingMachine.webp')
    meta(charset='UTF-8')
    meta(http-equiv='content-language' content='en-gb')
    meta(name='distribution' content='global')
    meta(name='copyright' content='Servicerepairindia.com')
    meta(property='og:type' content='website')
    meta(property='og:sitename' content='Servicerepairindia.com')
    meta(property='og:locale' content='en_GB')
    meta(name='format-detection' content='telephone=yes')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=5')
    meta(name='robots' content='INDEX, FOLLOW')
    meta(name='robots' content='noodp, noydir')
    meta(name='geo.region' content='IN')
    meta(name='googlebot' content='index, follow')
    link(rel='icon' href='/static/img/icon.webp')
    link(rel='stylesheet' href='/static/style.css')
    link(rel='stylesheet' href='/static/responsive.css' media='screen and (max-width:650px)')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css' integrity='sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==' crossorigin='anonymous' referrerpolicy='no-referrer')
    

    
  body 
  
    header.hdr
      .mainHeading Service Repair India
   

    nav.navbar.h-nav-Resp
      ul.navList.v-class-Resp
        li.listItem.A1
          a(href='/') Home
        li.listItem.A2
          a(href='/AC-Service-Center') AC
        li.listItem.A3
          a(href='/Refrigerator-Service-Center') Refrigerator
        li.listItem.A4
          a.active(href='/WashingMachine-Service-Center') Washing Machine
        li.listItem.A5
          a(href='/MicrowaveOven-Service-Center') Microwave
        li.listItem.A6
          a(href='/TV-Service-Center') TV
      .burger
        .line
        .line
        .line


    .fixed-call-Now
      a.call-A(href=`tel:9928622128`)
        img(src='/static/img/call.webp' loading='lazy' decoding='async' alt='Call Now')
        .call-Now  Call Now 



    .Whatsapp
      a.call-A.whatsapp-A(href=`https://wa.me/9928622128/?text=Hi I want a service`)
        img(src='/static/img/Whatsapp.webp' loading='lazy' decoding='async' alt='Call Now')
        .call-Now  Chat 






    //- section.numberSection
    //-   .call Call Now -:
    //-   .numbers
    //-     #number1.number
    //-       a(href='tel:9784467344') 97844-67344
    //-     #number2.number
    //-       a(href='tel:9784467343') 97844-67343
    //-     #number3.number
    //-       a(href='tel:8306511294') 83065-11294
    //-     #number4.number
    //-       a(href='tel:9875711293') 98757-11293
    //-     #number5.number
    //-       a(href='tel:9928622128') 99286-22128





    section.numberSection
      .call Call Now -:
      .numbers
        #number1.number
          a(href='tel:9928622128') 99286-22128




 
    main  


      section.heading-Section
        h1.mainHeading2 Washing Machine Service Center




      section.intro
        .weDo
          .heading-weDo Your Products are in safe hands.
          p.info-weDo
            | We understand the significance of having a fully functional washing machine, and that's why we're here to provide you the best service. Our team of experts is equipped to handle all types of washing machines, including Fully Automatic, Semi Automatic, Top Load, and Front Load Washing Machines. We are committed to providing you the highest quality service without any compromise on quality. Our services range from installations, repairs, and maintenance to uninstallations. We can address any issue, from display and drainage problems to tub rotation and power failures. Our washing machine technicians provide home services and are skilled in handling all brands of washing machines. Choose us for reliable, professional, and prompt washing machine services.
        .intro-img.img-Border
          img(src='/static/img/WashingMachine.webp' loading='lazy' decoding='async' alt=`Washing Machine Service Repair`)






      section.services-Available
        .heading-weDo.marginTB.mbo
          | We provide a wide range of washing machine services.
          br
          | The major ones are listed below -:
        
      
        article#ac1
          .imgb
            img(src='/static/img/WashingMachine2.webp' loading='lazy' decoding='async' alt=`Washing Machine Service Repair`)
          .contentb  
            .dabba  
              ul
                li  
                  h2.ACcontent Washing Machine Service
                li  
                  h2.ACcontent Washing Machine Repair
                li  
                  h2.ACcontent Washing Machine Installation
                li  
                  h2.ACcontent Washing Machine Uninstallation etc.
            
        
        article#ac2
          .imgb
            img(src='/static/img/WashingMachine3.webp' loading='lazy' decoding='async' alt=`Fully Automatic Washing Machine Service Repair`)
          .contentb
            .dabba
              ul
                li  
                  h2.ACcontent Fully Automatic Washing Machine Service
                li  
                  h2.ACcontent Fully Automatic Washing Machine Repair
                li  
                  h2.ACcontent Fully Automatic Washing Machine Installation
                li  
                  h2.ACcontent Fully Automatic Washing Machine Uninstallation etc.
         
              
        
        article#ac1
          .imgb
            img(src='/static/img/WashingMachine4.webp' loading='lazy' decoding='async' alt=`Semi Automatic Washing Machine Service Repair`)
          .contentb  
            .dabba
              ul
                li  
                  h2.ACcontent Semi Automatic Washing Machine Service
                li  
                  h2.ACcontent Semi Automatic Washing Machine Repair
                li  
                  h2.ACcontent Semi Automatic Washing Machine Installation
                li  
                  h2.ACcontent Semi Automatic Washing Machine Uninstallation etc.
    

            
        article#ac2
          .imgb
            img(src='/static/img/WashingMachine5.webp' loading='lazy' decoding='async' alt=`Top Load Washing Washing Machine Service Repair`)
          .contentb
            .dabba
              ul
                li  
                  h2.ACcontent Top Load Washing Machine Service
                li  
                  h2.ACcontent Top Load Washing Machine Repair
                li  
                  h2.ACcontent Top Load Washing Machine Installation
                li  
                  h2.ACcontent Top Load Washing Machine Uninstallation etc.
         
        
        article#ac1
          .imgb
            img(src='/static/img/WashingMachine6.webp' loading='lazy' decoding='async' alt=`Front Load Washing Washing Machine Service Repair`)
          .contentb  
            .dabba
              ul
                li  
                  h2.ACcontent Front Load Washing Machine Service
                li  
                  h2.ACcontent Front Load Washing Machine Repair
                li  
                  h2.ACcontent Front Load Washing Machine Installation
                li  
                  h2.ACcontent Front Load Washing Machine Uninstallation etc.







      section.cities-Available
        .heading-cities-Available Our Services -:
        table.tbl
          tr.tblr
            td.tbltd
              |Washing Machine Service Center
            td.tbltd
              |Washing Machine Service Repair
            td.tbltd
              |Washing Machine Repair
          tr.tblr
            td.tbltd
              |Washing Machine Service
            td.tbltd
              |Fully Automatic Washing Machine Service
            td.tbltd
              |Semi Automatic Washing Machine Service
          tr.tblr
            td.tbltd
              |Top Load Washing Machine Service
            td.tbltd
              |Front Load Washing Machine Service
            td.tbltd
              |Fully Automatic Washing Machine Repair
          tr.tblr
            td.tbltd
              |Semi Automatic Washing Machine Repair
            td.tbltd
              |Top Load Washing Machine Repair
            td.tbltd
              |Front Load Washing Machine Repair
          tr.tblr
            td.tbltd
              |Fully Automatic Washing Machine Service Center
            td.tbltd
              |Semi Automatic Washing Machine Service Center
            td.tbltd
              |Top Load Washing Machine Service Center
          tr.tblr
            td.tbltd
              |Front Load Washing Machine Service Center
            td.tbltd
              |Washing Machine installation
            td.tbltd
              |Washing Machine uninstallation
          tr.tblr
            td.tbltd
              |Fully Automatic Washing Machine installation
            td.tbltd
              |Fully Automatic Washing Machine uninstallation
            td.tbltd
              |Semi Automatic Washing Machine installation
          tr.tblr
            td.tbltd
              |Semi Automatic Washing Machine uninstallation
            td.tbltd
              |Top Load Washing Machine installation
            td.tbltd
              |Top Load Washing Machine uninstallation
          tr.tblr
            td.tbltd
              |Front Load Washing Machine installation
            td.tbltd
              |Front Load Washing Machine uninstallation
            td.tbltd
              |Best Washing Machine Repair Service
          tr.tblr
            td.tbltd
              |Washing Machine Repair Service Reviews
            td.tbltd
              |Washing Machine Repair Shops
            td.tbltd
              |Washing Machine Repair Center
          tr.tblr
            td.tbltd
              |Washing Machine Repair Charges
            td.tbltd
              |Washing Machine Service Center near me
            td.tbltd
              |Washing Machine Repair near me
          tr.tblr
            td.tbltd
              |Fully Automatic Washing Machine Repair near me
            td.tbltd
              |Semi Automatic Washing Machine Repair near me
            td.tbltd
              |Top Load Washing Machine Repair near me
          tr.tblr
            td.tbltd
              |Front Load Washing Machine Repair near me
            td.tbltd
              |Washing Machine Service near me
            td.tbltd
              |Fully Automatic Washing Machine Service near me
          tr.tblr
            td.tbltd
              |Semi Automatic Washing Machine Service near me
            td.tbltd
              |Top Load Washing Machine Service near me
            td.tbltd
              |Front Load Washing Machine Service near me
          tr.tblr
            td.tbltd
              |Fully Automatic Washing Machine Service Center near me
            td.tbltd
              |Semi Automatic Washing Machine Service Center near me
            td.tbltd
              |Top Load Washing Machine Service Center near me
          tr.tblr
            td.tbltd
              |Front Load Washing Machine Service Center near me
            td.tbltd
              |Washing Machine installation near me
            td.tbltd
              |Washing Machine uninstallation near me
          tr.tblr
            td.tbltd
              |Fully Automatic Washing Machine installation near me
            td.tbltd
              |Fully Automatic Washing Machine uninstallation near me
            td.tbltd
              |Semi Automatic Washing Machine installation near me
          tr.tblr
            td.tbltd
              |Semi Automatic Washing Machine uninstallation near me
            td.tbltd
              |Top Load Washing Machine installation near me
            td.tbltd
              |Top Load Washing Machine uninstallation near me
          tr.tblr
            td.tbltd
              |Front Load Washing Machine installation near me
            td.tbltd
              |Front Load Washing Machine uninstallation near me
            td.tbltd
              |Best Washing Machine Repair Service near me
          tr.tblr
            td.tbltd
              |Washing Machine Repair Service Reviews near me
            td.tbltd
              |Washing Machine Repair Center near me
            td.tbltd
              |Washing Machine Repair Shops near me
          tr.tblr
            td.tbltd
              |Washing Machine Service Repair near me
            td.tbltd
              |Washing Machine Repair Charges near me
            td.tbltd
              |Washing Machine customer care number
          tr.tblr
            td.tbltd
              |Washing Machine customer care number near me
           
           














      article
        .heading-all-about All About Washing Machine Service and Repair
        .content-all-about
          p
            | Maintenance and care of your equipment is important for its healthy functioning and longevity. But nowadays, with such busy schedules, finding the right experts can be both difficult and expensive. Look no further! Service Repair India is here to provide you with the best service professionals who are well-trained and have years of experience. Say goodbye to the hassle of visiting the washing machine service center. We provide washing machine service repairs at your home and at your desired time slot. Our experts will take care of everything, whether it's servicing, repairing, or any other kind of assistance. With Service Repair India, you can now get the best service possible for your washing machine, without any hassle and at the comfort of your home. So why wait? Avail our services today and enjoy a hassle-free experience!





      article     
        .heading-all-about Our Washing Machine Services
        .content-all-about
          p
            | Since established in 2004, our Washing Machine services have consistently surpassed expectations, setting the standard for excellence. At Service Repair India, we are dedicated to providing expert washing machine services that guarantee seamless operation of your appliance. From routine maintenance and repairs to efficient installations, our technicians are proficient in handling all the models. We provide accurate diagnosis and high-quality repairs using genuine parts. What sets us apart in the industry is our dedication to customer satisfaction - offering prompt service, transparent pricing, and flexible scheduling to meet your needs. Our attention to detail and commitment to providing reliable results make us the best choice for washing machine services. Trust us to keep your washing machine running smoothly and effectively, allowing you to enjoy hassle-free laundry days.





      section.all-about
        .how-it-works How it works?
        .content-all-about
          p
            | Looking for the best professionals to fix your washing machine quickly and conveniently? Look no further! Just give us a call, and tell us what type of washing machine you have, the issue you're facing, your location, and your preferred time. That's all we need! Our team will send a skilled washig machine professional right to your doorstep at your requested time and location so that you can get back to your day-to-day routine as soon as possible.
        .reason-why-Us
          .Sub-reason-why-Us.padding-Left.padding-left-
            .reason
              .reason-Img.br58
                img(src='/static/img/call-us.webp' loading='lazy' id="call-heading" decoding='async' alt='Call us')
              .reason-content.normal-font Call us
            .reason.padding-Left
              .reason-Img.br58
                img(src='/static/img/service.webp' loading='lazy' decoding='async' alt='Tell us the service you require')
              .reason-content.normal-font Tell us the service you require
          .Sub-reason-why-Us
            .reason
              .reason-Img.br58
                img(src='/static/img/time-slot.webp' loading='lazy' decoding='async' alt='Select your desirable time-slot')
              .reason-content.normal-font Select your desirable time-slot
            .reason.hassle-free
              .reason-Img.large-Img.br58
                img(src='/static/img/hassle-free.webp' loading='lazy' decoding='async' alt='Hassle free service')
              .reason-content.normal-font Hassle free service


      article     
        .content-all-about
          p.extra-content-heading
            | Servicing and repairing your Washing Machine provides several benefits:
          ul.extra-content-ul
            li.extra-content-li
              strong.grey
               |Improved Performance: 
              |By performing regular maintenance on your washing machine, you can ensure that it operates with optimal efficiency, and that your clothes come out cleaner and fresher in a shorter amount of time. Don't wait until your machine breaks down - take action now to keep it running smoothly!
            li.extra-content-li
              strong.grey 
                |Prevent Breakdowns: 
              |Don't let small issues turn into major problems. Regular maintenance is the key to avoid unexpected breakdowns. Stay ahead of the game and keep your equipment running smoothly with routine servicing.
            li.extra-content-li
              strong.grey 
                |Extended Lifespan: 
              |Do you know that taking good care of your washing machine and getting timely repairs can significantly increase its lifespan? This can save you from the hassle of replacing it prematurely and can also help you save a considerable amount of money in the long run. So, make sure you prioritize the maintenance of your washing machine and get it repaired as soon as you notice any issues.
            li.extra-content-li
              strong.grey 
                |Energy Efficiency: 
              |By ensuring that your washing machine is well-maintained, you can make a significant impact on both your utility bills and the environment. Not only will you consume less energy, but you'll also be doing your part to reduce your carbon footprint. So take the necessary steps to maintain your washing machine, and enjoy the benefits of a cleaner planet and lower bills.
            li.extra-content-li
              strong.grey 
                |Water Savings: 
              |Did you know that regular maintenance of your washing machine can help conserve water and save you money? By identifying leaks or inefficiencies in your machine's water usage, you can prevent wastage and potentially cut down on your water bills. Don't let your washing machine run out of control, take action now to save both water and money!
            li.extra-content-li
              strong.grey 
                |Safety: 
              |By ensuring that every component is in excellent working condition, you can effectively prevent potential safety hazards such as electrical problems or water leakage. Don't take any risks and make sure your equipment is properly maintained.
            li.extra-content-li
              strong.grey 
                |Warranty Compliance: 
              |Ensuring that your washing machine runs smoothly and efficiently is essential in maintaining its longevity. Regular servicing and repairs are necessary to keep your washing machine in top-notch condition. By doing this, you'll not only extend its lifespan but also maintain its warranty coverage, allowing you to take advantage of any manufacturer guarantees that comes with your washing machine.




      article     
        .content-all-about-2
          p.heading-about-Us
            | About Us
          ul.extra-content-ul
            li.extra-content-li
              |Service Repair India is the ultimate solution for all your electronic home appliance repair and service needs. We are a prominent service provider company, catering to customers all over India. We specialize in repairing and servicing all kinds of washing machines. For example - Fully Automatic Washing Machine, Semi Automatic Washing Machine, Top Load Washing Machine, Front Load Washing Machine etc. Our services are available for all the top brands, including Onida, White Westinghouse, Godrej, Philips, Electrolux, Sanyo, Carrier, Haier, Hitachi, Daikin, Sony, Sharp, IFB, Sansui, Samsung, and many more.
            li.extra-content-li
              |Our team comprises of highly qualified and experienced field engineers, who are backed by efficient coordination executives. They are always ready to serve you promptly. Our mobile unit of service technicians is equipped with the latest diagnostic and repair tools, and well-trained to provide the best on-site services. They are always well-dressed and adhere to the highest professional standards. In addition, our service centers and customer service representatives provide reliable support, ensuring that your service requests are responded to within 24 hours.
            li.extra-content-li
              |We take pride in providing prompt and reliable services to our customers. Our technicians are well-trained to service all brands of electric home appliances, irrespective of their age or condition. They are equipped with the appropriate tools, skills, and expertise to give you the best possible service every time. Our ultimate goal is to exceed our customers' expectations in the appliance repair industry.
            li.extra-content-li
              |In these tough economic times, we understand the value of your time and money. Therefore, we work with you to schedule a service that is quick and convenient for you. Once your service is scheduled, we ensure that our technicians arrive at your doorstep on time and ready to work. You can count on us to provide you with an unparalleled service experience that you will never forget.
            li.extra-content-li
              |At our company, we value your feedback and take it seriously. We conduct customer satisfaction surveys to ensure that we continuously improve our services. We believe in our responsibility to not only repair your appliance but also educate you on how to maximize its performance while keeping our planet in mind. By doing this, we help you save on power and repair costs while also reducing the environmental impact.      






      section.cities-Available
        .heading-cities-Available Cities We Serve -:
        table.tbl
          tr.tblr
            td.tbltd
              a(href='/WashingMachine-Service-Center/Agra') Washing Machine Service Center in Agra
            td.tbltd
              a(href='/WashingMachine-Service-Center/Ahmedabad') Washing Machine Service Center in Ahmedabad
            td.tbltd
              a(href='/WashingMachine-Service-Center/Ahmednagar') Washing Machine Service Center in Ahmednagar
          tr.tblr
            td.tbltd
              a(href='/WashingMachine-Service-Center/Ajmer') Washing Machine Service Center in Ajmer
            td.tbltd
              a(href='/WashingMachine-Service-Center/Akola') Washing Machine Service Center in Akola
            td.tbltd
              a(href='/WashingMachine-Service-Center/Allahabad') Washing Machine Service Center in Allahabad
          tr.tblr
            td.tbltd
              a(href='/WashingMachine-Service-Center/Alwar') Washing Machine Service Center in Alwar
            td.tbltd
              a(href='/WashingMachine-Service-Center/Amritsar') Washing Machine Service Center in Amritsar
            td.tbltd
              a(href='/WashingMachine-Service-Center/Asansol') Washing Machine Service Center in Asansol
          tr.tblr
            td.tbltd
              a(href='/WashingMachine-Service-Center/Banaras') Washing Machine Service Center in Banaras
            td.tbltd
              a(href='/WashingMachine-Service-Center/Bangalore') Washing Machine Service Center in Bangalore
            td.tbltd
              a(href='/WashingMachine-Service-Center/Belgaum') Washing Machine Service Center in Belgaum
          tr.tblr
            td.tbltd
              a(href='/WashingMachine-Service-Center/Bengaluru') Washing Machine Service Center in Bengaluru
            td.tbltd
              a(href='/WashingMachine-Service-Center/Bharuch') Washing Machine Service Center in Bharuch
            td.tbltd
              a(href='/WashingMachine-Service-Center/Bhilai') Washing Machine Service Center in Bhilai
          tr.tblr
            td.tbltd
              a(href='/WashingMachine-Service-Center/Bhopal') Washing Machine Service Center in Bhopal
            td.tbltd
              a(href='/WashingMachine-Service-Center/Bhubaneswar') Washing Machine Service Center in Bhubaneswar
            td.tbltd
              a(href='/WashingMachine-Service-Center/Bikaner') Washing Machine Service Center in Bikaner
          tr.tblr
            td.tbltd
              a(href='/WashingMachine-Service-Center/Bilaspur') Washing Machine Service Center in Bilaspur
            td.tbltd
              a(href='/WashingMachine-Service-Center/Calicut') Washing Machine Service Center in Calicut
            td.tbltd
              a(href='/WashingMachine-Service-Center/Chandigarh') Washing Machine Service Center in Chandigarh
          tr.tblr
            td.tbltd
              a(href='/WashingMachine-Service-Center/Chhattisgarh') Washing Machine Service Center in Chhattisgarh
            td.tbltd
              a(href='/WashingMachine-Service-Center/Chennai') Washing Machine Service Center in Chennai
            td.tbltd
              a(href='/WashingMachine-Service-Center/Coimbatore') Washing Machine Service Center in Coimbatore
          tr.tblr
            td.tbltd
              a(href='/WashingMachine-Service-Center/Cuttack') Washing Machine Service Center in Cuttack
            td.tbltd
              a(href='/WashingMachine-Service-Center/Darjeeling') Washing Machine Service Center in Darjeeling
            td.tbltd
              a(href='/WashingMachine-Service-Center/Dehradun') Washing Machine Service Center in Dehradun
          tr.tblr
            td.tbltd
              a(href='/WashingMachine-Service-Center/Delhi') Washing Machine Service Center in Delhi
            td.tbltd
              a(href='/WashingMachine-Service-Center/Dhanbad') Washing Machine Service Center in Dhanbad
            td.tbltd
              a(href='/WashingMachine-Service-Center/Ernakulam') Washing Machine Service Center in Ernakulam
          tr.tblr
            td.tbltd
              a(href='/WashingMachine-Service-Center/Faridabad') Washing Machine Service Center in Faridabad
            td.tbltd
              a(href='/WashingMachine-Service-Center/Gandhinagar') Washing Machine Service Center in Gandhinagar
            td.tbltd
              a(href='/WashingMachine-Service-Center/Ghaziabad') Washing Machine Service Center in Ghaziabad
          tr.tblr
            td.tbltd
              a(href='/WashingMachine-Service-Center/Goa') Washing Machine Service Center in Goa
            td.tbltd
              a(href='/WashingMachine-Service-Center/GreaterNoida') Washing Machine Service Center in Greater Noida
            td.tbltd
              a(href='/WashingMachine-Service-Center/Gurgaon') Washing Machine Service Center in Gurgaon
          tr.tblr
            td.tbltd
              a(href='/WashingMachine-Service-Center/Gurugram') Washing Machine Service Center in Gurugram
            td.tbltd
              a(href='/WashingMachine-Service-Center/Guwahati') Washing Machine Service Center in Guwahati
            td.tbltd
              a(href='/WashingMachine-Service-Center/Gwalior') Washing Machine Service Center in Gwalior
          tr.tblr
            td.tbltd
              a(href='/WashingMachine-Service-Center/Hisar') Washing Machine Service Center in Hisar
            td.tbltd
              a(href='/WashingMachine-Service-Center/Hubli') Washing Machine Service Center in Hubli
            td.tbltd
              a(href='/WashingMachine-Service-Center/Hyderabad') Washing Machine Service Center in Hyderabad
          tr.tblr
            td.tbltd
              a(href='/WashingMachine-Service-Center/Indore') Washing Machine Service Center in Indore
            td.tbltd
              a(href='/WashingMachine-Service-Center/Jabalpur') Washing Machine Service Center in Jabalpur
            td.tbltd
              a(href='/WashingMachine-Service-Center/Jaipur') Washing Machine Service Center in Jaipur
          tr.tblr
            td.tbltd
              a(href='/WashingMachine-Service-Center/Jalandhar') Washing Machine Service Center in Jalandhar
            td.tbltd
              a(href='/WashingMachine-Service-Center/Jammu') Washing Machine Service Center in Jammu
            td.tbltd
              a(href='/WashingMachine-Service-Center/Jamnagar') Washing Machine Service Center in Jamnagar
          tr.tblr
            td.tbltd
              a(href='/WashingMachine-Service-Center/Jamshedpur') Washing Machine Service Center in Jamshedpur
            td.tbltd
              a(href='/WashingMachine-Service-Center/Jhansi') Washing Machine Service Center in Jhansi
            td.tbltd
              a(href='/WashingMachine-Service-Center/Jodhpur') Washing Machine Service Center in Jodhpur
          tr.tblr
            td.tbltd
              a(href='/WashingMachine-Service-Center/Kanpur') Washing Machine Service Center in Kanpur
            td.tbltd
              a(href='/WashingMachine-Service-Center/Kharagpur') Washing Machine Service Center in Kharagpur
            td.tbltd
              a(href='/WashingMachine-Service-Center/Kochi') Washing Machine Service Center in Kochi
          tr.tblr
            td.tbltd
              a(href='/WashingMachine-Service-Center/Kolhapur') Washing Machine Service Center in Kolhapur
            td.tbltd
              a(href='/WashingMachine-Service-Center/Kolkata') Washing Machine Service Center in Kolkata
            td.tbltd
              a(href='/WashingMachine-Service-Center/Kota') Washing Machine Service Center in Kota
          tr.tblr
            td.tbltd
              a(href='/WashingMachine-Service-Center/Kottayam') Washing Machine Service Center in Kottayam
            td.tbltd
              a(href='/WashingMachine-Service-Center/Kozhikode') Washing Machine Service Center in Kozhikode
            td.tbltd
              a(href='/WashingMachine-Service-Center/Lucknow') Washing Machine Service Center in Lucknow
          tr.tblr
            td.tbltd
              a(href='/WashingMachine-Service-Center/Ludhiana') Washing Machine Service Center in Ludhiana
            td.tbltd
              a(href='/WashingMachine-Service-Center/Madurai') Washing Machine Service Center in Madurai
            td.tbltd
              a(href='/WashingMachine-Service-Center/Manali') Washing Machine Service Center in Manali
          tr.tblr
            td.tbltd
              a(href='/WashingMachine-Service-Center/Mangalore') Washing Machine Service Center in Mangalore
            td.tbltd
              a(href='/WashingMachine-Service-Center/Mathura') Washing Machine Service Center in Mathura
            td.tbltd
              a(href='/WashingMachine-Service-Center/Meerut') Washing Machine Service Center in Meerut
          tr.tblr
            td.tbltd
              a(href='/WashingMachine-Service-Center/Mohali') Washing Machine Service Center in Mohali
            td.tbltd
              a(href='/WashingMachine-Service-Center/Moradabad') Washing Machine Service Center in Moradabad
            td.tbltd
              a(href='/WashingMachine-Service-Center/Mumbai') Washing Machine Service Center in Mumbai
          tr.tblr
            td.tbltd
              a(href='/WashingMachine-Service-Center/Mysore') Washing Machine Service Center in Mysore
            td.tbltd
              a(href='/WashingMachine-Service-Center/Nagpur') Washing Machine Service Center in Nagpur
            td.tbltd
              a(href='/WashingMachine-Service-Center/Nainital') Washing Machine Service Center in Nainital
          tr.tblr
            td.tbltd
              a(href='/WashingMachine-Service-Center/Nashik') Washing Machine Service Center in Nashik
            td.tbltd
              a(href='/WashingMachine-Service-Center/NaviMumbai') Washing Machine Service Center in Navi Mumbai
            td.tbltd
              a(href='/WashingMachine-Service-Center/Noida') Washing Machine Service Center in Noida
          tr.tblr
            td.tbltd
              a(href='/WashingMachine-Service-Center/Patna') Washing Machine Service Center in Patna
            td.tbltd
              a(href='/WashingMachine-Service-Center/Pondicherry') Washing Machine Service Center in Pondicherry
            td.tbltd
              a(href='/WashingMachine-Service-Center/Prayagraj') Washing Machine Service Center in Prayagraj
          tr.tblr
            td.tbltd
              a(href='/WashingMachine-Service-Center/Pune') Washing Machine Service Center in Pune
            td.tbltd
              a(href='/WashingMachine-Service-Center/Raigarh') Washing Machine Service Center in Raigarh
            td.tbltd
              a(href='/WashingMachine-Service-Center/Raipur') Washing Machine Service Center in Raipur
          tr.tblr
            td.tbltd
              a(href='/WashingMachine-Service-Center/Rajkot') Washing Machine Service Center in Rajkot
            td.tbltd
              a(href='/WashingMachine-Service-Center/Ranchi') Washing Machine Service Center in Ranchi
            td.tbltd
              a(href='/WashingMachine-Service-Center/Ratlam') Washing Machine Service Center in Ratlam
          tr.tblr
            td.tbltd
              a(href='/WashingMachine-Service-Center/Satara') Washing Machine Service Center in Satara
            td.tbltd
              a(href='/WashingMachine-Service-Center/Secunderabad') Washing Machine Service Center in Secunderabad
            td.tbltd
              a(href='/WashingMachine-Service-Center/Shimla') Washing Machine Service Center in Shimla
          tr.tblr
            td.tbltd
              a(href='/WashingMachine-Service-Center/Srinagar') Washing Machine Service Center in Srinagar
            td.tbltd
              a(href='/WashingMachine-Service-Center/Surat') Washing Machine Service Center in Surat
            td.tbltd
              a(href='/WashingMachine-Service-Center/Thiruvananthapuram') Washing Machine Service Center in Thiruvananthapuram
          tr.tblr
            td.tbltd
              a(href='/WashingMachine-Service-Center/Thrissur') Washing Machine Service Center in Thrissur
            td.tbltd
              a(href='/WashingMachine-Service-Center/Tiruchirappalli') Washing Machine Service Center in Tiruchirappalli
            td.tbltd
              a(href='/WashingMachine-Service-Center/Trichy') Washing Machine Service Center in Trichy
          tr.tblr
            td.tbltd
              a(href='/WashingMachine-Service-Center/Trivandrum') Washing Machine Service Center in Trivandrum
            td.tbltd
              a(href='/WashingMachine-Service-Center/Udaipur') Washing Machine Service Center in Udaipur
            td.tbltd
              a(href='/WashingMachine-Service-Center/Ujjain') Washing Machine Service Center in Ujjain
          tr.tblr
            td.tbltd
              a(href='/WashingMachine-Service-Center/Vadodara') Washing Machine Service Center in Vadodara
            td.tbltd
              a(href='/WashingMachine-Service-Center/Varanasi') Washing Machine Service Center in Varanasi
            td.tbltd
              a(href='/WashingMachine-Service-Center/Vellore') Washing Machine Service Center in Vellore
          tr.tblr
            td.tbltd
              a(href='/WashingMachine-Service-Center/Vijayawada') Washing Machine Service Center in Vijayawada
            td.tbltd
              a(href='/WashingMachine-Service-Center/Visakhapatnam') Washing Machine Service Center in Visakhapatnam
            




      //- section.cities-Available
      //-   .heading-cities-Available Cities We Serve -:
      //-   .container
      //-     a.yy(href='/WashingMachine-Service-Center/Agra') Agra
      //-     a.yy(href='/WashingMachine-Service-Center/Ahmedabad') Ahmedabad
      //-     a.yy(href='/WashingMachine-Service-Center/Ahmednagar') Ahmednagar
      //-     a.yy(href='/WashingMachine-Service-Center/Ajmer') Ajmer
      //-     a.yy(href='/WashingMachine-Service-Center/Akola') Akola
      //-     a.yy(href='/WashingMachine-Service-Center/Allahabad') Allahabad
      //-     a.yy(href='/WashingMachine-Service-Center/Alwar') Alwar
      //-     a.yy(href='/WashingMachine-Service-Center/Amritsar') Amritsar
      //-     a.yy(href='/WashingMachine-Service-Center/Asansol') Asansol
      //-     a.yy(href='/WashingMachine-Service-Center/Banaras') Banaras
      //-     a.yy(href='/WashingMachine-Service-Center/Bangalore') Bangalore
      //-     a.yy(href='/WashingMachine-Service-Center/Belgaum') Belgaum
      //-     a.yy(href='/WashingMachine-Service-Center/Bengaluru') Bengaluru
      //-     a.yy(href='/WashingMachine-Service-Center/Bharuch') Bharuch
      //-     a.yy(href='/WashingMachine-Service-Center/Bhilai') Bhilai
      //-     a.yy(href='/WashingMachine-Service-Center/Bhopal') Bhopal
      //-     a.yy(href='/WashingMachine-Service-Center/Bhubaneswar') Bhubaneswar
      //-     a.yy(href='/WashingMachine-Service-Center/Bikaner') Bikaner
      //-     a.yy(href='/WashingMachine-Service-Center/Bilaspur') Bilaspur
      //-     a.yy(href='/WashingMachine-Service-Center/Calicut') Calicut
      //-     a.yy(href='/WashingMachine-Service-Center/Chandigarh') Chandigarh
      //-     a.yy(href='/WashingMachine-Service-Center/Chhattisgarh') Chhattisgarh
      //-     a.yy(href='/WashingMachine-Service-Center/Chennai') Chennai
      //-     a.yy(href='/WashingMachine-Service-Center/Coimbatore') Coimbatore
      //-     a.yy(href='/WashingMachine-Service-Center/Cuttack') Cuttack
      //-     a.yy(href='/WashingMachine-Service-Center/Darjeeling') Darjeeling
      //-     a.yy(href='/WashingMachine-Service-Center/Dehradun') Dehradun
      //-     a.yy(href='/WashingMachine-Service-Center/Delhi') Delhi
      //-     a.yy(href='/WashingMachine-Service-Center/Dhanbad') Dhanbad
      //-     a.yy(href='/WashingMachine-Service-Center/Ernakulam') Ernakulam
      //-     a.yy(href='/WashingMachine-Service-Center/Faridabad') Faridabad
      //-     a.yy(href='/WashingMachine-Service-Center/Gandhinagar') Gandhinagar
      //-     a.yy(href='/WashingMachine-Service-Center/Ghaziabad') Ghaziabad
      //-     a.yy(href='/WashingMachine-Service-Center/Goa') Goa
      //-     a.yy(href='/WashingMachine-Service-Center/GreaterNoida') Greater Noida
      //-     a.yy(href='/WashingMachine-Service-Center/Gurgaon') Gurgaon
      //-     a.yy(href='/WashingMachine-Service-Center/Gurugram') Gurugram
      //-     a.yy(href='/WashingMachine-Service-Center/Guwahati') Guwahati
      //-     a.yy(href='/WashingMachine-Service-Center/Gwalior') Gwalior
      //-     a.yy(href='/WashingMachine-Service-Center/Hisar') Hisar
      //-     a.yy(href='/WashingMachine-Service-Center/Hubli') Hubli
      //-     a.yy(href='/WashingMachine-Service-Center/Hyderabad') Hyderabad
      //-     a.yy(href='/WashingMachine-Service-Center/Indore') Indore
      //-     a.yy(href='/WashingMachine-Service-Center/Jabalpur') Jabalpur
      //-     a.yy(href='/WashingMachine-Service-Center/Jaipur') Jaipur
      //-     a.yy(href='/WashingMachine-Service-Center/Jalandhar') Jalandhar
      //-     a.yy(href='/WashingMachine-Service-Center/Jammu') Jammu
      //-     a.yy(href='/WashingMachine-Service-Center/Jamnagar') Jamnagar
      //-     a.yy(href='/WashingMachine-Service-Center/Jamshedpur') Jamshedpur
      //-     a.yy(href='/WashingMachine-Service-Center/Jhansi') Jhansi
      //-     a.yy(href='/WashingMachine-Service-Center/Jodhpur') Jodhpur
      //-     a.yy(href='/WashingMachine-Service-Center/Kanpur') Kanpur
      //-     a.yy(href='/WashingMachine-Service-Center/Kharagpur') Kharagpur
      //-     a.yy(href='/WashingMachine-Service-Center/Kochi') Kochi
      //-     a.yy(href='/WashingMachine-Service-Center/Kolhapur') Kolhapur
      //-     a.yy(href='/WashingMachine-Service-Center/Kolkata') Kolkata
      //-     a.yy(href='/WashingMachine-Service-Center/Kota') Kota
      //-     a.yy(href='/WashingMachine-Service-Center/Kottayam') Kottayam
      //-     a.yy(href='/WashingMachine-Service-Center/Kozhikode') Kozhikode
      //-     a.yy(href='/WashingMachine-Service-Center/Lucknow') Lucknow
      //-     a.yy(href='/WashingMachine-Service-Center/Ludhiana') Ludhiana
      //-     a.yy(href='/WashingMachine-Service-Center/Madurai') Madurai
      //-     a.yy(href='/WashingMachine-Service-Center/Manali') Manali
      //-     a.yy(href='/WashingMachine-Service-Center/Mangalore') Mangalore
      //-     a.yy(href='/WashingMachine-Service-Center/Mathura') Mathura
      //-     a.yy(href='/WashingMachine-Service-Center/Meerut') Meerut
      //-     a.yy(href='/WashingMachine-Service-Center/Mohali') Mohali
      //-     a.yy(href='/WashingMachine-Service-Center/Moradabad') Moradabad
      //-     a.yy(href='/WashingMachine-Service-Center/Mumbai') Mumbai
      //-     a.yy(href='/WashingMachine-Service-Center/Mysore') Mysore
      //-     a.yy(href='/WashingMachine-Service-Center/Nagpur') Nagpur
      //-     a.yy(href='/WashingMachine-Service-Center/Nainital') Nainital
      //-     a.yy(href='/WashingMachine-Service-Center/Nashik') Nashik
      //-     a.yy(href='/WashingMachine-Service-Center/NaviMumbai') Navi Mumbai
      //-     a.yy(href='/WashingMachine-Service-Center/Noida') Noida
      //-     a.yy(href='/WashingMachine-Service-Center/Patna') Patna
      //-     a.yy(href='/WashingMachine-Service-Center/Pondicherry') Pondicherry
      //-     a.yy(href='/WashingMachine-Service-Center/Prayagraj') Prayagraj
      //-     a.yy(href='/WashingMachine-Service-Center/Pune') Pune
      //-     a.yy(href='/WashingMachine-Service-Center/Raigarh') Raigarh
      //-     a.yy(href='/WashingMachine-Service-Center/Raipur') Raipur
      //-     a.yy(href='/WashingMachine-Service-Center/Rajkot') Rajkot
      //-     a.yy(href='/WashingMachine-Service-Center/Ranchi') Ranchi
      //-     a.yy(href='/WashingMachine-Service-Center/Ratlam') Ratlam
      //-     a.yy(href='/WashingMachine-Service-Center/Satara') Satara
      //-     a.yy(href='/WashingMachine-Service-Center/Secunderabad') Secunderabad
      //-     a.yy(href='/WashingMachine-Service-Center/Shimla') Shimla
      //-     a.yy(href='/WashingMachine-Service-Center/Srinagar') Srinagar
      //-     a.yy(href='/WashingMachine-Service-Center/Surat') Surat
      //-     a(href='/WashingMachine-Service-Center/Thiruvananthapuram') Thiruvanan-thapuram
      //-     a.yy(href='/WashingMachine-Service-Center/Thrissur') Thrissur
      //-     a(href='/WashingMachine-Service-Center/Tiruchirappalli') Tiruchirappalli
      //-     a.yy(href='/WashingMachine-Service-Center/Trichy') Trichy
      //-     a.yy(href='/WashingMachine-Service-Center/Trivandrum') Trivandrum
      //-     a.yy(href='/WashingMachine-Service-Center/Udaipur') Udaipur
      //-     a.yy(href='/WashingMachine-Service-Center/Ujjain') Ujjain
      //-     a.yy(href='/WashingMachine-Service-Center/Vadodara') Vadodara
      //-     a.yy(href='/WashingMachine-Service-Center/Varanasi') Varanasi
      //-     a.yy(href='/WashingMachine-Service-Center/Vellore') Vellore
      //-     a.yy(href='/WashingMachine-Service-Center/Vijayawada') Vijayawada
      //-     a.yy(href='/WashingMachine-Service-Center/Visakhapatnam') Visakhapatnam






      section.cities-Available.brands-Available
        .heading-cities-Available Brands We Support -:
        table.tbl
          tr.tblr
            td.tbltd
              a(href=`/Actron-WashingMachine-Service-Center`) Actron Washing Machine Service Center
            td.tbltd
              a(href=`/BlueStar-WashingMachine-Service-Center`) Blue Star Washing Machine Service Center
            td.tbltd
              a(href=`/Bosch-WashingMachine-Service-Center`) Bosch Washing Machine Service Center
            
          tr.tblr
            td.tbltd
              a(href=`/BPL-WashingMachine-Service-Center`) BPL Washing Machine Service Center
            td.tbltd
              a(href=`/Carrier-WashingMachine-Service-Center`) Carrier Washing Machine Service Center
            td.tbltd
              a(href=`/Croma-WashingMachine-Service-Center`) Croma Washing Machine Service Center
          tr.tblr
            td.tbltd
              a(href=`/Daikin-WashingMachine-Service-Center`) Daikin Washing Machine Service Center
            td.tbltd
              a(href=`/Electrolux-WashingMachine-Service-Center`) Electrolux Washing Machine Service Center
            td.tbltd
              a(href=`/Fujitsu-WashingMachine-Service-Center`) Fujitsu Washing Machine Service Center
          tr.tblr
            td.tbltd
              a(href=`/GE-WashingMachine-Service-Center`) GE Washing Machine Service Center
            td.tbltd
              a(href=`/GEM-WashingMachine-Service-Center`) GEM Washing Machine Service Center
            td.tbltd
              a(href=`/Godrej-WashingMachine-Service-Center`) Godrej Washing Machine Service Center
          tr.tblr
            td.tbltd
              a(href=`/Haier-WashingMachine-Service-Center`) Haier Washing Machine Service Center
            td.tbltd
              a(href=`/Hitachi-WashingMachine-Service-Center`) Hitachi Washing Machine Service Center
            td.tbltd
              a(href=`/Hyundai-WashingMachine-Service-Center`) Hyundai Washing Machine Service Center
          tr.tblr
            td.tbltd
              a(href=`/IFB-WashingMachine-Service-Center`) IFB Washing Machine Service Center
            td.tbltd
              a(href=`/Kelvinator-WashingMachine-Service-Center`) Kelvinator Washing Machine Service Center
            td.tbltd
              a(href=`/Kenstar-WashingMachine-Service-Center`) Kenstar Washing Machine Service Center
          tr.tblr
            td.tbltd
              a(href=`/Koryo-WashingMachine-Service-Center`) Koryo Washing Machine Service Center
            td.tbltd
              a(href=`/LG-WashingMachine-Service-Center`) LG Washing Machine Service Center
            td.tbltd
              a(href=`/Lloyd-WashingMachine-Service-Center`) Lloyd Washing Machine Service Center
          tr.tblr
            td.tbltd
              a(href=`/Midea-WashingMachine-Service-Center`) Midea Washing Machine Service Center
            td.tbltd
              a(href=`/Mitashi-WashingMachine-Service-Center`) Mitashi Washing Machine Service Center
            td.tbltd
              a(href=`/Mitsubishi-WashingMachine-Service-Center`) Mitsubishi Washing Machine Service Center
          tr.tblr
            td.tbltd
              a(href=`/Napoleon-WashingMachine-Service-Center`) Napoleon Washing Machine Service Center
            td.tbltd
              a(href=`/OGeneral-WashingMachine-Service-Center`) O General Washing Machine Service Center
            td.tbltd
              a(href=`/Onida-WashingMachine-Service-Center`) Onida Washing Machine Service Center
          tr.tblr
            td.tbltd
              a(href=`/Panasonic-WashingMachine-Service-Center`) Panasonic Washing Machine Service Center
            td.tbltd
              a(href=`/Philips-WashingMachine-Service-Center`) Philips Washing Machine Service Center
            td.tbltd
              a(href=`/Samsung-WashingMachine-Service-Center`) Samsung Washing Machine Service Center
          tr.tblr
            td.tbltd
              a(href=`/Sansui-WashingMachine-Service-Center`) Sansui Washing Machine Service Center
            td.tbltd
              a(href=`/Sanyo-WashingMachine-Service-Center`) Sanyo Washing Machine Service Center
            td.tbltd
              a(href=`/Sharp-WashingMachine-Service-Center`) Sharp Washing Machine Service Center
          tr.tblr
            td.tbltd
              a(href=`/Siemens-WashingMachine-Service-Center`) Siemens Washing Machine Service Center
            td.tbltd
              a(href=`/Sony-WashingMachine-Service-Center`) Sony Washing Machine Service Center
            td.tbltd
              a(href=`/TCL-WashingMachine-Service-Center`) TCL Washing Machine Service Center
          tr.tblr
            td.tbltd
              a(href=`/Thomson-WashingMachine-Service-Center`) Thomson Washing Machine Service Center
            td.tbltd
              a(href=`/Toshiba-WashingMachine-Service-Center`) Toshiba Washing Machine Service Center
            td.tbltd
              a(href=`/Vestar-WashingMachine-Service-Center`) Vestar Washing Machine Service Center
          tr.tblr
            td.tbltd
              a(href=`/Videocon-WashingMachine-Service-Center`) Videocon Washing Machine Service Center
            td.tbltd
              a(href=`/Voltas-WashingMachine-Service-Center`) Voltas Washing Machine Service Center
            td.tbltd
              a(href=`/Weston-WashingMachine-Service-Center`) Weston Washing Machine Service Center
          tr.tblr
            td.tbltd
              a(href=`/Whirlpool-WashingMachine-Service-Center`) Whirlpool Washing Machine Service Center
            td.tbltd
              a(href=`/WhiteWestinghouse-WashingMachine-Service-Center`) White Westinghouse Washing Machine Service Center





      //- section.cities-Available.brands-Available
      //-   .heading-cities-Available Brands We Support -:
      //-   .container.brand-Container
      //-     a.yy(href=`/Actron-WashingMachine-Service-Center`) Actron
      //-     a.yy(href=`/BlueStar-WashingMachine-Service-Center`) Blue Star
      //-     a.yy(href=`/Bosch-WashingMachine-Service-Center`) Bosch
      //-     a.yy(href=`/BPL-WashingMachine-Service-Center`) BPL
      //-     a.yy(href=`/Carrier-WashingMachine-Service-Center`) Carrier
      //-     a.yy(href=`/Croma-WashingMachine-Service-Center`) Croma
      //-     a.yy(href=`/Daikin-WashingMachine-Service-Center`) Daikin
      //-     a.yy(href=`/Electrolux-WashingMachine-Service-Center`) Electrolux
      //-     a.yy(href=`/Fujitsu-WashingMachine-Service-Center`) Fujitsu
      //-     a.yy(href=`/GE-WashingMachine-Service-Center`) GE
      //-     a.yy(href=`/GEM-WashingMachine-Service-Center`) GEM
      //-     a.yy(href=`/Godrej-WashingMachine-Service-Center`) Godrej
      //-     a.yy(href=`/Haier-WashingMachine-Service-Center`) Haier
      //-     a.yy(href=`/Hitachi-WashingMachine-Service-Center`) Hitachi
      //-     a.yy(href=`/Hyundai-WashingMachine-Service-Center`) Hyundai
      //-     a.yy(href=`/IFB-WashingMachine-Service-Center`) IFB
      //-     a.yy(href=`/Kelvinator-WashingMachine-Service-Center`) Kelvinator
      //-     a.yy(href=`/Kenstar-WashingMachine-Service-Center`) Kenstar
      //-     a.yy(href=`/Koryo-WashingMachine-Service-Center`) Koryo
      //-     a.yy(href=`/LG-WashingMachine-Service-Center`) LG
      //-     a.yy(href=`/Lloyd-WashingMachine-Service-Center`) Lloyd
      //-     a.yy(href=`/Midea-WashingMachine-Service-Center`) Midea
      //-     a.yy(href=`/Mitashi-WashingMachine-Service-Center`) Mitashi
      //-     a.yy(href=`/Mitsubishi-WashingMachine-Service-Center`) Mitsubishi
      //-     a.yy(href=`/Napoleon-WashingMachine-Service-Center`) Napoleon
      //-     a.yy(href=`/OGeneral-WashingMachine-Service-Center`) O General
      //-     a.yy(href=`/Onida-WashingMachine-Service-Center`) Onida
      //-     a.yy(href=`/Panasonic-WashingMachine-Service-Center`) Panasonic
      //-     a.yy(href=`/Philips-WashingMachine-Service-Center`) Philips
      //-     a.yy(href=`/Samsung-WashingMachine-Service-Center`) Samsung
      //-     a.yy(href=`/Sansui-WashingMachine-Service-Center`) Sansui
      //-     a.yy(href=`/Sanyo-WashingMachine-Service-Center`) Sanyo
      //-     a.yy(href=`/Sharp-WashingMachine-Service-Center`) Sharp
      //-     a.yy(href=`/Siemens-WashingMachine-Service-Center`) Siemens
      //-     a.yy(href=`/Sony-WashingMachine-Service-Center`) Sony
      //-     a.yy(href=`/TCL-WashingMachine-Service-Center`) TCL
      //-     a.yy(href=`/Thomson-WashingMachine-Service-Center`) Thomson
      //-     a.yy(href=`/Toshiba-WashingMachine-Service-Center`) Toshiba
      //-     a.yy(href=`/Vestar-WashingMachine-Service-Center`) Vestar
      //-     a.yy(href=`/Videocon-WashingMachine-Service-Center`) Videocon
      //-     a.yy(href=`/Voltas-WashingMachine-Service-Center`) Voltas
      //-     a.yy(href=`/Weston-WashingMachine-Service-Center`) Weston
      //-     a.yy(href=`/Whirlpool-WashingMachine-Service-Center`) Whirlpool
      //-     a(href=`/WhiteWestinghouse-WashingMachine-Service-Center`) White Westinghouse





    
    section.why-Us
      .heading-why-Us  Why Choose Us? 
      .reason-why-Us
        .Sub-reason-why-Us.padding-Left
          .reason
            .reason-Img
              img(src='/static/img/why-Us-1.webp' loading='lazy' decoding='async' alt='Cost-Effective')
            .reason-content Cost-Effective
          .reason.padding-Left
            .reason-Img
              img(src='/static/img/why-Us-2.webp' loading='lazy' decoding='async' alt='Experienced Technicians')
            .reason-content Experienced Technicians
        .Sub-reason-why-Us
          .reason
            .reason-Img
              img(src='/static/img/why-Us-3.webp' loading='lazy' decoding='async' alt='Punctuality')
            .reason-content Punctuality
          .reason
            .reason-Img.large-Img
              img(src='/static/img/why-Us-4.webp' loading='lazy' decoding='async' alt='Quality Work')
            .reason-content Quality Work


    section.review
      .reviews-overview 
        .heading-reviews 
         | Reviews and Ratings
        .bar-reviews 
          .bar-left
            p.five 
              |5  
            p.stars
              i.fas.fa-star(aria-hidden='true')
              i.fas.fa-star(aria-hidden='true')
              i.fas.fa-star(aria-hidden='true')
              i.fas.fa-star(aria-hidden='true')
              i.fas.fa-star(aria-hidden='true')
            p.rating-count
             | 17688 Customer Ratings
          .bar-right
            .progress 
              span.rating-review 
                |5
              i.fas.fa-star.stars2(aria-hidden='true')
              .barr
                .yellow-bar#ninety
                .grey-bar#ten
              span.percent 
                |90%
            .progress 
              span.rating-review 
                |4
              i.fas.fa-star.stars2(aria-hidden='true')
              .barr
                .yellow-bar#six 
                .grey-bar#ninetyfour
              span.percent 
                |6%
            .progress 
              span.rating-review 
                |3
              i.fas.fa-star.stars2(aria-hidden='true')
              .barr
                .yellow-bar#three
                .grey-bar#ninetyseven
              span.percent 
                |3%
            .progress 
              span.rating-review 
                |2
              i.fas.fa-star.stars2(aria-hidden='true')
              .barr
                .yellow-bar#one
                .grey-bar#ninetynine
              span.percent 
                |1%
            .progress 
              span.rating-review#one-review 
                |1
              i.fas.fa-star.stars2(aria-hidden='true')
              .barr
                .yellow-bar 
                .grey-bar#zero
              span.percent 
                |0%
        .given-rating
          .ratingbox
            .ratingstar 
              .bio-text
                p.rating-name 
                  |  Deepak Chopra
                p.rating-product 
                  | Washing Machine 
              .star-count 
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
            .ratingreview
              |I highly recommend the technicians from Service Repair India for fixing any issues with your washing machine. They were able to easily resolve the tub rotation issue I was struggling with.
            span.testimonial
              i.fa-solid.fa-quote-right           
          .ratingbox
            .ratingstar 
              .bio-text
                p.rating-name 
                  | Anant Ahuja
                p.rating-product 
                  | Washing Machine 
              .star-count 
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
            .ratingreview
              |I really appreciate the quick and efficient support provided by Service Repair India. My washing machine is now working perfectly and I couldn't be more satisfied with the service.
            span.testimonial
              i.fa-solid.fa-quote-right
        .given-rating
          .ratingbox
            .ratingstar 
              .bio-text
                p.rating-name 
                  | Tanishka Dutt 
                p.rating-product 
                  | Washing Machine 
              .star-count 
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
            .ratingreview
              |The technicians from Service Repair India were great in understanding the issue with my washing machine. They fixed the issue with the motor very easily.
            span.testimonial
              i.fa-solid.fa-quote-right           
          .ratingbox
            .ratingstar 
              .bio-text
                p.rating-name 
                  | Nithin Pillai 
                p.rating-product 
                  | Washing Machine 
              .star-count 
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
            .ratingreview
              |I was facing leakage problem in my washing machine since few days. I then booked a service online with Service Repair India, and the technicians were excellent. I appreciate their prompt service and support.
            span.testimonial
              i.fa-solid.fa-quote-right
        .given-rating
          .ratingbox
            .ratingstar 
              .bio-text
                p.rating-name 
                  | Komal Agrawal 
                p.rating-product 
                  | Washing Machine 
              .star-count 
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
            .ratingreview
              |The service provided was above my expectations. I am extremely satisfied with the overall experience. If you're ever in need of washing machine services, they're definitely the ones to call!
            span.testimonial
              i.fa-solid.fa-quote-right           
          .ratingbox
            .ratingstar 
              .bio-text
                p.rating-name 
                  | Divisha Shetty 
                p.rating-product 
                  | Washing Machine 
              .star-count 
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
                i.fas.fa-star.stars3(aria-hidden='true')
            .ratingreview
              |I booked a service online for the first time and found Service Repair India. Their service is excellent, and my washing machine is working like new.
            span.testimonial
              i.fa-solid.fa-quote-right





    section.faq
      .heading-reviews.heading-faq 
          |Frequently Asked Questions
      ul.accordian
        li 
          input#15(type='radio' name='accordian')
          label(for='15') 
            h3 Why is my washing machine not turning on?
          .content
            p 
              | If your washing machine is not turning on, there could be various underlying issues, ranging from simple ones such as a disconnected power cord or tripped circuit breaker to complex ones like a faulty door switch or component failure. Don't risk your safety, call us now to diagnose and repair the problem.
        li 
          input#14(type='radio' name='accordian')
          label(for='14') 
            h3 What kind of washing machine services does Service Repair India provide?
          .content
            p 
              | Service Repair India provides a wide range of washing machine services, including repair solutions for motor malfunctions, drainage issues, electrical faults, mechanical failures, and many more. We also provide maintenance packages, installation services, diagnostic tests, and emergency repair services. Trust us to ensure reliable and efficient solutions for all your washing machine needs.
        li 
          input#16(type='radio' name='accordian')
          label(for='16') 
            h3 My washing machine is not spinning. What could be the problem?
          .content
            p 
              | If your washing machine is not spinning, it could be due to issues like a broken belt, faulty motor, or excessive load. It is important to properly address these issues to avoid further damage. Get our professional technician for accurate diagnosis and the right solution. Contact us now to get your washing machine running smoothly again.
        li 
          input#17(type='radio' name='accordian')
          label(for='17') 
            h3 Is it possible for me to fix the blocked drain on my own?
          .content
            p 
              | If you are struggling with a clogged drain in your washing machine, it's essential to seek professional help. Fixing it yourself without proper knowledge can cause further damage. Letting a skilled and experienced professional handle it is a safer and wiser option. So, don't wait any longer. Contact us today to get your washing machine repaired by the best technicians.
        li 
          input#18(type='radio' name='accordian')
          label(for='18') 
            h3 Does Service Repair India provide washing machine PCB repair?
          .content
            p 
              | Yes, Service Repair India provides washing machine PCB repair services from experienced technicians. Get your washing machine running smoothly again with our reliable repair and replacement services. Contact us today!
        li 
          input#19(type='radio' name='accordian')
          label(for='19') 
            h3 Which is the best washing machine repair service center near me?
          .content
            p 
              | When it comes to washing machine repair, there is no better option than Service Repair India. Our highly skilled washing machine technicians have years of experience in this field, making it easy for them to fix any problem with confidence and accuracy. Choose us for the best quality service you deserve.
        li 
          input#20(type='radio' name='accordian')
          label(for='20') 
            h3 What types of washing machines can be repaired by Service Repair India?
          .content
            p 
              | Our team of experts is well-trained and fully equipped to handle all types of washing machines, including fully automatic, semi automatic, top load, and front load washing machines. We can resolve any issue from performance and drainage problems to tub rotation and power failures. Choose us for unmatched expertise and quality service.
        li 
          input#21(type='radio' name='accordian')
          label(for='21') 
            h3 What problems can be fixed by Service Repair India's professionals for washing machine services?
          .content
            p 
              | Service Repair India's technicians for washing machine repair and services can diagnose and fix a wide range of issues like clogged drains, malfunctioning spin cycles, faulty motors, broken belts, and electronic component issues. Our technicians are well-trained to provide effective solutions, ensuring that your washing machine works efficiently. Contact us today and get your washing machine running smoothly again.
        li 
          input#22(type='radio' name='accordian')
          label(for='22') 
            h3 What are the charges for washing machine repair?
          .content
            p 
              | We provide a comprehensive visit to check and repair service at Rs 
              sup
                s.prices
                  | 700
              |  500 (
              span.color-green
                |save 30%
              | ). Our skilled technicians will thoroughly inspect your washing machine for any common issues and provide the necessary repairs. In case any parts are required, additional charges will apply. Trust us to keep your washing machine running smoothly and efficiently.
        li 
          input#23(type='radio' name='accordian')
          label(for='23') 
            h3 If my washing machine requires spare parts during repair, are they charged extra?
          .content
            p 
              | At Service Repair India, we believe in transparent pricing. If your washing machine needs spare parts during repair, we'll inform you of any additional charges before proceeding. Our goal is to provide quality service at fair prices, ensuring your satisfaction with the repair process.
        li 
          input#1(type='radio' name='accordian')
          label(for='1') 
            h3 Does Service Repair India provide washing machine home repair services?
          .content
            p 
              | Yes, Service Repair India provides doorstep washing machine repair services by experienced technicians. Get fast and effective solutions from our skilled team at your convenience.
        li 
          input#3(type='radio' name='accordian')
          label(for='3') 
            h3 After placing the request, when can I expect to receive washing machine service?
          .content
            p 
              | We aim to provide you with prompt and efficient washing machine service. After receiving your request, our professional will contact you within 10 to 20 minutes or ASAP to schedule a convenient time for the service.
        li 
          input#4(type='radio' name='accordian')
          label(for='4') 
            h3 Is there any warranty provided on washing machine repairs done by Service Repair India?
          .content
            p 
              | At Service Repair India, we provide warranty on all the repairs completed by our skilled technicians. The warranty period may vary based on the type of repair and spare parts used, but for general repairs, we offer a 30-day warranty. If any issues arise within the warranty period, we will make it right at no additional cost to you. We take pride in our work and are committed to providing reliable and high quality washing machine service to our customers. Trust us for reliable repairs that last.
        li 
          input#5(type='radio' name='accordian')
          label(for='5') 
            h3 What if Service Repair India's engineer cannot fix the problem with my washing machine?
          .content
            p 
              | Our skilled technicians at Service Repair India have successfully completed hundreds of repair jobs and are highly proficient in their work. In the rare case that the repair is not completed during the first visit, we will schedule another visit at no extra cost to you, to ensure your complete satisfaction with our washing machine services.
        li 
          input#6(type='radio' name='accordian')
          label(for='6') 
            h3 Do you use genuine spare parts for replacement?
          .content
            p 
              | Rest assured that our skilled washing machine professionals use only genuine spare parts for replacements, and if the need arises to use an alternative, they will seek your approval before proceeding. Your satisfaction is our top priority.
        li 
          input#7(type='radio' name='accordian')
          label(for='7') 
            h3 Who is responsible for obtaining the necessary parts if needed?
          .content
            p 
              | Our technician will take care of getting replacement parts to repair your washing machine. You can choose to buy the parts yourself if you prefer. Our top priority is to ensure that you receive a seamless washing machine repair experience that exceeds your expectations.
        li 
          input#8(type='radio' name='accordian')
          label(for='8') 
            h3 Do you provide warranty on spare parts?
          .content
            p 
              | Yes, we provide warranty on spare parts. The warranty period may vary depending on the type of spare parts used.
        li 
          input#2(type='radio' name='accordian')
          label(for='2') 
            h3 What are the working hours of Service Repair India?
          .content
            p 
              | Our opening hours are 7:00 AM to 11:00 PM, 7 days a week.
        li 
          input#9(type='radio' name='accordian')
          label(for='9') 
            h3 Does Service Repair India have washing machine customer support helpline?
          .content
            p 
              | Yes! We understand that customers may need assistance even outside of regular business hours. That's why we've made our washing machine customer support available every day from 7 AM to 11 PM. You can reach us by dialing 9928622128. Our team is always ready to help you with any concerns or inquiries you may have.
        li 
          input#10(type='radio' name='accordian')
          label(for='10') 
            h3 If necessary, does Service Repair India provide pick-up services to take my washing machine or damaged part of the washing machine to their workshop?
          .content
            p 
              | Yes, Service Repair India provides convenient pick-up and drop-off services for your washing machine when needed. Once the repair work is completed, they will promptly return your washing machine to your doorstep. Schedule a repair today for the ultimate convenience!
        li 
          input#11(type='radio' name='accordian')
          label(for='11') 
            h3 Can I purchase an washing machine AMC from Service Repair India?
          .content
            p 
              | Yes, you can buy an Annual Maintenance Contract (AMC) from Service Repair India to ensure regular maintenance and timely repairs of your washing machine. This will help keep your washing machine in good working condition and prevent unexpected breakdowns. Contact us now to learn more about the available plans and how to get started.
        li 
          input#12(type='radio' name='accordian')
          label(for='12') 
            h3 How is Service Repair India's washing machine service different from other service providers?
          .content
            p 
              | Service Repair India provides a consistent and reliable washing machine service experience, unlike other service providers who rely on a network of freelance technicians. Our in-house washing machine service engineers have over a decade of experience in this field, ensuring expert and reliable services. Choose Service Repair India for a seamless washing machine service experience with transparent pricing and quick response time.
        li 
          input#13(type='radio' name='accordian')
          label(for='13') 
            h3 What guarantees the reliability of Service Repair India's washing machine professionals?
          .content
            p 
              | At Service Repair India, we ensure reliability and professionalism by thoroughly screening our washing machine professionals based on qualifications, experience, and expertise. We conduct background checks, provide ongoing training programs, and prioritize accountability along with customer satisfaction. This fosters a culture of trust and confidence in the reliability of our washing machine professionals and the services we provide.







    
    section.about-Us
      .heading-about-Us More About Us,
      p.info-weDo.padding-X
        | We are honored to serve you and provide top-notch services. Our home services span across India and cater to all product types and brands that are out of warranty, including ACs, refrigerators, washing machines, microwave ovens, TVs, and many more. As a privately owned center, we offer chargeable services and have a dedicated team of service professionals who are committed to providing the highest quality service with utmost consumer satisfaction. Our technicians are rigorously trained to deliver prompt and efficient service, ensuring that your job is completed to perfection. Plus, we stand behind our work with a 30-day service warranty so you can have peace of mind. When you choose us, you can rest assured that your appliances are in good hands!
      .call-Us-now
        | Call Us Now at -: 
        a(href=`tel:${NumValue}`)
          .inline-Block  #{NumValue} 
  
  

  
    footer
      script(type='application/ld+json').
        {
        "@context": "https://schema.org",
        "@type": "LocalBusiness",
        "description": "97844-67343 | Get the best, Washing Machine - ✓Service, ✓Repair, ✓Installation, ✓Uninstallation etc. We provide services for all types of Washing Machines and all brands.",
        "name": "Washing Machine Service Repair",
        "alternateName": "Washing Machine Service Center",
        "image": "https://www.servicerepairindia.com/static/img/WashingMachine.webp",
        "@id": "",
        "url": "https://www.servicerepairindia.com/WashingMachine-Service-Center",
        "telephone": "#{NumValue}",
        "priceRange": "According to service",
        "address": {
        "@type": "PostalAddress",
        "streetAddress": "",
        "addressLocality": "",
        "postalCode": "",
        "addressCountry": "IN"
        },
        "openingHoursSpecification": {
        "@type": "OpeningHoursSpecification",
        "dayOfWeek": [
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday",
        "Saturday",
        "Sunday"
        ],
        "opens": "00:00",
        "closes": "23:59"
        }
        }
      .footer-black 
        .our-services 
          span.our-services-heading 
            | Our Services
          ul.our-services-ul 
           li.our-services-li 
             a(href='/AC-Service-Center') AC
           li.our-services-li
             a(href='/Refrigerator-Service-Center') Refrigerator
           li.our-services-li
             a(href='/WashingMachine-Service-Center') Washing Machine
           li.our-services-li
             a(href='/MicrowaveOven-Service-Center') Microwave
           li.our-services-li
             a(href='/TV-Service-Center') TV
        .our-services.services2
          span.our-services-heading 
            | Contact Us     
          ul.our-services-ul 
           li.our-services-li 
             span.fa.fa-mobile(aria-hidden='true')
             a.footer-a(href=`tel:${NumValue}`)
               | #{NumValue}
           li.our-services-li
             span.fa.fa-clock
             span.footer-hrs
               | Opening Hours: 7:00 AM to 11:00 PM, 7 days a week
      .footer
        a(href='/' target='_blank')  Service Repair India 
        |  | All Rights Reserved.
  
  
    script(src='/static/index.js' defer='')
  

